Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

test: fix golint errors
  .github/workflows/static.yaml
  pkg/azureutils/azure_disk_utils.go
  pkg/csi-common/utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: migrate csi driver sidecar images to dalec images
  charts/latest/azuredisk-csi-driver-1.33.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: migrate csi driver sidecar images to dalec images
  charts/latest/azuredisk-csi-driver-1.33.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade alpine base image
  pkg/azuredisk/azure_common_linux.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Use WMI associator to find associated instances
  pkg/os/cim/volume.go
  pkg/os/cim/wmi.go
  pkg/os/volume/volume_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: revert code and skip tests
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

cleanup: fix helm chart index file
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

perf: use completion percentage for checking ready to use in utility
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_snapshot_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: ensure pvc.spec.volumeName isn't empty in e2e tests
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

perf: code review comments and use get instead of create_or_update to avoid throttling in scale case
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: make disk and snapshot uri regex case insensitive everywhere
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix existing failed testcases
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix existing failed v2 testcases
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: allow the create_or_update to decide sourceVolumeID and revert related testcase
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove references to v2 driver
  Makefile
  deploy/example/failover/README.md
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  docs/csi-dev.md
  docs/design-v2.md
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_v2.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/README.md
  test/sanity/run-test.sh
  test/sanity/sanity_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add missed Makefile refs
  Makefile
Due: none

chore: CVE-2025-4563 update k8s pkg
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/common.go
  vendor/k8s.io/kubernetes/pkg/util/kernel/constants.go
  vendor/k8s.io/kubernetes/pkg/volume/util/resize_util.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

chore: adding more owners
  OWNERS
Due: none

chore: add new owners
  OWNERS
Due: none

chore: remove ex with scheduler extender
  deploy/example/azdiskschedulerextender/nginx-pod-with-azschedulerextender.yaml
Due: verify-yamllint

Revert "chore: upgrade alpine base image"
  pkg/azuredisk/azure_common_linux.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2025-4563
  deploy/example/statefulset.yaml
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/features/versioned_kube_features.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/common.go
  vendor/k8s.io/kubernetes/pkg/util/kernel/constants.go
  vendor/k8s.io/kubernetes/pkg/volume/util/resize_util.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod, verify-yamllint

perf: use ready to use to wait for snapshot as default method
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: xfs mount failure on Azure Linux 3.0 node
  pkg/azuredisk/azure_common_linux.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: reduce k8s retry for attach/detach
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: update ModifyVolume doc
  deploy/example/modifyvolume/README.md
Due: none
