Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: update handleReplicaDelete function
  pkg/controller/replica.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk num table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade csi sidecar container images
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix test failure
  pkg/azuredisk/mockkubeclient/interface.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: combine waitForSnapshotCopy func
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max datadisk num table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add copy snapshot to new region in CreateSnapshot, add unit test and e2e test
  deploy/csi-azuredisk-controller.yaml
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_cross_region_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

test: refine test
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix snapshot test failure
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: add publicNetworkAccess parameter in storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  README.md
Due: none

bump cloud provider azure
  go.sum
  pkg/azuredisk/mockkubeclient/interface.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_cmd_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_collocated_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_delete_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_external_rg_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_invalid_mount_options.go
  test/e2e/testsuites/dynamically_provisioned_pod_failover_tester.go
  test/e2e/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  test/e2e/testsuites/dynamically_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_shared_disk_tester.go
  test/e2e/testsuites/dynamically_provisioned_statefulset_e2e_tester.go
  test/e2e/testsuites/dynamically_provisioned_volume_cloning_tester.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/e2e/testsuites/dynamically_provisioned_volume_subpath_tester.go
  test/e2e/testsuites/pre_provisioned_dangling_attach_volume_tester.go
  test/e2e/testsuites/pre_provisioned_inline_volume_tester.go
  test/e2e/testsuites/pre_provisioned_multiple_pods.go
  test/e2e/testsuites/pre_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/pre_provisioned_reclaim_policy_tester.go
  test/e2e/testsuites/pre_provisioned_shared_disk_tester.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/k8s_references.go
  vendor/k8s.io/mount-utils/mount.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

go mod
  go.sum
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/k8s_references.go
  vendor/k8s.io/mount-utils/mount.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
Due: verify-gomod

revert mockgen
  pkg/azuredisk/mockkubeclient/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_cross_region_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: add dependabot
  .github/dependabot.yaml
Due: verify-yamllint

fix test
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

move ut for waitForSnapshotCopy to azuredisk_test.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

support workload identity
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add docs
  docs/workload-identity.md
Due: none

docs
  docs/workload-identity.md
Due: none

update helm package
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

changing release binary url
  test/external-e2e/run.sh
Due: none

doc: cut v1.26.4 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.3.tgz
  charts/latest/azuredisk-csi-driver-v1.26.4.tgz
  charts/v1.26.4/azuredisk-csi-driver-v1.26.4.tgz
  charts/v1.26.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/values.yaml
  deploy/v1.26.4/crd-csi-snapshot.yaml
  deploy/v1.26.4/csi-azuredisk-controller.yaml
  deploy/v1.26.4/csi-azuredisk-driver.yaml
  deploy/v1.26.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.4/csi-azuredisk-node-windows.yaml
  deploy/v1.26.4/csi-azuredisk-node.yaml
  deploy/v1.26.4/csi-snapshot-controller.yaml
  deploy/v1.26.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: update new chart versions and remove deprecated versions
  README.md
  charts/index.yaml
  charts/v1.26.3/azuredisk-csi-driver-v1.26.3.tgz
  charts/v1.26.4/azuredisk-csi-driver-v1.26.4.tgz
  charts/v1.26.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.4/azuredisk-csi-driver/values.yaml
  deploy/v1.26.4/crd-csi-snapshot.yaml
  deploy/v1.26.4/csi-azuredisk-controller.yaml
  deploy/v1.26.4/csi-azuredisk-driver.yaml
  deploy/v1.26.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.4/csi-azuredisk-node-windows.yaml
  deploy/v1.26.4/csi-azuredisk-node.yaml
  deploy/v1.26.4/csi-snapshot-controller.yaml
  deploy/v1.26.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.1.md
  docs/install-csi-driver-v1.26.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: snapshot controller crash issue when CRDs are not ready
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix snapshot test failure
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: upgrade to snapshot v6.2.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/crd-csi-snapshot.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: make sure the VolumeSnapshots v1 CRDs exist before starting
  charts/latest/azuredisk-csi-driver-v1.27.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
