Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

test: fix snapshot test failure
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: add enablePerformancePlus in storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

build: add dependabot job for dockerfiles
  .github/dependabot.yaml
Due: verify-yamllint

chore: update cloud provider lib
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/ordering.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_managedDiskController.go
Due: verify-gomod

cleanup: remove incremental param in storage class
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: refine workload identity doc
  README.md
  docs/workload-identity.md
Due: none

feat: host process container deployment support
  Makefile
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  hack/release-image.sh
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azurediskplugin/WindowsHostProcess.Dockerfile
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/mounter/fake_safe_mounter.go
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/mounter/safe_mounter_unix.go
  pkg/mounter/safe_mounter_unix_test.go
  pkg/mounter/safe_mounter_windows.go
  pkg/os/disk/disk.go
  pkg/os/disk/types.go
  pkg/os/filesystem/filesystem.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

test: skip one snapshot test on Windows
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: hpc image build on AKS
  Makefile
Due: none

test: skip snapshot test on windows e2e test
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: cleanup operation requester
  pkg/controller/common.go
  pkg/controller/node.go
  pkg/controller/replica_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add .Values.schedulerExtender.kubeApiQps and .Values.schedulerExtender.kubeApiBurst to allow for KubeSchedulerConfiguration override in testing
  charts/README.md
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: reduce host process disk partition logs
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: refine Makefile
  Makefile
Due: none

Update README.md
  docs/known-issues/node-shutdown-recovery/README.md
Due: none

fix: only allow running one Powershell command at one time to avoid OOM
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade csi-snapshot to v6.2.2
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update scale tester
  test/scale/scale_tester.go
  test/utils/volume/vol_utils.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: increase snapshot controller memory limits
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: only watch for events that replica controller get interested
  pkg/controller/common.go
  pkg/controller/replica.go
  pkg/controller/replica_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

first draft: change createVolume & change getCloudProviderFromCLient() & add new structs
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: do not expose cloud-provider-azure from provisioner package
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/azuredisk_v2_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azuredisk/nodeserver_v2_test.go
  pkg/azuredisk/version_test.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/controller/common.go
  pkg/optimization/skus.go
  pkg/optimization/skus_test.go
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/cloudprovisioner_test.go
  pkg/provisioner/fake_cloudprovisioner.go
  test/e2e/suite_test.go
  vendor/k8s.io/cloud-provider/fake/doc.go
  vendor/k8s.io/cloud-provider/fake/fake.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

draft: changed DeleteVolume() and added a field in Cloud
  pkg/azureutils/azure.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add attachInitialDelay parameter in storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit tests
  docs/driver-parameters.md
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add attachDiskInitialDelay parameter in storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove incremental param in storage class
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

pushing changes
  go.mod
  go.sum
  pkg/azureutils/azure.go
  pkg/azureutils/azure_config.go
  pkg/azureutils/azure_disk_utils.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

Update README.md
  deploy/example/snapshot/README.md
Due: none

feat: use IMDS VM name as CSI driver node id
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add node.getNodeIDFromIMDS in helm chart
  Makefile
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: update max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

WIP: Publish/Unpublish volumes and azure_disks_utils
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_ratelimit.go
  pkg/controller/common.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.28.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.28.0.tgz
  charts/v1.28.0/azuredisk-csi-driver-v1.28.0.tgz
  charts/v1.28.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.0/azuredisk-csi-driver/values.yaml
  deploy/v1.28.0/crd-csi-snapshot.yaml
  deploy/v1.28.0/csi-azuredisk-controller.yaml
  deploy/v1.28.0/csi-azuredisk-driver.yaml
  deploy/v1.28.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.0/csi-azuredisk-node-windows.yaml
  deploy/v1.28.0/csi-azuredisk-node.yaml
  deploy/v1.28.0/csi-snapshot-controller.yaml
  deploy/v1.28.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
