Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: tagValueDelimiter mismatch
  pkg/azureconstants/azure_constants.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: tagValueDelimiter parameter mismatch
  pkg/azureconstants/azure_constants.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: Add a file watcher for Azure client cert auth
  go.mod
  pkg/azureutils/azure_disk_utils.go
  pkg/filewatcher/filewatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: Add a file watcher for Azure client cert auth
  pkg/azureutils/azure_disk_utils.go
  pkg/filewatcher/filewatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: refine file watcher
  pkg/filewatcher/filewatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: refine logging
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: refine logging
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

doc: cut v1.30.6 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.5.tgz
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/v1.30.6/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.6/azuredisk-csi-driver-v1.30.6.tgz
  charts/v1.30.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.6/azuredisk-csi-driver/values.yaml
  deploy/v1.30.6/crd-csi-snapshot.yaml
  deploy/v1.30.6/csi-azuredisk-controller.yaml
  deploy/v1.30.6/csi-azuredisk-driver.yaml
  deploy/v1.30.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.6/csi-azuredisk-node-windows.yaml
  deploy/v1.30.6/csi-azuredisk-node.yaml
  deploy/v1.30.6/csi-snapshot-controller.yaml
  deploy/v1.30.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.1 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.31.1/azuredisk-csi-driver-1.31.0.tgz
  charts/v1.31.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.1/azuredisk-csi-driver/values.yaml
  deploy/v1.31.1/crd-csi-snapshot.yaml
  deploy/v1.31.1/csi-azuredisk-controller.yaml
  deploy/v1.31.1/csi-azuredisk-driver.yaml
  deploy/v1.31.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.1/csi-azuredisk-node-windows.yaml
  deploy/v1.31.1/csi-azuredisk-node.yaml
  deploy/v1.31.1/csi-snapshot-controller.yaml
  deploy/v1.31.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.11 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.10.tgz
  charts/latest/azuredisk-csi-driver-v1.29.11.tgz
  charts/v1.29.11/azuredisk-csi-driver-v1.29.11.tgz
  charts/v1.29.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.11/azuredisk-csi-driver/values.yaml
  deploy/v1.29.11/crd-csi-snapshot.yaml
  deploy/v1.29.11/csi-azuredisk-controller.yaml
  deploy/v1.29.11/csi-azuredisk-driver.yaml
  deploy/v1.29.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.11/csi-azuredisk-node-windows.yaml
  deploy/v1.29.11/csi-azuredisk-node.yaml
  deploy/v1.29.11/csi-snapshot-controller.yaml
  deploy/v1.29.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: set concurrent-format-timeout as 100s
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unused livenessProbe in registrar
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase liveness probe timeout on Windows csi-proxy mode
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove unused livenessProbe in registrar
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove unused livenessProbe in registrar
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove unused livenessProbe in registrar
  charts/latest/azuredisk-csi-driver-v1.29.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

update deps in one pr.
  .github/dependabot.yaml
Due: verify-yamllint

vendor: adopt autolun API
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/mockvmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: none

feat: pick region when zonal node pool is in different region
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update CSI spec to v1.10.0
  go.mod
  go.sum
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/identityserver_test.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/csi-common/utils_test.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi_grpc.pb.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix ut
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix(win): filter disks in adapter 0 to avoid mounting system drives
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

avoid duplicate ssl mounts
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

simplify the expression in one line
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: skip reverted MBR partition style disk on Windows node
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

update tgz file after charts config is changed
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Redhat in AzureStack environment
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Redhat in AzureStack environment
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Redhat in AzureStack environment
  charts/latest/azuredisk-csi-driver-v1.29.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
