Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: skip GetSupportedSize on Windows when the disk has not grown
  pkg/os/volume/volume_cim.go
  pkg/os/wmi/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: cover the unallocated-space check before GetSupportedSize
  pkg/os/volume/volume_cim.go
  pkg/os/volume/volume_cim_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: revert back to kubernetes mount utils fsck behavior
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: Sync before unmount as part of NodeUnstageVolume request
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  go.mod
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azurediskplugin/Dockerfile
  pkg/metrics/metrics_test.go
  pkg/mounter/fake_safe_mounter.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: address review comments
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add formatAndMount metrics
  deploy/example/metrics/README.md
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix the unit test
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

publish azuredisk-csi-driver chart 1.33.13
  azuredisk-csi-driver-1.33.13.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.7
  azuredisk-csi-driver-1.34.7.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.36.0
  azuredisk-csi-driver-1.36.0.tgz
  index.yaml
Due: verify-yamllint

fix: make detectOrRepairFilesystem strict and add wrapper function
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: gate Kata direct volumes on node annotation
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: avoid stale device cache inconsistencies
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: recalculate migration monitor timeouts based on updated throughput assumptions
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: include 64TiB boundary in migration timeout lookup
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: preserve default OTLP exporter endpoint
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: verify NVMe device identity with kernel cache
  go.mod
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: treat nil CompletionPercent as complete, matching Azure portal semantics
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
