Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: add more scoping for feature gate
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: remove win feature gate, optimize pv lookup and unblock static pv
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: add helm pkg
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: add fallback to volume context, change annotation updates
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  docs/node-driven-attach-detach.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: remove volume context fallback for qad check
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove qad flag from e2e tests
  pkg/azuredisk/attach_mode_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/features.go
  test/e2e/driver/azuredisk_driver.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: gate everything behind the QAD feature gate
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: skip fsck on newly formatted volumes
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix several issues on the feature branch
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: add direct PV lookup, fix doc and http transport
  docs/node-driven-attach-detach.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: minor fixes
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: store cache mode in annotations
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Feature: QAD - NodeDriven attach (#3825)
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  docs/driver-parameters.md
  docs/node-driven-attach-detach.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/attach_mode.go
  pkg/azuredisk/attach_mode_test.go
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/features.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/driver/azuredisk_driver.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

feat: convert enable-kata-mount flag to KataMount feature gate
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/features.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix(nodeserver): always acquire volume lock in NodeExpandVolume
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test(azuredisk): verify KataMount feature gate wiring in NewDriver
  Makefile
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: block kata until runtime checks are added
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: convert enable-kata-mount flag to KataMount feature gate (#3842)
  Makefile
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/features.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

docs(kata-mount): note KataMount gate targets 1.36.1 for runtime detection
  docs/kata-mount.md
Due: none

docs(kata-mount): note KataMount gate targets 1.36.1 for runtime detection (#3843)
  docs/kata-mount.md
Due: none

feat: gate Kata direct volumes on node annotation
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.36.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.36.0/azuredisk-csi-driver-1.36.0.tgz
  charts/v1.36.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.36.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.36.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.36.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.36.0/azuredisk-csi-driver/values.yaml
  deploy/v1.36.0/crd-csi-snapshot.yaml
  deploy/v1.36.0/csi-azuredisk-controller.yaml
  deploy/v1.36.0/csi-azuredisk-driver.yaml
  deploy/v1.36.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.36.0/csi-azuredisk-node-windows.yaml
  deploy/v1.36.0/csi-azuredisk-node.yaml
  deploy/v1.36.0/csi-snapshot-controller.yaml
  deploy/v1.36.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.36.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.36.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.36.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.33.13 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.12.tgz
  charts/latest/azuredisk-csi-driver-1.33.13.tgz
  charts/v1.33.13/azuredisk-csi-driver-1.33.13.tgz
  charts/v1.33.13/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.13/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.13/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.13/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.13/azuredisk-csi-driver/values.yaml
  deploy/v1.33.13/crd-csi-snapshot.yaml
  deploy/v1.33.13/csi-azuredisk-controller.yaml
  deploy/v1.33.13/csi-azuredisk-driver.yaml
  deploy/v1.33.13/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.13/csi-azuredisk-node-windows.yaml
  deploy/v1.33.13/csi-azuredisk-node.yaml
  deploy/v1.33.13/csi-snapshot-controller.yaml
  deploy/v1.33.13/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.13/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.13/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.13.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.34.7 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.6.tgz
  charts/latest/azuredisk-csi-driver-1.34.7.tgz
  charts/v1.34.7/azuredisk-csi-driver-1.34.7.tgz
  charts/v1.34.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.7/azuredisk-csi-driver/values.yaml
  deploy/v1.34.7/crd-csi-snapshot.yaml
  deploy/v1.34.7/csi-azuredisk-controller.yaml
  deploy/v1.34.7/csi-azuredisk-driver.yaml
  deploy/v1.34.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.7/csi-azuredisk-node-windows.yaml
  deploy/v1.34.7/csi-azuredisk-node.yaml
  deploy/v1.34.7/csi-snapshot-controller.yaml
  deploy/v1.34.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: skip GetSupportedSize on Windows when the disk has not grown
  pkg/os/volume/volume_cim.go
  pkg/os/wmi/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: cover the unallocated-space check before GetSupportedSize
  pkg/os/volume/volume_cim.go
  pkg/os/volume/volume_cim_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: keep qad and k8s state consistent
  docs/node-driven-attach-detach.md
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address OpenTelemetry review feedback
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  go.mod
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/trace.go
  pkg/azuredisk/trace_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/ratelimiter_trace.go
  pkg/azureutils/ratelimiter_trace_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: CVE-2026-84445
  go.mod
  go.sum
  vendor/google.golang.org/grpc/balancer/endpointsharding/endpointsharding.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/call.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/internal/buffer/unbounded.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/grpcsync/refcounted.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/metadata/metadata.go
  vendor/google.golang.org/grpc/resolver_wrapper.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: verify-gomod

bump github/codeql-action init+analyze from 4.38.0 to 4.38.2
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint
