Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: fixing pod failure status
  test/podFailover/controller/chart/templates/podfailurecrd.yaml
Due: verify-yamllint

fix: increase sidecar container memory limits on Windows
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: add scheduler extender cpu and memory usage in yaml files
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: refine mount error msg in pod events
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: Ultra Disk DefaultDiskMBPSReadWrite calc issue
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/util/util.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: move funtions to shared_state.go
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit test to azvolume.go
  pkg/controller/azvolume_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit tests to attach_detach.go
  pkg/controller/attach_detach_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: support location in storage class
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: reduce VMSS throttling when throttling happens
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit tests to pv.go
  pkg/controller/common_test.go
  pkg/controller/pv.go
  pkg/controller/pv_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: adding optional workload value to pod-failover
  test/e2e/manifest/pod-failover.json
  test/podFailover/workload/chart/templates/workload.yaml
  test/podFailover/workload/scenarios/azDiskV2-Replicas.yaml
  test/podFailover/workload/scenarios/azDiskV2-noReplicas.yaml
Due: verify-yamllint

test: add and edit unit tests to pod.go
  pkg/controller/pod_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add and edit unit tests to replica_test.go
  pkg/controller/replica_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update install-driver-on-aks.md
  docs/install-driver-on-aks.md
Due: none

chore: update values as per p50 numbers
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: fixing scheduler extender and same node failover
  test/e2e/manifest/pod-failover.json
  test/podFailover/controller/cmd/main.go
  test/podFailover/workload/chart/templates/workload.yaml
  test/podFailover/workload/scenarios/azDiskV2-Replicas.yaml
  test/podFailover/workload/scenarios/sameNodeFailover.yaml
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint

chore: upgrade azure cloud provider lib
  go.mod
  go.sum
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
Due: verify-gomod

bugfix around replica management
  go.mod
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/common.go
  pkg/controller/replica.go
  pkg/controller/shared_state.go
  pkg/provisioner/cloudprovisioner.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Draft PR to test VMSSFlex-CSI integration
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
Due: none

chore: update max_disk_count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

if scaleSet.OrchestrationMode != compute.OrchestrationModeFlexible
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: none

test: run sanity test on csi-test v5.0.0
  test/sanity/run-tests-all-clouds.sh
Due: none

scaleSet.OrchestrationMode == || scaleSet.OrchestrationMode == compute.OrchestrationModeUniform
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: none

chore: update net/http to fix CVE vulnerability
  go.mod
  go.sum
  vendor/golang.org/x/net/AUTHORS
  vendor/golang.org/x/net/CONTRIBUTORS
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http/httpguts/httplex.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/idna/trieval.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Due: verify-gomod

test: add unit tests for UpdateCRIWithRetry
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/mockclient/doc.go
  pkg/azureutils/mockclient/interface.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azdrivernode_test.go
  pkg/controller/azvolume_test.go
  pkg/controller/common_test.go
  pkg/controller/node_availability_test.go
  pkg/controller/pod_test.go
  pkg/controller/pv_test.go
  pkg/controller/replica_test.go
  pkg/controller/shared_state_test.go
  pkg/controller/volumeattachment_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix sanity test
  test/sanity/run-test.sh
Due: none

fix: minor bugfix in replic management logic
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/common.go
  pkg/controller/replica.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Adding options to configure attach/detach rate limiter
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  go.mod
  go.sum
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/provisioner/cloudprovisioner.go
  test/e2e/suite_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

test: add e2e tests for conflicting UUIDs issue and supporting for setting inter-pod affinity or anti-affinity on the test pod definition
  Makefile
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/utils/testutil/env_utils.go
  test/utils/testutil/test_ops_util.go
Due: verify-gofmt, verify-govet, verify-gomod

support https proxy and http proxy in chart config
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: zone format check when cloud config is empty
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

update helm package
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

feat: make initial attach/detach disk batch delay configurable
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  go.mod
  go.sum
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_ratelimit.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: CRI recovery should not miss volumeContext or publishContext
  go.mod
  go.sum
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/shared_state.go
  vendor/k8s.io/csi-translation-lib/LICENSE
  vendor/k8s.io/csi-translation-lib/plugins/aws_ebs.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_disk.go
  vendor/k8s.io/csi-translation-lib/plugins/azure_file.go
  vendor/k8s.io/csi-translation-lib/plugins/const.go
  vendor/k8s.io/csi-translation-lib/plugins/gce_pd.go
  vendor/k8s.io/csi-translation-lib/plugins/in_tree_volume.go
  vendor/k8s.io/csi-translation-lib/plugins/openstack_cinder.go
  vendor/k8s.io/csi-translation-lib/plugins/portworx.go
  vendor/k8s.io/csi-translation-lib/plugins/rbd.go
  vendor/k8s.io/csi-translation-lib/plugins/vsphere_volume.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add configuration to upgrade test to allow upgrade test scenarios from specific image version
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azvolume_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/pod_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  test/const/test_consts.go
  test/upgrade/flags.go
  test/upgrade/upgrade_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add the caller to ConditionWaiter.Wait workflow
  pkg/watcher/conditionwaiter.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add retry details to workflow logging in UpdateCRIWithRetry
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
