Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.28.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.5 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.4.tgz
  charts/latest/azuredisk-csi-driver-v1.26.5.tgz
  charts/v1.26.5/azuredisk-csi-driver-v1.26.5.tgz
  charts/v1.26.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/values.yaml
  deploy/v1.26.5/crd-csi-snapshot.yaml
  deploy/v1.26.5/csi-azuredisk-controller.yaml
  deploy/v1.26.5/csi-azuredisk-driver.yaml
  deploy/v1.26.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.5/csi-azuredisk-node-windows.yaml
  deploy/v1.26.5/csi-azuredisk-node.yaml
  deploy/v1.26.5/csi-snapshot-controller.yaml
  deploy/v1.26.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update master branch build version
  Makefile
Due: none

cleanup: update new chart versions and remove deprecated versions
  README.md
  charts/index.yaml
  charts/v1.26.4/azuredisk-csi-driver-v1.26.4.tgz
  charts/v1.26.5/azuredisk-csi-driver-v1.26.5.tgz
  charts/v1.26.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.5/azuredisk-csi-driver/values.yaml
  deploy/v1.26.5/crd-csi-snapshot.yaml
  deploy/v1.26.5/csi-azuredisk-controller.yaml
  deploy/v1.26.5/csi-azuredisk-driver.yaml
  deploy/v1.26.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.5/csi-azuredisk-node-windows.yaml
  deploy/v1.26.5/csi-azuredisk-node.yaml
  deploy/v1.26.5/csi-snapshot-controller.yaml
  deploy/v1.26.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: missing log when IMDS is not available on windows node
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2023-2431
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/apimachinery/pkg/types/namespacedname.go
  vendor/k8s.io/apiserver/pkg/cel/common/values.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/client-go/openapi/client.go
  vendor/k8s.io/client-go/openapi/groupversion.go
  vendor/k8s.io/kube-openapi/pkg/handler/handler.go
  vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/volume_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/volume_unsupported.go
  vendor/k8s.io/kubernetes/test/e2e/framework/get.go
  vendor/k8s.io/kubernetes/test/e2e/framework/kubectl/builder.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/metrics/metrics.go
Due: verify-gomod

changes to cloudprovisioner.go and fixing compilation errors
  pkg/azuredisk/azure_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_test.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/identityserver_test.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure.go
  pkg/azureutils/azure_auth.go
  pkg/azureutils/azure_cache.go
  pkg/azureutils/azure_error.go
  pkg/azureutils/azure_instance_metadata.go
  pkg/azureutils/azure_loadbalancer_backendpool.go
  pkg/azureutils/azure_ratelimit.go
  pkg/azureutils/azure_routes.go
  pkg/azureutils/azure_standard.go
  pkg/azureutils/azure_vmsets.go
  pkg/azureutils/azure_vmss.go
  pkg/azureutils/azure_vmssflex.go
  pkg/azureutils/azure_wrap.go
  pkg/controller/common.go
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/cloudprovisioner_test.go
  pkg/provisioner/fake_cloudprovisioner.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

resolving more compilation issues
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure_instance_metadata.go
  pkg/azureutils/azure_loadbalancer_backendpool.go
  pkg/azureutils/azure_vmss.go
  pkg/azureutils/azure_vmssflex.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor/modules.txt
  vendor/modules.txt
Due: none

resolve compiler issues and rewrite PublishVolume
  pkg/azuredisk/azure_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_test.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_test.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_fake.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_zones.go
  pkg/controller/common.go
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/cloudprovisioner_test.go
  pkg/provisioner/crdprovisioner_test.go
  pkg/provisioner/fake_cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

adding snapshots functions implementation
  pkg/azureutils/azure.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: pkg imported more than once
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/mockpersistentvolume/interface.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

[local] Add sync workflow
  .github/workflows/sync.yml
Due: verify-yamllint

add checks for IOPSreadwrite and MBPSreadwrite in cloudprovisioner.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

adding checks
  pkg/azureutils/azure_disk_utils.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

adding helper function to get vmss name of a vm
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix build failure due to azure lib upgrade
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.28.1 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.0.tgz
  charts/latest/azuredisk-csi-driver-v1.28.1.tgz
  charts/v1.28.1/azuredisk-csi-driver-v1.28.1.tgz
  charts/v1.28.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/values.yaml
  deploy/v1.28.1/crd-csi-snapshot.yaml
  deploy/v1.28.1/csi-azuredisk-controller.yaml
  deploy/v1.28.1/csi-azuredisk-driver.yaml
  deploy/v1.28.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.1/csi-azuredisk-node-windows.yaml
  deploy/v1.28.1/csi-azuredisk-node.yaml
  deploy/v1.28.1/csi-snapshot-controller.yaml
  deploy/v1.28.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fixing bugs in cloudprovisioner.go and add cache implementation
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/vmss_Cache.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: persist replica attachment failures
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: cleaner, more efficient event refresher
  hack/azure-cluster-up.sh
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azurediskplugin/main.go
  pkg/controller/common.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cache changes
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/vmss_Cache.go
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/vmss_Cache.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

adding update operation to cache
  pkg/azureutils/vmss_Cache.go
  pkg/watcher/conditionwatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: simpler event refresher with more test coverage
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/controller/shared_state_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix codespell errors
  hack/azure-cluster-up.sh
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cache changes + add logs to debug
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/vmss_Cache.go
  pkg/controller/attach_detach.go
  pkg/watcher/conditionwatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: update new chart versions and remove deprecated versions
  README.md
  charts/index.yaml
  charts/v1.28.0/azuredisk-csi-driver-v1.28.0.tgz
  charts/v1.28.1/azuredisk-csi-driver-v1.28.1.tgz
  charts/v1.28.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.1/azuredisk-csi-driver/values.yaml
  deploy/v1.28.1/crd-csi-snapshot.yaml
  deploy/v1.28.1/csi-azuredisk-controller.yaml
  deploy/v1.28.1/csi-azuredisk-driver.yaml
  deploy/v1.28.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.1/csi-azuredisk-node-windows.yaml
  deploy/v1.28.1/csi-azuredisk-node.yaml
  deploy/v1.28.1/csi-snapshot-controller.yaml
  deploy/v1.28.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleaning up
  pkg/azureutils/azure.go
  pkg/azureutils/azure_auth.go
  pkg/azureutils/azure_cache.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_error.go
  pkg/azureutils/azure_instance_metadata.go
  pkg/azureutils/azure_loadbalancer_backendpool.go
  pkg/azureutils/azure_ratelimit.go
  pkg/azureutils/azure_routes.go
  pkg/azureutils/azure_standard.go
  pkg/azureutils/azure_vmsets.go
  pkg/azureutils/azure_vmss.go
  pkg/azureutils/azure_vmssflex.go
  pkg/azureutils/azure_wrap.go
  pkg/azureutils/vmss_Cache.go
  pkg/controller/attach_detach.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleaning up pt 2
  pkg/azuredisk/nodeserver.go
  pkg/azureutils/azure.go
  pkg/azureutils/azure_cache.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_instance_metadata.go
  pkg/azureutils/azure_vmsets.go
  pkg/azureutils/azure_zones.go
  pkg/azureutils/vmss_Cache.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

clean up pt3
  pkg/azuredisk/nodeserver.go
  pkg/azureutils/azure.go
  pkg/azureutils/azure_cache.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_instance_metadata.go
  pkg/azureutils/azure_vmsets.go
  pkg/azureutils/azure_wrap.go
  pkg/azureutils/azure_zones.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: use InClusterConfig by default on Windows node
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
Due: verify-yamllint

chore: update max datadisk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
