Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

test: fix golint
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix go vendor
  go.mod
  vendor/modules.txt
Due: verify-gomod

doc: cut v1.31.3 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.2.tgz
  charts/latest/azuredisk-csi-driver-1.31.3.tgz
  charts/v1.31.3/azuredisk-csi-driver-1.31.3.tgz
  charts/v1.31.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.3/azuredisk-csi-driver/values.yaml
  deploy/v1.31.3/crd-csi-snapshot.yaml
  deploy/v1.31.3/csi-azuredisk-controller.yaml
  deploy/v1.31.3/csi-azuredisk-driver.yaml
  deploy/v1.31.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.3/csi-azuredisk-node-windows.yaml
  deploy/v1.31.3/csi-azuredisk-node.yaml
  deploy/v1.31.3/csi-snapshot-controller.yaml
  deploy/v1.31.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: remove duplicated imagePullSecrets deployment config #2835 #2819
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller-cleanup.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

vendor: fix vmss disk detach failure
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: none

test: skip driver v2 unit tests
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update chart config file
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
Due: verify-helm-chart-files, verify-helm-chart

vendor: fix standard vm disk attach failure
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: none

test: fix CVE-2025-22866 in trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

fix: set get disk timeout as 15s
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix e2e test failure
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod

cleanup: remove VolumeAttachLimit setting in e2e test
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: use GetInfoFromURI func to make URI parsing logic clear
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix sanity test failure
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: set get disk timeout as 15s and make it configurable
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: issue #2858 incorrect controller.affinity property processing
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: obsolete vmss cache issue after disk is resized successfully
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: incorrect affinity chart config
  charts/latest/azuredisk-csi-driver-1.31.3.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: incorrect affinity chart config
  charts/latest/azuredisk-csi-driver-v1.30.7.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: Upgrade alpine base image to 3.18.11
  pkg/azurediskplugin/Dockerfile
Due: none

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  hack/verify-yamllint.sh
Due: verify-yamllint

fix: CVE-2025-0426
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/features/versioned_kube_features.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-0426
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/recyclerclient/recycler_client.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/test/e2e/framework/flake_reporting_util.go
  vendor/k8s.io/kubernetes/test/e2e/framework/framework.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/resource.go
  vendor/k8s.io/kubernetes/test/e2e/framework/skipper/skipper.go
  vendor/k8s.io/kubernetes/test/utils/density_utils.go
  vendor/k8s.io/kubernetes/test/utils/deployment.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/k8s.io/kubernetes/test/utils/runners.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-0426
  go.mod
  go.sum
  vendor/go.opentelemetry.io/otel/metric/noop/noop.go
  vendor/k8s.io/api/admissionregistration/v1alpha1/types.go
  vendor/k8s.io/api/admissionregistration/v1beta1/types.go
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/apiserver/pkg/server/filters/maxinflight.go
  vendor/k8s.io/apiserver/pkg/server/options/etcd.go
  vendor/k8s.io/apiserver/pkg/server/options/tracing.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  vendor/k8s.io/client-go/tools/remotecommand/v4.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/util/atomic_writer.go
  vendor/k8s.io/kubernetes/pkg/volume/util/atomic_writer_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/atomic_writer_unsupported.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/recyclerclient/recycler_client.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/test/e2e/framework/flake_reporting_util.go
  vendor/k8s.io/kubernetes/test/e2e/framework/framework.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/resource.go
  vendor/k8s.io/kubernetes/test/e2e/framework/skipper/skipper.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/scheduling/nvidia-driver-installer.yaml
  vendor/k8s.io/kubernetes/test/utils/density_utils.go
  vendor/k8s.io/kubernetes/test/utils/deployment.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/k8s.io/kubernetes/test/utils/runners.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/modules.txt
Due: verify-gomod

chore: code change due to upgrading to k8s lib 1.29.14
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/optimization/device_perf_linux.go
  pkg/tool/gen-disk-skus-map.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: make changes due to k8s lib change
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
