Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

cleanup: remove unused code
  pkg/os/filesystem/filesystem.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use GetFreeSpace call in ExpandVolume on Windows
  go.mod
  pkg/azuredisk/nodeserver.go
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: refine GetFreeSpace call on Windows
  go.mod
  pkg/azuredisk/nodeserver.go
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: refine GetFreeSpace call on Windows
  go.mod
  pkg/azuredisk/nodeserver.go
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/volume/volume.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Pin the major version
  .github/workflows/sync.yml
Due: verify-yamllint

fix: CVE-2023-45288
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/mmap_nomremap.go
  vendor/golang.org/x/sys/unix/syscall_zos_s390x.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: verify-gomod

fix: use alternative driver name in used lun check
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

Update README.md
  deploy/example/cloning/README.md
Due: none

Update README.md
  deploy/example/snapshot/README.md
Due: none

fix: CVE-2024-3177
  go.mod
  go.sum
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/apimachinery/pkg/util/httpstream/wsstream/conn.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/validatingadmissionpolicy/controller_reconcile.go
  vendor/k8s.io/apiserver/pkg/cel/environment/base.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache_interval.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  vendor/k8s.io/client-go/tools/remotecommand/websocket.go
  vendor/k8s.io/component-base/metrics/prometheus/slis/metrics.go
  vendor/k8s.io/component-helpers/storage/volume/helpers.go
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/pkg/volume/util/types/types.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2024-3177
  go.mod
  go.sum
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go117.go
  vendor/golang.org/x/tools/internal/typeparams/enabled_go118.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typeparams/typeterm.go
  vendor/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  vendor/k8s.io/component-base/metrics/prometheus/slis/metrics.go
  vendor/k8s.io/component-helpers/storage/volume/helpers.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

feat: add startup taint removal feature
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

feat: add startup taint removal feature
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: liveness probe failure when hostNetwork not enabled in controller
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver-v1.28.7.tgz
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove nonexist latest-v2 image chart
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/Chart.yaml
  charts/latest-v2/azuredisk-csi-driver/azuredisk-csi-driver-v2.0.0-beta.6.tgz
  charts/latest-v2/azuredisk-csi-driver/side-by-side-values.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/NOTES.txt
  charts/latest-v2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/latest-v2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller-cleanup.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller-monitor.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller-service.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender-monitor.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender-service.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-storage-class.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/disk.csi.azure.com_azdrivernodes.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/disk.csi.azure.com_azvolumeattachments.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/disk.csi.azure.com_azvolumes.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/namespace-azure-disk-csi.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: broken chart index
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: liveness probe failure when hostNetwork not enabled in controller
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: liveness probe failure when hostNetwork not enabled in controller
  charts/latest/azuredisk-csi-driver-v1.29.5.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: liveness probe failure when hostNetwork not enabled in controller
  charts/latest/azuredisk-csi-driver-v1.28.7.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver-v1.28.7.tgz
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix stdlib CVE due to golang v1.22.2
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade to snapshot v7.0.2 and enable volume-group-snapshot
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions on v1.30.1
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/values.yaml
  deploy/v1.30.1/csi-azuredisk-controller.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows.yaml
  deploy/v1.30.1/csi-azuredisk-node.yaml
  deploy/v1.30.1/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add draft
  deploy/crd-csi-volumegroupsnapshot.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
  log-s.txt
  log-sc.txt
  log.txt
  log1.txt
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_snapshot_utils.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

doc: cut v1.28.8 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.7.tgz
  charts/latest/azuredisk-csi-driver-v1.28.8.tgz
  charts/v1.28.8/azuredisk-csi-driver-v1.28.8.tgz
  charts/v1.28.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.8/azuredisk-csi-driver/values.yaml
  deploy/v1.28.8/crd-csi-snapshot.yaml
  deploy/v1.28.8/csi-azuredisk-controller.yaml
  deploy/v1.28.8/csi-azuredisk-driver.yaml
  deploy/v1.28.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.8/csi-azuredisk-node-windows.yaml
  deploy/v1.28.8/csi-azuredisk-node.yaml
  deploy/v1.28.8/csi-snapshot-controller.yaml
  deploy/v1.28.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.6 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.5.tgz
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/v1.29.6/azuredisk-csi-driver-v1.29.6.tgz
  charts/v1.29.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.6/azuredisk-csi-driver/values.yaml
  deploy/v1.29.6/crd-csi-snapshot.yaml
  deploy/v1.29.6/csi-azuredisk-controller.yaml
  deploy/v1.29.6/csi-azuredisk-driver.yaml
  deploy/v1.29.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.6/csi-azuredisk-node-windows.yaml
  deploy/v1.29.6/csi-azuredisk-node.yaml
  deploy/v1.29.6/csi-snapshot-controller.yaml
  deploy/v1.29.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
