Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: CVE-2024-5321
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/create.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/README.md
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: increase azuredisk container memory limits as 600Mi
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase azuredisk container memory limits as 600Mi
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.2.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase azuredisk container memory limits as 600Mi
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.29.7.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase azuredisk container memory limits as 600Mi
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.28.9.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: use least privileged LocalService account on hostprocess Windows
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: update new chart versions
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  deploy/v1.30.2/crd-csi-snapshot.yaml
  deploy/v1.30.2/csi-azuredisk-controller.yaml
  deploy/v1.30.2/csi-azuredisk-driver.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
  deploy/v1.30.2/csi-snapshot-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase azuredisk container memory limits as 600Mi
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: change default windows tests to use ltsc2022 image
  deploy/example/windows/deployment.yaml
  deploy/example/windows/statefulset.yaml
  hack/verify-examples.sh
Due: verify-yamllint

feat: support NVME disk
  pkg/azuredisk/azure_common_linux.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: liveness probe failure when hostNetwork not enabled in node (linux)
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add pv patch permission with HonorPVReclaimPolicy enabled
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add pv patch permission with HonorPVReclaimPolicy enabled
  charts/latest/azuredisk-csi-driver-v1.30.2.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add pv patch permission with HonorPVReclaimPolicy enabled
  charts/latest/azuredisk-csi-driver-v1.29.7.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.7/rbac-csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.3 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.3.tgz
  charts/v1.30.3/azuredisk-csi-driver-v1.30.3.tgz
  charts/v1.30.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.3/azuredisk-csi-driver/values.yaml
  deploy/v1.30.3/crd-csi-snapshot.yaml
  deploy/v1.30.3/csi-azuredisk-controller.yaml
  deploy/v1.30.3/csi-azuredisk-driver.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows.yaml
  deploy/v1.30.3/csi-azuredisk-node.yaml
  deploy/v1.30.3/csi-snapshot-controller.yaml
  deploy/v1.30.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add grpcprom interceptor to export basic grpc metrics
  go.mod
  go.sum
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/LICENSE
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/client_metrics.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/client_options.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/constants.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/options.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/reporter.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/server_metrics.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/providers/prometheus/server_options.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/COPYRIGHT
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/LICENSE
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/callmeta.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/client.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/doc.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/reporter.go
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/v2/interceptors/server.go
  vendor/github.com/stoewer/go-strcase/README.md
  vendor/github.com/stoewer/go-strcase/camel.go
  vendor/google.golang.org/grpc/reflection/README.md
  vendor/google.golang.org/grpc/reflection/adapt.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1/reflection.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1/reflection_grpc.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection_grpc.pb.go
  vendor/google.golang.org/grpc/reflection/internal/internal.go
  vendor/google.golang.org/grpc/reflection/serverreflection.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.29.8 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.7.tgz
  charts/latest/azuredisk-csi-driver-v1.29.8.tgz
  charts/v1.29.8/azuredisk-csi-driver-v1.29.8.tgz
  charts/v1.29.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.8/azuredisk-csi-driver/values.yaml
  deploy/v1.29.8/crd-csi-snapshot.yaml
  deploy/v1.29.8/csi-azuredisk-controller.yaml
  deploy/v1.29.8/csi-azuredisk-driver.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows.yaml
  deploy/v1.29.8/csi-azuredisk-node.yaml
  deploy/v1.29.8/csi-snapshot-controller.yaml
  deploy/v1.29.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.28.10 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.10.tgz
  charts/latest/azuredisk-csi-driver-v1.28.9.tgz
  charts/v1.28.10/azuredisk-csi-driver-v1.28.10.tgz
  charts/v1.28.10/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.10/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.10/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.10/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.10/azuredisk-csi-driver/values.yaml
  deploy/v1.28.10/crd-csi-snapshot.yaml
  deploy/v1.28.10/csi-azuredisk-controller.yaml
  deploy/v1.28.10/csi-azuredisk-driver.yaml
  deploy/v1.28.10/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.10/csi-azuredisk-node-windows.yaml
  deploy/v1.28.10/csi-azuredisk-node.yaml
  deploy/v1.28.10/csi-snapshot-controller.yaml
  deploy/v1.28.10/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.10/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.10/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.10.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update csi-debug.md
  docs/csi-debug.md
Due: none

fix: create snapshot failure in edge zone
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add logs for edge zone setting
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: set HostProcess container deployment on Windows as default
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/install-driver.sh
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: only enable removeNotReadyTaint on node daemonset
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: set HostProcess container deployment on Windows as default
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.3.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/install-driver.sh
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: checkDiskLun throttling issue
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

set kubectl current ns as default
  hack/verify-examples.sh
Due: none

Merge pull request #2464 from cvvz/use-wi-for-e2e-test
  hack/verify-examples.sh
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_external_rg_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_cross_region_tester.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/sanity/sanity_test.go
  test/utils/azure/azure_helpers.go
  test/utils/credentials/credentials.go
  test/utils/credentials/credentials_test.go
  test/utils/testutil/testutil.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix go mod
  go.mod
  go.sum
  test/utils/credentials/credentials.go
  vendor/github.com/pelletier/go-toml/.dockerignore
  vendor/github.com/pelletier/go-toml/.gitignore
  vendor/github.com/pelletier/go-toml/CONTRIBUTING.md
  vendor/github.com/pelletier/go-toml/Dockerfile
  vendor/github.com/pelletier/go-toml/LICENSE
  vendor/github.com/pelletier/go-toml/Makefile
  vendor/github.com/pelletier/go-toml/PULL_REQUEST_TEMPLATE.md
  vendor/github.com/pelletier/go-toml/README.md
  vendor/github.com/pelletier/go-toml/SECURITY.md
  vendor/github.com/pelletier/go-toml/azure-pipelines.yml
  vendor/github.com/pelletier/go-toml/benchmark.sh
  vendor/github.com/pelletier/go-toml/doc.go
  vendor/github.com/pelletier/go-toml/example-crlf.toml
  vendor/github.com/pelletier/go-toml/example.toml
  vendor/github.com/pelletier/go-toml/fuzz.go
  vendor/github.com/pelletier/go-toml/fuzz.sh
  vendor/github.com/pelletier/go-toml/keysparsing.go
  vendor/github.com/pelletier/go-toml/lexer.go
  vendor/github.com/pelletier/go-toml/localtime.go
  vendor/github.com/pelletier/go-toml/marshal.go
  vendor/github.com/pelletier/go-toml/marshal_OrderPreserve_test.toml
  vendor/github.com/pelletier/go-toml/marshal_test.toml
  vendor/github.com/pelletier/go-toml/parser.go
  vendor/github.com/pelletier/go-toml/position.go
  vendor/github.com/pelletier/go-toml/token.go
  vendor/github.com/pelletier/go-toml/toml.go
  vendor/github.com/pelletier/go-toml/tomlpub.go
  vendor/github.com/pelletier/go-toml/tomltree_create.go
  vendor/github.com/pelletier/go-toml/tomltree_write.go
  vendor/github.com/pelletier/go-toml/tomltree_writepub.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
