Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

cleanup: fix endpointslice dependency
  go.mod
  hack/verify-gomod.sh
  vendor/modules.txt
Due: verify-gomod

correct pod status doc
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/NOTES.txt
Due: verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.1 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.0.tgz
  charts/latest/azuredisk-csi-driver-v1.29.1.tgz
  charts/v1.29.1/azuredisk-csi-driver-v1.29.1.tgz
  charts/v1.29.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.1/azuredisk-csi-driver/values.yaml
  deploy/v1.29.1/crd-csi-snapshot.yaml
  deploy/v1.29.1/csi-azuredisk-controller.yaml
  deploy/v1.29.1/csi-azuredisk-driver.yaml
  deploy/v1.29.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.1/csi-azuredisk-node-windows.yaml
  deploy/v1.29.1/csi-azuredisk-node.yaml
  deploy/v1.29.1/csi-snapshot-controller.yaml
  deploy/v1.29.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.28.4 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.3.tgz
  charts/latest/azuredisk-csi-driver-v1.28.4.tgz
  charts/v1.28.4/azuredisk-csi-driver-v1.28.4.tgz
  charts/v1.28.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.4/azuredisk-csi-driver/values.yaml
  deploy/v1.28.4/crd-csi-snapshot.yaml
  deploy/v1.28.4/csi-azuredisk-controller.yaml
  deploy/v1.28.4/csi-azuredisk-driver.yaml
  deploy/v1.28.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.4/csi-azuredisk-node-windows.yaml
  deploy/v1.28.4/csi-azuredisk-node.yaml
  deploy/v1.28.4/csi-snapshot-controller.yaml
  deploy/v1.28.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.7 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.6.tgz
  charts/latest/azuredisk-csi-driver-v1.26.7.tgz
  charts/v1.26.7/azuredisk-csi-driver-v1.26.7.tgz
  charts/v1.26.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.7/azuredisk-csi-driver/values.yaml
  deploy/v1.26.7/crd-csi-snapshot.yaml
  deploy/v1.26.7/csi-azuredisk-controller.yaml
  deploy/v1.26.7/csi-azuredisk-driver.yaml
  deploy/v1.26.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.7/csi-azuredisk-node-windows.yaml
  deploy/v1.26.7/csi-azuredisk-node.yaml
  deploy/v1.26.7/csi-snapshot-controller.yaml
  deploy/v1.26.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar images
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add volume group snapshot
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/csi-common/driver.go
  pkg/csi-common/utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add yaml example
  deploy/example/volumegroupsnapshot/azuredisk-volume-group-snapshot.yaml
  deploy/example/volumegroupsnapshot/pvc-volume-group-snapshot.yaml
  deploy/example/volumegroupsnapshot/storageclass-azuredisk-volume-group-snapshot.yaml
Due: verify-yamllint

add
  deploy/crd-csi-snapshot.yaml
  deploy/crd-csi-volumegroupsnapshot.yaml
  deploy/example/volumegroupsnapshot/azuredisk-volume-group-snapshot.yaml
  deploy/example/volumegroupsnapshot/storageclass-azuredisk-volume-group-snapshot.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/csi-common/driver_test.go
  pkg/csi-common/server.go
  pkg/csi-common/server_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

add
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

[release-1.29]chore: fix google.golang.org/grpc GHSA-m425-mq94-257g
  go.mod
  go.sum
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/uuid.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/google.golang.org/genproto/googleapis/api/annotations/field_behavior.pb.go
  vendor/google.golang.org/grpc/README.md
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/call.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/internal/backoff/backoff.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/status/status.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/resolver/manual/manual.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/grpc/tap/tap.go
  vendor/google.golang.org/grpc/version.go
  vendor/google.golang.org/grpc/vet.sh
  vendor/modules.txt
Due: verify-gomod

add
  deploy/rbac-csi-azuredisk-controller.yaml
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/identityserver.go
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: update max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

CVE-2023-45142: bump go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.45.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/config.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/doc.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/interceptor.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/internal/parse.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/metadata_supplier.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/semconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/stats_handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc/version.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/modules.txt
Due: verify-gomod

chore: upgrade snapshot version to v6.3.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: CVE-2023-3676
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/k8s.io/api/apidiscovery/v2beta1/generated.proto
  vendor/k8s.io/api/apidiscovery/v2beta1/types.go
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/apimachinery/pkg/runtime/converter.go
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  vendor/k8s.io/client-go/tools/events/event_broadcaster.go
  vendor/k8s.io/client-go/tools/record/event.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/k8s.io/kubernetes/pkg/apis/batch/types.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/util/atomic_writer.go
  vendor/k8s.io/kubernetes/pkg/volume/util/subpath/subpath_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/k8s.io/kubernetes/test/utils/pki_helpers.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2023-3676
  go.mod
  go.sum
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/k8s.io/kubernetes/pkg/volume/util/atomic_writer.go
  vendor/k8s.io/kubernetes/pkg/volume/util/subpath/subpath_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/test/utils/pki_helpers.go
  vendor/modules.txt
Due: verify-gomod

feat: upgrade snapshot version to v6.3.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.29.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: support CSI spec v1.9.0
  go.mod
  go.sum
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Due: verify-gomod

chore: add empty implementation for ModifyVolume
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: adopt dependency injection pattern
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azurediskplugin/main.go
  pkg/csi-common/fake_driver_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: switch to bookworm debian base image
  pkg/azurediskplugin/Dockerfile
Due: none

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: enable more external e2e tests
  test/external-e2e/manifest/testdriver.yaml
  test/external-e2e/run.sh
Due: verify-yamllint

fix: v1.29.1.1-windows-hp image
  charts/v1.29.1/azuredisk-csi-driver-v1.29.1.tgz
  charts/v1.29.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.1/csi-azuredisk-node-windows-hostprocess.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: Added missing SKUs to map
  pkg/optimization/azure_skus_map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
