Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.29.12 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.11.tgz
  charts/latest/azuredisk-csi-driver-v1.29.12.tgz
  charts/v1.29.12/azuredisk-csi-driver-v1.29.12.tgz
  charts/v1.29.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.12/azuredisk-csi-driver/values.yaml
  deploy/v1.29.12/crd-csi-snapshot.yaml
  deploy/v1.29.12/csi-azuredisk-controller.yaml
  deploy/v1.29.12/csi-azuredisk-driver.yaml
  deploy/v1.29.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.12/csi-azuredisk-node-windows.yaml
  deploy/v1.29.12/csi-azuredisk-node.yaml
  deploy/v1.29.12/csi-snapshot-controller.yaml
  deploy/v1.29.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.7 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver-v1.30.7.tgz
  charts/v1.30.7/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.7/azuredisk-csi-driver-v1.30.7.tgz
  charts/v1.30.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.7/azuredisk-csi-driver/values.yaml
  deploy/v1.30.7/crd-csi-snapshot.yaml
  deploy/v1.30.7/csi-azuredisk-controller.yaml
  deploy/v1.30.7/csi-azuredisk-driver.yaml
  deploy/v1.30.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.7/csi-azuredisk-node-windows.yaml
  deploy/v1.30.7/csi-azuredisk-node.yaml
  deploy/v1.30.7/csi-snapshot-controller.yaml
  deploy/v1.30.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.2 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver-1.31.2.tgz
  charts/v1.31.2/azuredisk-csi-driver-1.31.2.tgz
  charts/v1.31.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.2/azuredisk-csi-driver/values.yaml
  deploy/v1.31.2/crd-csi-snapshot.yaml
  deploy/v1.31.2/csi-azuredisk-controller.yaml
  deploy/v1.31.2/csi-azuredisk-driver.yaml
  deploy/v1.31.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.2/csi-azuredisk-node-windows.yaml
  deploy/v1.31.2/csi-azuredisk-node.yaml
  deploy/v1.31.2/csi-snapshot-controller.yaml
  deploy/v1.31.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

NEW_COMMIT_MESSAGE
  pkg/tool/gen-disk-skus-map.go
  pkg/tool/gen-disk-skus-map_test.go
  pkg/tool/skus-sample.json
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add UT for filewatcher
  pkg/filewatcher/filewatcher.go
  pkg/filewatcher/filewatcher_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add UT negative case for filewatcher
  .github/workflows/linux.yml
  go.mod
  go.sum
  pkg/azuredisk/azure_dd_max_disk_count.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azurediskplugin/main.go
  pkg/filewatcher/filewatcher.go
  pkg/filewatcher/filewatcher_test.go
  pkg/tool/gen-disk-skus-map.go
  pkg/tool/gen-disk-skus-map_test.go
  pkg/tool/skus-sample.json
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/testsuites.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

test: add negative case UT for filewatcher
  pkg/filewatcher/filewatcher.go
  pkg/filewatcher/filewatcher_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: wrong node matching when detaching dangling node
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Revert "fix: wrong node matching when detaching dangling disk"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update Chart.yaml
  charts/v1.31.0/azuredisk-csi-driver/Chart.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: remove duplicated imagePullSecrets deployment config
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update latest chart tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

test: improve ut coverage
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove duplicated imagePullSecrets deployment config
  charts/latest/azuredisk-csi-driver-1.31.2.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: remove duplicated imagePullSecrets deployment config
  charts/latest/azuredisk-csi-driver-v1.30.7.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: remove duplicated imagePullSecrets deployment config
  charts/latest/azuredisk-csi-driver-v1.29.12.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: ignore more mock file in ut coverage
  .github/workflows/linux.yml
Due: verify-yamllint

doc: fix chart README doc
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: make changes due to cloud provider lib change
  go.mod
  go.sum
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix trivy action failure due to CVE-2024-45336
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.31.2.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.7.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/latest/azuredisk-csi-driver-v1.29.12.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: refine UT for CreateSnapshot
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  charts/README.md
Due: verify-helm-chart-files, verify-helm-chart

chore: update code change due to azure lib change
  go.mod
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: skip TestListVolumes tests
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: code change due to azure lib change
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils_test.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
