Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

address review comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix unit tests
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

address review comments
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Reapply "fix: wait for detach disk finish first"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Bump mount-utils from latest master
  go.mod
  go.sum
  vendor/k8s.io/mount-utils/mount.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/resizefs_linux.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/modules.txt
Due: verify-gomod

Revert "fix: wait for detach disk finish first"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove disks from the batch if it exceeds maxdatadisks limit
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: adjust attach disk num when hit MaximumDataDisksExceeded error
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/util/util.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: only wait for disk detach when hit MaximumDataDisksExceeded error
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/util/util.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: adjust the batch size as per the number of disks allowed
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: only wait for disk detach when hit MaximumDataDisksExceeded
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/util/util.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: improving TestGetMaxDataDiskCount unit test
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.31.9 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.8.tgz
  charts/latest/azuredisk-csi-driver-1.31.9.tgz
  charts/v1.31.9/azuredisk-csi-driver-1.31.9.tgz
  charts/v1.31.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.9/azuredisk-csi-driver/values.yaml
  deploy/v1.31.9/crd-csi-snapshot.yaml
  deploy/v1.31.9/csi-azuredisk-controller.yaml
  deploy/v1.31.9/csi-azuredisk-driver.yaml
  deploy/v1.31.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.9/csi-azuredisk-node-windows.yaml
  deploy/v1.31.9/csi-azuredisk-node.yaml
  deploy/v1.31.9/csi-snapshot-controller.yaml
  deploy/v1.31.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.12 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.11.tgz
  charts/latest/azuredisk-csi-driver-v1.30.12.tgz
  charts/v1.30.12/azuredisk-csi-driver-v1.30.12.tgz
  charts/v1.30.12/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.12/azuredisk-csi-driver/values.yaml
  deploy/v1.30.12/crd-csi-snapshot.yaml
  deploy/v1.30.12/csi-azuredisk-controller.yaml
  deploy/v1.30.12/csi-azuredisk-driver.yaml
  deploy/v1.30.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.12/csi-azuredisk-node-windows.yaml
  deploy/v1.30.12/csi-azuredisk-node.yaml
  deploy/v1.30.12/csi-snapshot-controller.yaml
  deploy/v1.30.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.5 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.4.tgz
  charts/latest/azuredisk-csi-driver-1.32.5.tgz
  charts/v1.32.5/azuredisk-csi-driver-1.32.5.tgz
  charts/v1.32.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.5/azuredisk-csi-driver/values.yaml
  deploy/v1.32.5/crd-csi-snapshot.yaml
  deploy/v1.32.5/csi-azuredisk-controller.yaml
  deploy/v1.32.5/csi-azuredisk-driver.yaml
  deploy/v1.32.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.5/csi-azuredisk-node-windows.yaml
  deploy/v1.32.5/csi-azuredisk-node.yaml
  deploy/v1.32.5/csi-snapshot-controller.yaml
  deploy/v1.32.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update max datadisk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add option to override ARM retry-after header if the value is lower than the configured minimum
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  go.mod
  go.sum
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: vmss flex node naming parsing issue
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/agentpools_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/machines_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/maintenanceconfigurations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/managedclusters_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/operations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/privateendpointconnections_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/privatelinkresources_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/resolveprivatelinkserviceid_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/snapshots_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/trustedaccessrolebindings_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/trustedaccessroles_client.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/arm_conf.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/policy/retryaftermin/retryaftermin.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/mock_virtualnetworklinkclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/zz_generated_client.go
Due: verify-gomod

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/agentpools_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/autorest.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/machines_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/maintenanceconfigurations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/managedclusters_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/models.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/models_serde.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/operations_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/privateendpointconnections_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/privatelinkresources_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/resolveprivatelinkserviceid_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/snapshots_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/trustedaccessrolebindings_client.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservice/armcontainerservice/v6/trustedaccessroles_client.go
  vendor/golang.org/x/crypto/ssh/mlkem.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_riscv64.go
  vendor/golang.org/x/sys/cpu/cpu_riscv64.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/ast/inspector/inspector.go
  vendor/golang.org/x/tools/go/ast/inspector/typeof.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/arm_conf.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/policy/retryaftermin/retryaftermin.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/mock_virtualnetworklinkclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualnetworklinkclient/zz_generated_client.go
Due: verify-gomod

feat: add option to override ARM retry-after header
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add option to override ARM retry-after header if the value is lower than the configured minimum
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.31.10 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.10.tgz
  charts/latest/azuredisk-csi-driver-1.31.9.tgz
  charts/v1.31.10/azuredisk-csi-driver-1.31.10.tgz
  charts/v1.31.10/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.10/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.10/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.10/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.10/azuredisk-csi-driver/values.yaml
  deploy/v1.31.10/crd-csi-snapshot.yaml
  deploy/v1.31.10/csi-azuredisk-controller.yaml
  deploy/v1.31.10/csi-azuredisk-driver.yaml
  deploy/v1.31.10/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.10/csi-azuredisk-node-windows.yaml
  deploy/v1.31.10/csi-azuredisk-node.yaml
  deploy/v1.31.10/csi-snapshot-controller.yaml
  deploy/v1.31.10/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.10/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.10/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.10.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.6 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.5.tgz
  charts/latest/azuredisk-csi-driver-1.32.6.tgz
  charts/v1.32.6/azuredisk-csi-driver-1.32.6.tgz
  charts/v1.32.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.6/azuredisk-csi-driver/values.yaml
  deploy/v1.32.6/crd-csi-snapshot.yaml
  deploy/v1.32.6/csi-azuredisk-controller.yaml
  deploy/v1.32.6/csi-azuredisk-driver.yaml
  deploy/v1.32.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.6/csi-azuredisk-node-windows.yaml
  deploy/v1.32.6/csi-azuredisk-node.yaml
  deploy/v1.32.6/csi-snapshot-controller.yaml
  deploy/v1.32.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart
