Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

test v1.33.7
  Makefile
Due: none

test: fix trivy CVE-2025-61727
  .github/workflows/trivy.yaml
Due: verify-yamllint

feat: provide networkAccessPolicy, publicNetworkAccess parameters in CreateSnapshot
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add more unit tests
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add test for Azure Stack Cloud managed disk create
  pkg/azuredisk/azure_managedDiskController_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: update ModifyVolume doc
  README.md
  deploy/example/modifyvolume/README.md
  deploy/example/modifyvolume/pvc-azuredisk-csi.yaml
  deploy/example/modifyvolume/storageclass-azuredisk-csi-premiumv2.yaml
Due: verify-yamllint

test: fix golint check
  .github/workflows/static.yaml
Due: verify-yamllint

fix: ASH static provision segmentation fault
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2025-13281
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/controller/controller_utils.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/devicemanager/plugin/v1beta1/server.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/nodeports/node_ports.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/types.go
  vendor/k8s.io/kubernetes/pkg/scheduler/util/utils.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_darwin.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_linux.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-13281
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_darwin.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_linux.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

chore: upgrade csi-provisioner to v6.1.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.33.7/azuredisk-csi-driver-1.33.7.tgz
  charts/v1.33.7/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.33.7/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade csi-provisioner to v6.1.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.33.7.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.33.7/azuredisk-csi-driver-1.33.7.tgz
  charts/v1.33.7/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.33.7/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Include tips for CVE resolution in driver parameters
  docs/driver-parameters.md
Due: none

chore(scripts): add helper script to migrate from premium_lrs to premiumv2_lrs and wait fix: compatible with older bash version - tested using a 4.4
  docs/migrate-premiumlrs-to-premiumv2lrs.md
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-dualpvc.sh
  hack/premium-to-premiumv2-migrator-inplace.sh
  hack/premium-to-premiumv2-migrator-vac.sh
  hack/premium-to-premiumv2-zonal-aware-helper.sh
Due: none

fix: relax migration monitor condition as sku wont change in modifyVolume API approach
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: ut and codespell fixes
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-dualpvc.sh
  hack/premium-to-premiumv2-migrator-inplace.sh
  hack/premium-to-premiumv2-migrator-vac.sh
  hack/premium-to-premiumv2-zonal-aware-helper.sh
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: copilot review comments
  docs/migrate-premiumlrs-to-premiumv2lrs.md
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-inplace.sh
  hack/premium-to-premiumv2-migrator-vac.sh
  hack/premium-to-premiumv2-zonal-aware-helper.sh
Due: none

chore: performance improvements for critial failover scenarios
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: lint issues
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: force detach faillback and tests
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: adding helm pkg
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: minor adjustments and unittests
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: lint unused func param
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

perf: Optimize VMSS disk detach with early timeout and polling strategy (#3462)
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
