Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: reconcile loop to watch migrations if earlier submission had failed
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: enable VolumeAttributeClass in kubectl deployment
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.33.5/csi-azuredisk-controller.yaml
Due: verify-yamllint

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: create volume failure when requested pvc size is smaller than snapshot disk size
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix CVE-2025-47912 error
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.33.5.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: upgrade to csi-test v5.4.0
  test/sanity/run-tests-all-clouds.sh
Due: none

chore: provide flags for converting ReadWrite cachingMode for in-tree PV
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.33.6 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.5.tgz
  charts/latest/azuredisk-csi-driver-1.33.6.tgz
  charts/v1.33.6/azuredisk-csi-driver-1.33.6.tgz
  charts/v1.33.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/values.yaml
  deploy/v1.33.6/crd-csi-snapshot.yaml
  deploy/v1.33.6/csi-azuredisk-controller.yaml
  deploy/v1.33.6/csi-azuredisk-driver.yaml
  deploy/v1.33.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.6/csi-azuredisk-node-windows.yaml
  deploy/v1.33.6/csi-azuredisk-node.yaml
  deploy/v1.33.6/csi-snapshot-controller.yaml
  deploy/v1.33.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: update new chart versions
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.33.6/azuredisk-csi-driver-1.33.6.tgz
  charts/v1.33.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.6/azuredisk-csi-driver/values.yaml
  deploy/v1.33.6/crd-csi-snapshot.yaml
  deploy/v1.33.6/csi-azuredisk-controller.yaml
  deploy/v1.33.6/csi-azuredisk-driver.yaml
  deploy/v1.33.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.6/csi-azuredisk-node-windows.yaml
  deploy/v1.33.6/csi-azuredisk-node.yaml
  deploy/v1.33.6/csi-snapshot-controller.yaml
  deploy/v1.33.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade AzureAD lib
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/confidential/confidential.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/base.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/items.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/storage.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/public/public.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-58181
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/ssh_gss.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/internal/event/core/event.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/typesinternal/fx.go
  vendor/golang.org/x/tools/internal/typesinternal/isnamed.go
  vendor/golang.org/x/tools/internal/typesinternal/qualifier.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/typesinternal/zerovalue.go
  vendor/modules.txt
Due: verify-gomod

chore: fix golint on Windows
  pkg/azuredisk/azure_common_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: disk creation failure in AzureStack env
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unnecessary drop all capability
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove unnecessary drop all capability
  charts/latest/azuredisk-csi-driver-1.33.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove unnecessary drop all capability
  charts/latest/azuredisk-csi-driver-1.32.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.33.7 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.6.tgz
  charts/latest/azuredisk-csi-driver-1.33.7.tgz
  charts/v1.33.7/azuredisk-csi-driver-1.33.7.tgz
  charts/v1.33.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/values.yaml
  deploy/v1.33.7/crd-csi-snapshot.yaml
  deploy/v1.33.7/csi-azuredisk-controller.yaml
  deploy/v1.33.7/csi-azuredisk-driver.yaml
  deploy/v1.33.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.7/csi-azuredisk-node-windows.yaml
  deploy/v1.33.7/csi-azuredisk-node.yaml
  deploy/v1.33.7/csi-snapshot-controller.yaml
  deploy/v1.33.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: update new chart versions
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.33.7/azuredisk-csi-driver-1.33.7.tgz
  charts/v1.33.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.7/azuredisk-csi-driver/values.yaml
  deploy/v1.33.7/crd-csi-snapshot.yaml
  deploy/v1.33.7/csi-azuredisk-controller.yaml
  deploy/v1.33.7/csi-azuredisk-driver.yaml
  deploy/v1.33.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.7/csi-azuredisk-node-windows.yaml
  deploy/v1.33.7/csi-azuredisk-node.yaml
  deploy/v1.33.7/csi-snapshot-controller.yaml
  deploy/v1.33.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
