Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: update maximum data disk num table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: reporting pod failover downtime async
  test/podFailover/workload/cmd/main.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: only create replica AzVolumeAttachments for running pods
  pkg/controller/pod.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

tes: fix golint action failure
  .github/workflows/static.yaml
Due: verify-yamllint

fix: CVE-2022-41723
  go.mod
  go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/modules.txt
Due: verify-gomod

cleanup: remove 20H2 windows image build
  Makefile
Due: none

feat: fetch VMs to recover AzVolumeAttachments with replica role and better recover AzVolumeAttachment.Status
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/mockattachmentprovisioner/interface.go
  pkg/controller/pod.go
  pkg/controller/shared_state.go
  pkg/provisioner/cloudprovisioner.go
  pkg/provisioner/crdprovisioner.go
  pkg/workflow/workflow.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: recover nodes with correct remaining capacity
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/controller/shared_state_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: PremiumV2_LRS caching mode issue
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: add cachingMode setting check
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: use aks cli instead of aks-engine
  hack/azure-cluster-up.sh
Due: none

refactor: rename and use atomic pkg feature
  pkg/controller/attach_detach.go
  pkg/controller/shared_state.go
  pkg/controller/shared_state_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: add missing toleration for latest control plane taint
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.3 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.2.tgz
  charts/latest/azuredisk-csi-driver-v1.26.3.tgz
  charts/v1.26.3/azuredisk-csi-driver-v1.26.3.tgz
  charts/v1.26.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.3/azuredisk-csi-driver/values.yaml
  deploy/v1.26.3/crd-csi-snapshot.yaml
  deploy/v1.26.3/csi-azuredisk-controller.yaml
  deploy/v1.26.3/csi-azuredisk-driver.yaml
  deploy/v1.26.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.3/csi-azuredisk-node-windows.yaml
  deploy/v1.26.3/csi-azuredisk-node.yaml
  deploy/v1.26.3/csi-snapshot-controller.yaml
  deploy/v1.26.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update OWNERS
  OWNERS
Due: none

doc: cut v1.27.1 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.27.0.tgz
  charts/latest/azuredisk-csi-driver-v1.27.1.tgz
  charts/v1.27.1/azuredisk-csi-driver-v1.27.1.tgz
  charts/v1.27.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.27.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.27.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.27.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.27.1/azuredisk-csi-driver/values.yaml
  deploy/v1.27.1/crd-csi-snapshot.yaml
  deploy/v1.27.1/csi-azuredisk-controller.yaml
  deploy/v1.27.1/csi-azuredisk-driver.yaml
  deploy/v1.27.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.27.1/csi-azuredisk-node-windows.yaml
  deploy/v1.27.1/csi-azuredisk-node.yaml
  deploy/v1.27.1/csi-snapshot-controller.yaml
  deploy/v1.27.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.27.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.27.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.27.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix AKS preview extension update
  hack/azure-cluster-up.sh
Due: none

fix: fix attach failure panic
  pkg/controller/attach_detach.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: enable securityContext.seccompProfile
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add securityContext.seccompProfile for driver controller
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: remove livenessProbe in node-driver-registrar setting
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: add chart config value enableRegistrationProbe
  Makefile
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  test/utils/azuredisk_log.sh
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: fixing pod readiness check for pod failover tests
  test/podFailover/controller/cmd/main.go
Due: verify-gofmt, verify-govet, verify-gomod

test(e2e): change the storageclass configuration method in the test file
  deploy/example/statefulset-nonroot.yaml
  deploy/example/statefulset-nozone.yaml
  deploy/example/statefulset.yaml
  deploy/example/windows/statefulset.yaml
Due: verify-yamllint

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

fix: switch base image to fix CVEs
  pkg/azurediskplugin/Dockerfile
Due: none

test: fix pring windows log issue
  test/utils/azuredisk_log.sh
Due: none

test: fix external e2e test failure
  test/external-e2e/run.sh
Due: none

add copy snapshot to new region in CreateSnapshot, add unit test and e2e test
  deploy/csi-azuredisk-controller.yaml
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_cross_region_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

replace deprecated ioutil method
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/fake_iohandler.go
  pkg/azureutils/fake_iohandler_test.go
  pkg/azureutils/osiohandler.go
  pkg/mounter/fake_safe_mounter_test.go
  pkg/tool/gen-disk-skus-map.go
  test/utils/credentials/credentials.go
  test/utils/credentials/credentials_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: only call handleReplicaDelete after deletion
  pkg/controller/attach_detach.go
  pkg/controller/replica.go
  pkg/controller/replica_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade CSI sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart
