Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

feat: enable configuration of KubeClient burst setting
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/azuredisk-csi-driver-v2.0.0-beta.6.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: update values as per p50 numbers
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: adjust rate limiter to drive to target CRP limits
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: panics when getting the controller logs
  cmd/az-log/README.md
  cmd/az-log/cmd/common.go
  cmd/az-log/cmd/controller.go
Due: verify-gofmt, verify-govet, verify-gomod

update
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: none

update
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
Due: none

chore: add node-role.kubernetes.io/control-plane to csi-snapshot-controller
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint

feat(helm): add support for labels, annotations and podAnnotations
  charts/README.md
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller-monitor.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update chart files
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

feat: add helm repo install check
  hack/verify-all.sh
  hack/verify-helm-chart-index.sh
Due: none

doc: add config doc for edge zone
  README.md
Due: none

feat: support PremiumV2_LRS disk type
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix const
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix URLs check
  hack/verify-helm-chart-index.sh
Due: none

doc: cut v1.23.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.23.0.tgz
  charts/v1.23.0/azuredisk-csi-driver-v1.23.0.tgz
  charts/v1.23.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.23.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.23.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.23.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.23.0/azuredisk-csi-driver/values.yaml
  deploy/v1.23.0/crd-csi-snapshot.yaml
  deploy/v1.23.0/csi-azuredisk-controller.yaml
  deploy/v1.23.0/csi-azuredisk-driver.yaml
  deploy/v1.23.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.23.0/csi-azuredisk-node-windows.yaml
  deploy/v1.23.0/csi-azuredisk-node.yaml
  deploy/v1.23.0/csi-snapshot-controller.yaml
  deploy/v1.23.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.23.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.23.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.23.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.23.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update cloud-provider-azure
  go.mod
  go.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: verify-gomod

chore: switch master branch version
  Makefile
Due: none

chore: upgrade base image debian-base:bullseye-v1.4.3
  pkg/azurediskplugin/Dockerfile
Due: none

fix: increase csi-attacher client QPS
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase kubeclient qps
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: added metrics for attach latency
  pkg/azuredisk/controllerserver_v2.go
  pkg/provisioner/fake_crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: Removed unwanted code for detach_volume_latency
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add a failover scale test
  test/e2e/testsuites/azdiskschedulerextender_pod_scheduling_on_failover_multiple_pv_perf_tester.go
  test/e2e/testsuites/dynamically_provisioned_garbage_collection_replica_attachment_tester.go
  test/e2e/testsuites/dynamically_provisioned_pod_failover_tester.go
  test/e2e/testsuites/dynamically_provisioned_pod_failover_with_replicas_tester.go
  test/e2e/testsuites/dynamically_provisioned_pod_scale_up_with_replicas.go
  test/e2e/testsuites/pre_provisioned_dangling_attach_volume_tester.go
  test/resources/pod.go
  test/scale/azdisk_scale_test.go
  test/scale/flags.go
  test/scale/scale_tester.go
  test/utils/node/node_utils.go
  test/utils/pod/pod_utils.go
  test/utils/volume/vol_utils.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: upgrde azure cloud provider lib with vmss flex change
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_instance_metadata.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_instances.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
Due: verify-gomod

chore: fix unit tests after master merge
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/optimization/device_perf_linux_test.go
  pkg/provisioner/cloudprovisioner_test.go
  pkg/provisioner/fake_nodeprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix helm chart index and remove old packages
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.7.tgz
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/azuredisk-csi-driver-v2.0.0-beta.6.tgz
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: update Premium SSD v2 parameters doc
  docs/driver-parameters.md
Due: none

test: enable dynamically provisioned volume snapshot test in Windows cluster
  Makefile
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/utils/testutil/env_utils.go
  test/utils/testutil/test_ops_util.go
Due: verify-gofmt, verify-govet, verify-gomod

test: support pre-provisioned disk creation in alternate location
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: set baseline pod security policy in tests
  go.mod
  test/e2e/azdiskschedulerextender_test.go
  test/e2e/controller_test.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/pre_provisioning_test.go
  test/scale/azdisk_scale_test.go
  test/upgrade/upgrade_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix deployment pod deletion wait
  test/resources/deployment.go
Due: verify-gofmt, verify-govet, verify-gomod

test: set ginkgo timeout to 3h
  Makefile
Due: none

fix: fix CVE-2022-32149
  go.mod
  go.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/encoding/htmlindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/modules.txt
Due: verify-gomod

test: Enable dynamically provisioned volume snapshot test in Windows cluster
  Makefile
  test/e2e/dynamic_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: invalid ultra disk default iops issue
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: reduce VMSS throttling when throttling happens
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
