Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

cleanup: remove unused unlock variable
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: add context parameter in a few functions
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: disable batch attach when hitting MaximumDataDisksExceeded error
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update cloud provider dependency for UserAssignedIdentityCredential
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/multi_slb.go
Due: verify-gomod

fix: ignore GetDisk timeout during disk attach
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.30.8 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.7.tgz
  charts/latest/azuredisk-csi-driver-v1.30.8.tgz
  charts/v1.30.8/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.8/azuredisk-csi-driver-v1.30.8.tgz
  charts/v1.30.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.8/azuredisk-csi-driver/values.yaml
  deploy/v1.30.8/crd-csi-snapshot.yaml
  deploy/v1.30.8/csi-azuredisk-controller.yaml
  deploy/v1.30.8/csi-azuredisk-driver.yaml
  deploy/v1.30.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.8/csi-azuredisk-node-windows.yaml
  deploy/v1.30.8/csi-azuredisk-node.yaml
  deploy/v1.30.8/csi-snapshot-controller.yaml
  deploy/v1.30.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.4 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.3.tgz
  charts/latest/azuredisk-csi-driver-1.31.4.tgz
  charts/v1.31.4/azuredisk-csi-driver-1.31.4.tgz
  charts/v1.31.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.4/azuredisk-csi-driver/values.yaml
  deploy/v1.31.4/crd-csi-snapshot.yaml
  deploy/v1.31.4/csi-azuredisk-controller.yaml
  deploy/v1.31.4/csi-azuredisk-driver.yaml
  deploy/v1.31.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.4/csi-azuredisk-node-windows.yaml
  deploy/v1.31.4/csi-azuredisk-node.yaml
  deploy/v1.31.4/csi-snapshot-controller.yaml
  deploy/v1.31.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update max data disk count table for D family v6 series
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: Bump cloud provider azure to v1.32.1
  go.mod
  go.sum
  vendor/github.com/prometheus/client_golang/prometheus/atomic_update.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/desc.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_latest.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/difflib.go
  vendor/github.com/prometheus/client_golang/prometheus/internal/go_runtime_metrics.go
  vendor/github.com/prometheus/client_golang/prometheus/metric.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_cgo_darwin.c
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_cgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_other.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_wasip1.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_wasip1_js.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_windows.go
  vendor/github.com/prometheus/client_golang/prometheus/promhttp/http.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/github.com/prometheus/client_golang/prometheus/testutil/promlint/validations/duplicate_validations.go
  vendor/github.com/prometheus/client_golang/prometheus/testutil/testutil.go
  vendor/github.com/prometheus/common/expfmt/openmetrics_create.go
  vendor/github.com/prometheus/common/model/metric.go
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/active_help.go
  vendor/github.com/spf13/cobra/bash_completionsV2.go
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/completions.go
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/factory_conf.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/utils/options.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/multi_slb.go
Due: verify-gomod

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
Due: verify-gomod

doc: cut v1.32.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/values.yaml
  deploy/v1.32.0/crd-csi-snapshot.yaml
  deploy/v1.32.0/csi-azuredisk-controller.yaml
  deploy/v1.32.0/csi-azuredisk-driver.yaml
  deploy/v1.32.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.0/csi-azuredisk-node-windows.yaml
  deploy/v1.32.0/csi-azuredisk-node.yaml
  deploy/v1.32.0/csi-snapshot-controller.yaml
  deploy/v1.32.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.0.md
  pkg/optimization/azure_skus_map.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: merge mutable parameters for disk creation
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: incorrect cloud provider setting in sovereign cloud
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_publicip_repo.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_routes.go
Due: verify-gomod

chore: fix ut failure in v2 driver run
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
