Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: cut v1.30.2 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  deploy/v1.30.2/crd-csi-snapshot.yaml
  deploy/v1.30.2/csi-azuredisk-controller.yaml
  deploy/v1.30.2/csi-azuredisk-driver.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
  deploy/v1.30.2/csi-snapshot-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix codespell error
  .github/workflows/codespell.yml
Due: verify-yamllint

test: fix trivy gh action failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: use go 1.22 in go.mod
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/framework/testfiles/testdata/a/foo.txt
Due: verify-gomod

fix shield guard
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows.yaml
  deploy/v1.30.1/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix cve
  go.mod
  go.sum
  log.txt
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
  vendor/modules.txt
Due: verify-gomod

fix cve
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/cel/library/cost.go
  vendor/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  vendor/k8s.io/apiserver/pkg/server/secure_serving.go
  vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  vendor/modules.txt
Due: verify-gomod

fix cve
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/admission/plugin/cel/composition.go
  vendor/k8s.io/apiserver/pkg/endpoints/discovery/aggregated/handler.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go
  vendor/k8s.io/apiserver/pkg/server/options/recommended.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/lister_watcher.go
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_progress.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/interface.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/metrics/metrics.go
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/util/types/types.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix shield guard issues for KSM
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.29.5/csi-azuredisk-controller.yaml
  deploy/v1.29.5/csi-snapshot-controller.yaml
  deploy/v1.30.1/csi-azuredisk-controller.yaml
  deploy/v1.30.1/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.26.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.28.8.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix shield guard on csi controller and node
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix shield guard on windows node hostprocess initContainer
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: panic on Windows node when getFreeSpace failed on volume path
  pkg/azuredisk/azure_common_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: refine powershell cmdlet to use less resources in hpc deployment
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: adjust powershell cmd log level
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.29.5/csi-azuredisk-controller.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar image versions
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.28.9 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.8.tgz
  charts/latest/azuredisk-csi-driver-v1.28.9.tgz
  charts/v1.28.9/azuredisk-csi-driver-v1.28.9.tgz
  charts/v1.28.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.9/azuredisk-csi-driver/values.yaml
  deploy/v1.28.9/crd-csi-snapshot.yaml
  deploy/v1.28.9/csi-azuredisk-controller.yaml
  deploy/v1.28.9/csi-azuredisk-driver.yaml
  deploy/v1.28.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.9/csi-azuredisk-node-windows.yaml
  deploy/v1.28.9/csi-azuredisk-node.yaml
  deploy/v1.28.9/csi-snapshot-controller.yaml
  deploy/v1.28.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart
