Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: cut v1.29.7 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.6.tgz
  charts/latest/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.7/azuredisk-csi-driver/values.yaml
  deploy/v1.29.7/crd-csi-snapshot.yaml
  deploy/v1.29.7/csi-azuredisk-controller.yaml
  deploy/v1.29.7/csi-azuredisk-driver.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows.yaml
  deploy/v1.29.7/csi-azuredisk-node.yaml
  deploy/v1.29.7/csi-snapshot-controller.yaml
  deploy/v1.29.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: set driver.ReservedDataDiskSlotNum from options.ReservedDataDiskSlotNum
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add reservedDataDiskSlotNum to helm chart
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add tag value delimieter parameter
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add tag value delimiter
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix ut
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix ut
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add modify volume
  deploy/example/modifyvolume/pod-modifyvolume.yaml
  deploy/example/modifyvolume/volumeattributesclass.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/sanity/run-test.sh
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

test: fix trivy action failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

feat: add ReservedDataDiskSlotNum to helm-chart
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.29.7.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add ReservedDataDiskSlotNum to helm-chart
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add ReservedDataDiskSlotNum to helm-chart into v1.29.7
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add tag value delimiter
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: update readme
  README.md
  charts/README.md
  docs/install-azuredisk-csi-driver.md
Due: verify-helm-chart-files, verify-helm-chart

fix: reservedDataDiskSlotNum chart setting in v1.29.7
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: upgrade csi-test to v5.2.0 for more test coverage
  test/sanity/run-tests-all-clouds.sh
Due: none

cleanup: remove unnecessary IsValidDiskURI check
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.30.2 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/latest/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  deploy/v1.30.2/crd-csi-snapshot.yaml
  deploy/v1.30.2/csi-azuredisk-controller.yaml
  deploy/v1.30.2/csi-azuredisk-driver.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
  deploy/v1.30.2/csi-snapshot-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add modify volume
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/example/modifyvolume/README.md
  deploy/example/modifyvolume/storageclass-azuredisk-csi-premiumv2.yaml
  deploy/example/modifyvolume/volumeattributesclass.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  hack/verify-yamllint.sh
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/sanity/run-test.sh
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

add modify volume
  charts/latest/azuredisk-csi-driver-v1.30.2.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/example/modifyvolume/README.md
  deploy/example/modifyvolume/storageclass-azuredisk-csi-premiumv2.yaml
  deploy/example/modifyvolume/volumeattributesclass.yaml
  deploy/rbac-csi-azuredisk-controller.yaml
  hack/verify-yamllint.sh
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/sanity/run-test.sh
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

Update README.md
  deploy/example/modifyvolume/README.md
Due: none

fix: CVE-2024-5321
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/defaultfs.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_unix.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/create.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/README.md
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2024-5321
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
  vendor/k8s.io/cloud-provider/cloud.go
  vendor/k8s.io/cloud-provider/fake/fake.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/create.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-attacher/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-health-monitor/external-health-monitor-controller/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-provisioner/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-resizer/rbac.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-snapshotter/csi-snapshotter/rbac-csi-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/README.md
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-testing.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/update-hostpath.sh
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod
