Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: CVE-2024-51744
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: verify-gomod

test: fix trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade alpine base image to 3.18.9
  pkg/azurediskplugin/Dockerfile
Due: none

fix
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix ut
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

replace powershell cmd with golang api
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: disable offline expansion tests
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

[release-1.31] feat: replace Get-Item powershell cmd with golang api on Windows HostProcess mode (#2601)
  pkg/azuredisk/nodeserver_test.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

docs: Add missing disk encryption set read permission
  docs/driver-parameters.md
Due: none

chore: update max data disk num
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add serial format
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/mounter/fake_safe_mounter.go
  pkg/mounter/safe_mounter_unix.go
  pkg/mounter/safe_mounter_unix_test.go
  pkg/mounter/safe_mounter_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update changes due to k8s version upgrade
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/pre_provisioning_test.go
  test/e2e/testsuites/testsuites.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

use it in windows host process
  pkg/mounter/safe_mounter_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: Add a file watcher for Azure client cert auth
  pkg/azureutils/azure_disk_utils.go
  pkg/filewatcher/filewatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: tagValueDelimiter mismatch
  pkg/azureconstants/azure_constants.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
