Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

test: fix CVE-2025-61726 trivy failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

test: skip flaky TestConcurrentDetachDisk test
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.34.1 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.0.tgz
  charts/latest/azuredisk-csi-driver-1.34.1.tgz
  charts/v1.34.1/azuredisk-csi-driver-1.34.1.tgz
  charts/v1.34.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.1/azuredisk-csi-driver/values.yaml
  deploy/v1.34.1/crd-csi-snapshot.yaml
  deploy/v1.34.1/csi-azuredisk-controller.yaml
  deploy/v1.34.1/csi-azuredisk-driver.yaml
  deploy/v1.34.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.1/csi-azuredisk-node-windows.yaml
  deploy/v1.34.1/csi-azuredisk-node.yaml
  deploy/v1.34.1/csi-snapshot-controller.yaml
  deploy/v1.34.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: ignore helm chart index error
  hack/verify-helm-chart-index.sh
Due: none

[Security] Restrict CSI node mountpoint-dir to /var/lib/kubelet/pods
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test dalec image v1.33.3
  Makefile
Due: none

test dalec image v1.33.8
  Makefile
Due: none

correct provisioner permissions for VAC
  deploy/rbac-csi-azuredisk-controller.yaml
Due: verify-yamllint

refactor: remove kubeletDir variable and use kubelet with /pods suffix
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: replace os.ReadDir with fs.ReadDir(1) to avoid extra memory usage
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add /var/lib/kubelet/plugins volume mount
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: optimizations and fstype fix from intree to csi
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-dualpvc.sh
  hack/premium-to-premiumv2-migrator-inplace.sh
  hack/premium-to-premiumv2-migrator-vac.sh
  hack/premium-to-premiumv2-zonal-aware-helper.sh
Due: none

test: fix trivy CVE-2025-68121 failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

fix: copilot review comments
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-dualpvc.sh
  hack/premium-to-premiumv2-migrator-inplace.sh
  hack/premium-to-premiumv2-migrator-vac.sh
  hack/premium-to-premiumv2-zonal-aware-helper.sh
Due: none

chore: refactor metrics pkg
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add instantAccessDurationMinutes parameter to enable IA snapshots for PremiumV2/UltraSSD disks
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: migrate golangci-lint to v2 and golangci-lint-action to v7
  .github/workflows/static.yaml
  .golangci.yml
  hack/verify-golint.sh
Due: verify-gomod, verify-yamllint

chore: bump go in trivy workflow
  .github/workflows/trivy.yaml
Due: verify-yamllint

test: fix trivy CVE-2025-68121
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade CSI sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.34.1/azuredisk-csi-driver-1.34.1.tgz
  charts/v1.34.1/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.34.1/csi-azuredisk-controller.yaml
  deploy/v1.34.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.1/csi-azuredisk-node.yaml
  deploy/v1.34.1/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.34.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.34.1/azuredisk-csi-driver-1.34.1.tgz
  charts/v1.34.1/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v1.34.1/csi-azuredisk-controller.yaml
  deploy/v1.34.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.1/csi-azuredisk-node.yaml
  deploy/v1.34.1/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.33.8.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.34.2 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.1.tgz
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
  charts/v1.34.2/azuredisk-csi-driver-1.34.2.tgz
  charts/v1.34.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/values.yaml
  deploy/v1.34.2/crd-csi-snapshot.yaml
  deploy/v1.34.2/csi-azuredisk-controller.yaml
  deploy/v1.34.2/csi-azuredisk-driver.yaml
  deploy/v1.34.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.2/csi-azuredisk-node-windows.yaml
  deploy/v1.34.2/csi-azuredisk-node.yaml
  deploy/v1.34.2/csi-snapshot-controller.yaml
  deploy/v1.34.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
