Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: upgrade snapshot image version to v8.3.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: Remove references to the V2 driver
  Makefile
  deploy/example/azdiskschedulerextender/nginx-pod-with-azschedulerextender.yaml
  deploy/example/failover/README.md
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  docs/csi-dev.md
  docs/design-v2.md
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_v2.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/README.md
  test/sanity/run-test.sh
  test/sanity/sanity_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: xfs mount failure on Azure Linux 3.0 node
  pkg/azuredisk/azure_common_linux.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Remove the microsoft/wmi workaround for InvokeCimMethod
  pkg/os/cim/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: typo in the required permissions
  docs/driver-parameters.md
Due: none

chore: remove references to v2 driver
  Makefile
  deploy/example/azdiskschedulerextender/nginx-pod-with-azschedulerextender.yaml
  deploy/example/failover/README.md
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  docs/csi-dev.md
  docs/design-v2.md
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_v2.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/README.md
  test/sanity/run-test.sh
  test/sanity/sanity_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: remove references to v2 driver
  Makefile
  deploy/example/azdiskschedulerextender/nginx-pod-with-azschedulerextender.yaml
  deploy/example/failover/README.md
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  docs/csi-dev.md
  docs/design-v2.md
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v1.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/identityserver_v2.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/README.md
  test/sanity/run-test.sh
  test/sanity/sanity_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

chore: fix helm chart index on release-1.33
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix helm chart index on release-1.32
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix helm chart index on release-1.31
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade snapshot image version to v8.3.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.33.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: support custom Azure disk naming using PVC name and namespace (#3174)
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: support custom Azure disk naming using PVC name and namespace [#3174]
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: support new diskName format
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.31.11 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.10.tgz
  charts/latest/azuredisk-csi-driver-1.31.11.tgz
  charts/v1.31.11/azuredisk-csi-driver-1.31.11.tgz
  charts/v1.31.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.11/azuredisk-csi-driver/values.yaml
  deploy/v1.31.11/crd-csi-snapshot.yaml
  deploy/v1.31.11/csi-azuredisk-controller.yaml
  deploy/v1.31.11/csi-azuredisk-driver.yaml
  deploy/v1.31.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.11/csi-azuredisk-node-windows.yaml
  deploy/v1.31.11/csi-azuredisk-node.yaml
  deploy/v1.31.11/csi-snapshot-controller.yaml
  deploy/v1.31.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.8 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.7.tgz
  charts/latest/azuredisk-csi-driver-1.32.8.tgz
  charts/v1.32.8/azuredisk-csi-driver-1.32.8.tgz
  charts/v1.32.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.8/azuredisk-csi-driver/values.yaml
  deploy/v1.32.8/crd-csi-snapshot.yaml
  deploy/v1.32.8/csi-azuredisk-controller.yaml
  deploy/v1.32.8/csi-azuredisk-driver.yaml
  deploy/v1.32.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.8/csi-azuredisk-node-windows.yaml
  deploy/v1.32.8/csi-azuredisk-node.yaml
  deploy/v1.32.8/csi-snapshot-controller.yaml
  deploy/v1.32.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.33.2 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.1.tgz
  charts/latest/azuredisk-csi-driver-1.33.2.tgz
  charts/v1.33.2/azuredisk-csi-driver-1.33.2.tgz
  charts/v1.33.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.2/azuredisk-csi-driver/values.yaml
  deploy/v1.33.2/crd-csi-snapshot.yaml
  deploy/v1.33.2/csi-azuredisk-controller.yaml
  deploy/v1.33.2/csi-azuredisk-driver.yaml
  deploy/v1.33.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.2/csi-azuredisk-node-windows.yaml
  deploy/v1.33.2/csi-azuredisk-node.yaml
  deploy/v1.33.2/csi-snapshot-controller.yaml
  deploy/v1.33.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: use host binary for xfs
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/node-configmap.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: process batch detach only if requested disk is in the batch. Check for early success otherwise.
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add more logging when disk is not in the request queue
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2025-22868
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/internal/doc.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/oauth2/transport.go
  vendor/modules.txt
Due: verify-gomod
