Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: update max datadisk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: use InClusterConfig by default on Windows node
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
Due: verify-yamllint

fix: CVE-2023-2431
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/apis/core/types.go
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/common/quota_common.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/common/quota_common_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/common/quota_common_linux_impl.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/project.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/quota.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/quota_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/fsquota/quota_unsupported.go
  vendor/k8s.io/kubernetes/pkg/volume/volume_linux.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/resource.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/embed.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/sample-device-plugin/sample-device-plugin-control-registration.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/sample-device-plugin/sample-device-plugin.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/conn.go
Due: verify-gomod

fix build fail due to incompatible cloud type in tests
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/resources/pvc.go
Due: verify-gofmt, verify-govet, verify-gomod

[local] Sort versions to fetch the latest one
  .github/workflows/sync.yml
Due: verify-yamllint

fix: fix segfault due to empty operation queue
  pkg/controller/common.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

resolving azvolumeattachment's state not updated to attached
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/vmss_Cache.go
  pkg/controller/attach_detach.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: adding logs when pod failover test cordons and deferring uncordon
  test/podFailover/controller/cmd/main.go
Due: verify-gofmt, verify-govet, verify-gomod

feat(charts): add otel tracing configuration
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add otel gRPC tracing
  go.mod
  go.sum
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/trace.go
  pkg/azurediskplugin/main.go
  pkg/csi-common/server.go
  pkg/csi-common/server_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: run go mod tidy to reorder go.mod
  go.mod
Due: verify-gomod

resolve detaching and deleting issues
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

batch draft
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

uncommenting the va updating part because issue was resolved.
  go.mod
  go.sum
  pkg/controller/attach_detach.go
  vendor/github.com/edreed/go-batch/.gitignore
  vendor/github.com/edreed/go-batch/LICENSE
  vendor/github.com/edreed/go-batch/batch.go
  vendor/github.com/edreed/go-batch/interface.go
  vendor/github.com/edreed/go-batch/metrics.go
  vendor/github.com/edreed/go-batch/types.go
  vendor/github.com/edreed/go-batch/utils.go
  vendor/github.com/go-logr/logr/.golangci.yaml
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor files
  go.mod
  go.sum
  vendor/github.com/edreed/go-batch/.gitignore
  vendor/github.com/edreed/go-batch/LICENSE
  vendor/github.com/edreed/go-batch/batch.go
  vendor/github.com/edreed/go-batch/interface.go
  vendor/github.com/edreed/go-batch/metrics.go
  vendor/github.com/edreed/go-batch/types.go
  vendor/github.com/edreed/go-batch/utils.go
  vendor/github.com/go-logr/logr/.golangci.yaml
  vendor/github.com/go-logr/logr/funcr/funcr.go
  vendor/github.com/go-logr/logr/logr.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Due: verify-gomod

draft
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

generalize vm set type in GetInstanceType
  pkg/azureutils/azure.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

use correct as and ss name
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

resolve unit test failing
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/identityserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleaning up and fixing compilation issues
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/azure_snapshot_utils_test.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleaning up
  go.mod
  go.sum
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/identityserver_test.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/VMSS_VM_Cache.go
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/provisioner/cloudprovisioner_test.go
  pkg/provisioner/crdprovisioner_test.go
  vendor/github.com/edreed/go-batch/.gitignore
  vendor/github.com/edreed/go-batch/LICENSE
  vendor/github.com/edreed/go-batch/batch.go
  vendor/github.com/edreed/go-batch/interface.go
  vendor/github.com/edreed/go-batch/types.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/register.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/fake_apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/fake_customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/fake_apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/fake_customresourcedefinition.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix compiler errors
  pkg/azuredisk/fake_azuredisk_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

changes to GetServicePrincipalToken
  pkg/azureutils/azure_auth.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

passing in tenant id when creating azure credentials
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

changes to parseconfig
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

parseconfig + configureazureclients
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

adding debug logs
  pkg/azureutils/azure_auth.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

debug attempt: initialize tenantid
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

debug attemp: more logs
  pkg/azureutils/azure.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

debug attempt: more logs in ADU.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

debug attempt: more logs in ADU.go
  pkg/azureutils/azure.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

debugging
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

log
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add extra nil pointer check
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
