Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: adjust logging in node daemonset
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

bump cloudprovider and adopt new function changes
  go.mod
  go.sum
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/ginkgo_t_dsl.go
  vendor/github.com/onsi/ginkgo/v2/internal/output_interceptor_wasm.go
  vendor/github.com/onsi/ginkgo/v2/internal/progress_report_wasm.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/table_dsl.go
  vendor/github.com/onsi/ginkgo/v2/types/errors.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_fakes.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_managedDiskController.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.29.3 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.2.tgz
  charts/latest/azuredisk-csi-driver-v1.29.3.tgz
  charts/v1.29.3/azuredisk-csi-driver-v1.29.3.tgz
  charts/v1.29.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.3/azuredisk-csi-driver/values.yaml
  deploy/v1.29.3/crd-csi-snapshot.yaml
  deploy/v1.29.3/csi-azuredisk-controller.yaml
  deploy/v1.29.3/csi-azuredisk-driver.yaml
  deploy/v1.29.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.3/csi-azuredisk-node-windows.yaml
  deploy/v1.29.3/csi-azuredisk-node.yaml
  deploy/v1.29.3/csi-snapshot-controller.yaml
  deploy/v1.29.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.28.6 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.5.tgz
  charts/latest/azuredisk-csi-driver-v1.28.6.tgz
  charts/v1.28.6/azuredisk-csi-driver-v1.28.6.tgz
  charts/v1.28.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.6/azuredisk-csi-driver/values.yaml
  deploy/v1.28.6/crd-csi-snapshot.yaml
  deploy/v1.28.6/csi-azuredisk-controller.yaml
  deploy/v1.28.6/csi-azuredisk-driver.yaml
  deploy/v1.28.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.6/csi-azuredisk-node-windows.yaml
  deploy/v1.28.6/csi-azuredisk-node.yaml
  deploy/v1.28.6/csi-snapshot-controller.yaml
  deploy/v1.28.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.9 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.8.tgz
  charts/latest/azuredisk-csi-driver-v1.26.9.tgz
  charts/v1.26.9/azuredisk-csi-driver-v1.26.9.tgz
  charts/v1.26.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.9/azuredisk-csi-driver/values.yaml
  deploy/v1.26.9/crd-csi-snapshot.yaml
  deploy/v1.26.9/csi-azuredisk-controller.yaml
  deploy/v1.26.9/csi-azuredisk-driver.yaml
  deploy/v1.26.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.9/csi-azuredisk-node-windows.yaml
  deploy/v1.26.9/csi-azuredisk-node.yaml
  deploy/v1.26.9/csi-snapshot-controller.yaml
  deploy/v1.26.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore(deps): bump github/codeql-action from 2 to 3
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

migrate disk client to track2 sdk
  deploy/example/logs/0.2.0/csi-azuredisk-controller.log
  deploy/example/logs/0.3.0/csi-azuredisk-controller.log
  go.mod
  go.sum
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/utils/azure/azure_helpers.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/mock_diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/factory.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/factory_gen.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/mock_azclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/snapshotclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer_repo.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: adding ability to BYO storage classes for pod failover
  test/podFailover/workload/chart/templates/workload.yaml
Due: verify-yamllint

migrate snapshot client to track2 sdk
  go.mod
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
  pkg/tool/gen-disk-skus-map.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/snapshotclient/mock_snapshotclient/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: fix k8s.io/endpointslice dependency
  go.mod
  hack/verify-gomod.sh
  vendor/modules.txt
Due: verify-gomod

chore: refine ZRS disk volume nodeAffinity
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix test panic
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: support more ZRS skus
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: introduce reserved-data-disk-slot-num for improved volume mgtment
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/WindowsHostProcess.Dockerfile
  pkg/csi-common/driver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: introduce reserved-data-disk-slot-num for improved volume mgtment
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/main.go
  pkg/csi-common/driver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: add this repo to ArtifactHub
  README.md
  charts/artifacthub-repo.yml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove integration test
  Makefile
  test/integration/README.md
  test/integration/integration_test.go
  test/integration/run-test.sh
  test/integration/run-tests-all-clouds.sh
Due: verify-gofmt, verify-govet, verify-gomod

test: fix goveralls
  .github/workflows/linux.yml
Due: verify-yamllint

chore: respect RetryAfter in throttling condition
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix windows ut failure
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.30.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/v1.30.0/azuredisk-csi-driver-v1.30.0.tgz
  charts/v1.30.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.0/azuredisk-csi-driver/values.yaml
  deploy/v1.30.0/crd-csi-snapshot.yaml
  deploy/v1.30.0/csi-azuredisk-controller.yaml
  deploy/v1.30.0/csi-azuredisk-driver.yaml
  deploy/v1.30.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.0/csi-azuredisk-node-windows.yaml
  deploy/v1.30.0/csi-azuredisk-node.yaml
  deploy/v1.30.0/csi-snapshot-controller.yaml
  deploy/v1.30.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

vendor: use ForceDetach by default
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: none

chore: update master branch build version
  Makefile
Due: none
