Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: correct local uninstall command in v1.33.9 install doc
  docs/install-csi-driver-v1.33.9.md
Due: none

fix: correct local uninstall command in v1.33.x install docs
  docs/install-csi-driver-v1.33.0.md
  docs/install-csi-driver-v1.33.1.md
  docs/install-csi-driver-v1.33.2.md
  docs/install-csi-driver-v1.33.3.md
  docs/install-csi-driver-v1.33.4.md
  docs/install-csi-driver-v1.33.5.md
  docs/install-csi-driver-v1.33.6.md
  docs/install-csi-driver-v1.33.7.md
  docs/install-csi-driver-v1.33.8.md
  docs/install-csi-driver-v1.33.9.md
Due: none

Rename package
  pkg/os/disk/disk_cim.go
  pkg/os/volume/volume_cim.go
  pkg/os/wmi/disk.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Move away from microsoft/wmi
  pkg/os/cim/disk.go
  pkg/os/cim/volume.go
  pkg/os/cim/wmi.go
  pkg/os/disk/disk_cim.go
  pkg/os/volume/volume_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments
  pkg/os/disk/disk_cim.go
  pkg/os/volume/volume_cim.go
  pkg/os/wmi/disk.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Fix build: Enumerate callback takes *ole.VARIANT not *ole.IDispatch
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments (round 2)
  pkg/os/volume/volume_cim.go
  pkg/os/wmi/disk.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments (round 3)
  pkg/os/wmi/disk.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments (round 4)
  pkg/os/disk/disk_cim.go
  pkg/os/wmi/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments (round 5)
  pkg/os/disk/disk_cim.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments (round 6)
  pkg/os/wmi/disk.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review: fix double-release, add lifetime docs, prefer Uint64() for sizes, fix Int() overflow clamp
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add typed GetTYPEProperty methods
  pkg/os/wmi/disk.go
  pkg/os/wmi/volume.go
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_instance_metadata.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: verify-gomod

Fix enumeration on end of Enum
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Move escape \ to \\ to formatValue
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review: improve error context in GetStringPropertyAsUint64, add COM doc to Query
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: increase kube API rate limit for external e2e tests
  test/external-e2e/run.sh
Due: none

revert: remove --kube-api-qps/burst flags unsupported by k8s v1.31 e2e binary
  test/external-e2e/run.sh
Due: none

fix: reduce external e2e test parallelism to 2 procs
  test/external-e2e/run.sh
Due: none

increase ginkgo parallelism from 2 to 4 procs
  test/external-e2e/run.sh
Due: none

Honor stderrthreshold when logtostderr is enabled
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: retry with backoff when zone label is empty during NodeGetInfo
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: only retry zone label lookup when initial zone query failed
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: skip zone retry when allowEmptyCloudConfig is true, fix immediate flag and log
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use cloud.Location instead of allowEmptyCloudConfig as retry guard
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove cloud.Location guard — also empty during startup race
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: early exit retry for non-zonal nodes using region label
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: handle getNodeInfoFromLabels mode and fallback failures in retry
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
