Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

csi-common: demote empty GRPC response to klog.V(6)
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: disable klog logtostderr so buffer captures output
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

csi-common: address review feedback
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove v2.0.0-beta.6 from chart index
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: remove v2.0.0-beta.6 chart directory
  charts/v2.0.0-beta.6/azuredisk-csi-driver-v2.0.0-beta.6.tgz
  charts/v2.0.0-beta.6/azuredisk-csi-driver/Chart.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/azuredisk-csi-driver-v2.0.0-beta.6.tgz
  charts/v2.0.0-beta.6/azuredisk-csi-driver/side-by-side-values.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-controller-cleanup.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-controller-monitor.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-controller-service.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender-monitor.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender-service.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-azuredisk-storage-class.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/disk.csi.azure.com_azdrivernodes.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/disk.csi.azure.com_azvolumeattachments.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/disk.csi.azure.com_azvolumes.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/namespace-azure-disk-csi.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-scheduler-extender.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-scheduler-extender.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v2.0.0-beta.6/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

bump github/codeql-action init+analyze from 4.37.7 to 4.37.8
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

chore: add fstype allowlist
  docs/driver-parameters.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/mounter/fake_safe_mounter.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

security: mount azure.json read-only in CSI controller and node pods
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: refresh charts/latest tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: refresh charts/latest tgz
  charts/latest/azuredisk-csi-driver-1.34.5.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: CVE-2026-56854
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/ssh_gss.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2026-56854
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/ssh_gss.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/modules.txt
Due: verify-gomod

bump github/codeql-action init+analyze from 4.37.8 to 4.37.9
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

chore: add csi specific metrics
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove some labels
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: refactor metrics pkg
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: preserve tail of truncated error messages in kube-events
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

address unresolved review comments
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: set success metric on early-success returns; guard nil disk before SKU access
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add regression tests for early-success metrics and (nil,nil) disk
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: provide LUN publish context in NodeStage block-early-return test
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: promote prometheus/client_model to direct require
  go.mod
Due: verify-gomod

test: skip block-stage metric test on Windows
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: skip block-stage metric test on non-Linux (Darwin too)
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Merge pull request #3789 from andyzhangx/fix/expand-nil-check-and-stage-metrics
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Merge pull request #3789 from andyzhangx/fix/expand-nil-check-and-stage-metrics
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver_metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: promote prometheus/client_model to direct dependency
  go.mod
Due: verify-gomod

fix: CVE-2026-84304
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/checked.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/eval.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/explain.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/syntax.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/value.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/modules.txt
Due: verify-gomod

chore: update vendor
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/request/gen.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/gen.go
  vendor/go.opentelemetry.io/otel/AGENTS.md
  vendor/go.opentelemetry.io/otel/CLAUDE.md
  vendor/go.opentelemetry.io/otel/sdk/metric/internal/x/README.md
  vendor/go.opentelemetry.io/otel/sdk/metric/internal/x/x.go
  vendor/go.opentelemetry.io/otel/sdk/metric/splitmetrics.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/error_type.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/otelconv/metric.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/schema.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
Due: none

cleanup: shift kube-event truncation budget to preserve identity IDs at tail
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

go.mod: promote prometheus/client_model to direct dependency
  go.mod
Due: verify-gomod
