Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

v1.34.2
  Makefile
Due: none

doc: update new chart versions
  README.md
  charts/README.md
  charts/index.yaml
  charts/v1.34.2/azuredisk-csi-driver-1.34.2.tgz
  charts/v1.34.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.2/azuredisk-csi-driver/values.yaml
  deploy/v1.34.2/crd-csi-snapshot.yaml
  deploy/v1.34.2/csi-azuredisk-controller.yaml
  deploy/v1.34.2/csi-azuredisk-driver.yaml
  deploy/v1.34.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.2/csi-azuredisk-node-windows.yaml
  deploy/v1.34.2/csi-azuredisk-node.yaml
  deploy/v1.34.2/csi-snapshot-controller.yaml
  deploy/v1.34.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: review comment
  docs/migrate-batch-wrapper.md
  docs/migrate-premiumlrs-to-premiumv2lrs.md
  hack/lib-premiumv2-migration-common.sh
  hack/premium-to-premiumv2-migrator-batch.sh
Due: none

chore: upgrade to csi-provisioner v6.2.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade to csi-provisioner v6.2.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: trigger migration within few mins by batching the volumes or improving concurrency
  docs/migrate-batch-wrapper.md
  hack/premium-to-premiumv2-migrator-batch.sh
Due: none

test: fix CVE-2026-25679 in trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

refactor: update DetachDisk and waitForDiskManagedByTobeRemoved to include nodeName parameter
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add flag wait-for-detach-disk-complete
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix golint error
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
  .golangci.yml
  hack/verify-golint.sh
Due: verify-gomod, verify-yamllint

chore: fix copilot comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

docs: refine README for consistent formatting and readability
  README.md
Due: none

docs: refine e2e_usage.md for clarity and consistency
  deploy/example/e2e_usage.md
Due: none

Update azure_dd_max_disk_count.go with latest VM size list
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Run gofmt on azure_dd_max_disk_count.go
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

security: Update trivy-action to v0.35.0
  .github/workflows/trivy.yaml
Due: verify-yamllint

[Security] Restrict CSI node mountpoint-dir to /var/lib/kubelet/pods
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

refactor: remove kubeletDir variable and use kubelet with /pods suffix
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Add /var/lib/kubelet/plugins volume mount
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Regenerate charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

docs: fix outdated links, typos, and formatting in driver-parameters.md
  docs/driver-parameters.md
Due: none

fix: skip ManagedBy polling after successful VMSS detach
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
