Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: volume metrics on Windows csi-proxy v1beta
  pkg/mounter/safe_mounter_v1beta_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: run windows test on csi-proxy v0.2.2
  test/e2e/manifest/migration-windows.json
Due: none

chore: increase max watch duration on CAS cluster
  test/e2e/manifest/cluster-autoscaler.json
Due: none

chore: fix addition of details after creation
  pkg/workflow/workflow.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: pass azdisk config to SharedState
  pkg/azuredisk/azuredisk_v2.go
  pkg/controller/attach_detach.go
  pkg/controller/azdrivernode.go
  pkg/controller/azvolume.go
  pkg/controller/azvolume_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/pod.go
  pkg/controller/pv.go
  pkg/controller/pv_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: enable configuration of CRD controller worker threads
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-controller.yaml
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azurediskplugin/main.go
  pkg/controller/attach_detach.go
  pkg/controller/azdrivernode.go
  pkg/controller/azvolume.go
  pkg/controller/node_availability.go
  pkg/controller/pod.go
  pkg/controller/pv.go
  pkg/controller/replica.go
  pkg/controller/volumeattachment.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: upgrade sidecar container images
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: update PV controller to log the error and continue to recover the next pv in Recover function
  go.mod
  pkg/controller/pv.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: combine azdrivernode and node_availability into a single controller
  pkg/azuredisk/azuredisk_v2.go
  pkg/controller/node.go
  pkg/controller/node_availability.go
  pkg/controller/node_availability_test.go
  pkg/controller/node_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: add disk lun check in VMSSFlex AttachDisk to avoid race condition
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
Due: verify-gomod

fix: delete orphaned azdrivernode
  pkg/azuredisk/azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/common_test.go
  pkg/controller/node.go
  pkg/controller/node_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: watch CRD deletion to track driver uninstall
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/interface_v2.go
  pkg/azuredisk/mockprovisioner/interface.go
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/azvolume_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/pv.go
  pkg/controller/replica.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/clientset_generated.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/register.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/fake_apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1/fake/fake_customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/fake_apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/fake/fake_customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/interface.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/v1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/v1/interface.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/apiextensions/v1beta1/interface.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/factory.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/generic.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/listers/apiextensions/v1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/listers/apiextensions/v1/expansion_generated.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/listers/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/listers/apiextensions/v1beta1/expansion_generated.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

perf: changed to use channel to comunicate when delete azvolume
  pkg/controller/azvolume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: increase csi-provisioner timeout to 30s
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: use azidentity with adapter instead of ADAL
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: fix race in VMSS cache update
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer_backendpool.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: verify-gomod

fix: Add missing machine in SKU listings
  pkg/optimization/azure_skus_map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add external stress e2e tests
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

Update node_availability.go to node.go
  docs/azure-disk-v2-driver-design/replica-creation-workflow.md
Due: none

chore: increase azuredisk kubeclient QPS
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

refactor: start informers in one place
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/interface_v2.go
  pkg/azuredisk/mockprovisioner/interface.go
  pkg/azureutils/informer_common.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
  pkg/watcher/conditionwatcher.go
  test/integration/controller/controller_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove unneeded error return from NewConditionWaiter
  pkg/controller/azvolume.go
  pkg/controller/replica.go
  pkg/provisioner/crdprovisioner.go
  pkg/watcher/conditionwatcher.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: don't return unncessary error in crdProvisioner.CreateVolume
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add requirements.txt with fixed versions to use in pip install
  hack/requirements.txt
  hack/verify-helm-chart.sh
Due: none

chore: update to Go 1.19
  go.mod
Due: verify-gomod

chore: use go.mod version in GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/darwin.yaml
  .github/workflows/linux-v2.yml
  .github/workflows/linux.yml
  .github/workflows/trivy-v2.yaml
  .github/workflows/trivy.yaml
  .github/workflows/windows-v2.yml
  .github/workflows/windows.yml
Due: verify-yamllint

fix: fix CVE-2022-41717
  go.mod
  go.sum
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/execabs/execabs_go119.go
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Due: verify-gomod

feat: add optional pprof server
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azdiskschedulerextender/main.go
  pkg/azureconstants/azure_constants.go
  pkg/azurediskplugin/main.go
  pkg/profiler/profiler.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: CVE-2022-41717
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: verify-gomod

chore: revamp debugging docs and include V2 information
  docs/csi-debug.md
  pkg/profiler/profiler.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: make Recover Annotation unique per Recovery
  pkg/azuredisk/azuredisk_v2.go
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azvolume.go
  pkg/controller/azvolume_test.go
  pkg/controller/node.go
  pkg/controller/node_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: handle pre-provisioned volume deletion case gracefully
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/pod_test.go
  pkg/controller/pv.go
  pkg/controller/pv_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: handle race in inline azVolume deletion
  pkg/controller/azvolume.go
  pkg/controller/common.go
  pkg/controller/node.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: update cloud-provider-azure logic to handle preemption
  go.mod
  go.sum
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/helpers.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_config.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_fakes.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/retry/azure_error.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
