Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: optionally skip reading the config from the API server
  pkg/azuredisk/azuredisk_option.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update csi-resizer to v2.2.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update csi-resizer to v2.2.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.34.5.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add OpenTelemetry tracing for CSI operations
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/trace.go
  pkg/azuredisk/trace_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/ratelimiter_trace.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: sync go.mod deps (otel/trace direct, otlptrace indirect)
  go.mod
Due: verify-gomod

Add disk-name correlation across trace spans and logs
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/trace.go
  pkg/azuredisk/trace_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/ratelimiter_trace.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fixes Build Test/unit test failures
  go.mod
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/trace.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: go mod tidy reclassify otlptracegrpc as indirect
  go.mod
Due: verify-gomod

chore: bump trivy scan Go to 1.25.13
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
  go.mod
Due: verify-gomod, verify-yamllint

chore: bump Go to 1.26.6
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
  go.mod
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

Prevent case mismatch on Get disks call
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Implement claim/unclaim resource API
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Sanitize BlobUR to ensure the attach/detach works
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Initial changes for host based attach and detach
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Small cleanup change
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add statefulset test file
  deploy/example/qad/statefulset.yaml
Due: verify-yamllint

Initial changes to enable QAD integration
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/mock_diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/zz_generated_client.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: qad check
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Send managed identity token to the wireserver API
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Remove the temporary testing changes
  Makefile
  deploy/example/deployment.yaml
  deploy/example/qad/deployment.yaml
  deploy/example/qad/pv.yaml
  deploy/example/qad/pvc.yaml
  deploy/example/qad/statefulset.yaml
  deploy/example/windows/deployment.yaml
  deploy/example/windows/statefulset.yaml
  test-qad/ARCHITECTURE.txt
  test-qad/FILE_MANIFEST.txt
  test-qad/INDEX.md
  test-qad/QUICK_START.md
  test-qad/README.md
  test-qad/REQUIREMENTS.md
  test-qad/SETUP_COMPLETE.md
  test-qad/TEST_RESULTS.md
  test-qad/chaos-loop.sh
  test-qad/csi_metrics.json
  test-qad/csi_metrics_extractor.py
  test-qad/extract_csi_metrics.py
  test-qad/generate_csi_report.py
  test-qad/metrics.json
  test-qad/qad-report.html
  test-qad/qad-test-helper.sh
  test-qad/qad-test-manifest.yaml
  test-qad/qad_0_metrics.json
  test-qad/qad_combined_metrics.json
  test-qad/qad_combined_report.html
  test-qad/qad_final_metrics.json
  test-qad/qad_final_report.html
  test-qad/qad_metrics_extractor.py
  test-qad/qad_my_log_metrics.json
  test-qad/qad_report_generator.py
  test-qad/run-test.sh
  test-qad/test_run_metrics.json
Due: verify-yamllint

test: testing files and updates
  deploy/example/qad/deployment.yaml
  deploy/example/qad/pv.yaml
  deploy/example/qad/pvc.yaml
  pkg/azuredisk/nodeserver.go
  test-qad/ARCHITECTURE.txt
  test-qad/FILE_MANIFEST.txt
  test-qad/INDEX.md
  test-qad/QUICK_START.md
  test-qad/README.md
  test-qad/REQUIREMENTS.md
  test-qad/SETUP_COMPLETE.md
  test-qad/TEST_RESULTS.md
  test-qad/chaos-loop.sh
  test-qad/csi_metrics.json
  test-qad/csi_metrics_extractor.py
  test-qad/extract_csi_metrics.py
  test-qad/generate_csi_report.py
  test-qad/metrics.json
  test-qad/qad-report.html
  test-qad/qad-test-helper.sh
  test-qad/qad-test-manifest.yaml
  test-qad/qad_0_metrics.json
  test-qad/qad_combined_metrics.json
  test-qad/qad_combined_report.html
  test-qad/qad_final_metrics.json
  test-qad/qad_final_report.html
  test-qad/qad_metrics_extractor.py
  test-qad/qad_my_log_metrics.json
  test-qad/qad_report_generator.py
  test-qad/run-test.sh
  test-qad/test_run_metrics.json
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

Added error codes, changed blobURL and token handling
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Error handling changes
  Makefile
  deploy/example/deployment.yaml
  deploy/example/windows/deployment.yaml
  deploy/example/windows/statefulset.yaml
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

Changes that work
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Add latency numbers
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Call the BeginGrantAccess API
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Implement batching
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Latest changes that work
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  test/e2e/driver/azuredisk_driver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Modify the e2e tests to allow running tests for QAD
  pkg/azuredisk/controllerserver.go
  test/e2e/driver/azuredisk_driver.go
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/mock_diskclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/diskclient/zz_generated_client.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test(e2e): add tags and userAgent snapshot class parameters
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

bump github/codeql-action init+analyze from 4.37.6 to 4.37.7
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

fix: Sync before unmount as part of NodeUnstageVolume request
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/mounter/fake_safe_mounter.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Move OTel span ownership into disk-controller entry points
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add metrics in formatAndMount
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/metrics/metrics.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: unconfigure hostPID setting on the node driver
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: address review comments
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Fixed comments
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
