Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: upgrade azure lib
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmclient/azure_vmclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/helpers.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_config.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_fakes.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
Due: verify-gomod

chore: fix context interface
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: clear status error and detail upon AzVolumeAttachment recovery if in Attaching state
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

feat: adding toggle for waitforlun function
  .gitignore
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.10.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azurediskplugin/main.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
  test/integration/controller/controller_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix e2e: disable podSecurity
  test/e2e/manifest/migration-windows.json
  test/e2e/manifest/migration.json
  test/e2e/manifest/multi-az.json
  test/e2e/manifest/single-az.json
Due: none

Revert "fix e2e: disable podSecurity"
  test/e2e/manifest/migration-windows.json
  test/e2e/manifest/migration.json
  test/e2e/manifest/multi-az.json
  test/e2e/manifest/single-az.json
Due: none

fix: changing scheduler name logic to install method
  test/podFailover/workload/chart/templates/workload.yaml
Due: verify-yamllint

fix: uninstall path
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade azure cloud provider lib
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
Due: verify-gomod

feat: add disable-update-cache flag
  pkg/azuredisk/azuredisk.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  README.md
Due: none

feat: support force detach disk
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: none

Use k8s utils pointer instead of Azure autorest/to
  go.mod
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/testsuites/testsuites.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: helm lint
  hack/verify-helm-chart.sh
Due: none

fix: need parse csiProvisionerIdentity parameter
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add PowerShell module for log/operation analysis
  docs/csi-debug.md
  hack/AzureDiskCSIDriver.psd1
  hack/AzureDiskCSIDriver.psm1
  hack/boilerplate/boilerplate.psd1.txt
  hack/boilerplate/boilerplate.psm1.txt
Due: none

vendor: set ForceAttemptHTTP2 as false to respect custom dialer
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_ratelimit.go
Due: verify-gomod

doc: cut v1.26.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.0.tgz
  charts/v1.26.0/azuredisk-csi-driver-v1.26.0.tgz
  charts/v1.26.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.0/azuredisk-csi-driver/values.yaml
  deploy/v1.26.0/crd-csi-snapshot.yaml
  deploy/v1.26.0/csi-azuredisk-controller.yaml
  deploy/v1.26.0/csi-azuredisk-driver.yaml
  deploy/v1.26.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.0/csi-azuredisk-node-windows.yaml
  deploy/v1.26.0/csi-azuredisk-node.yaml
  deploy/v1.26.0/csi-snapshot-controller.yaml
  deploy/v1.26.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: switch master branch version
  Makefile
Due: none

fix: azvolume recovery bug fix - status update, parameter parsing
  pkg/azuredisk/controllerserver.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: make uninstallation compatible with backload DELETE change
  pkg/controller/common.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update install-azuredisk-csi-driver.md
  docs/install-azuredisk-csi-driver.md
Due: none

Update README.md
  deploy/example/cloning/README.md
Due: none

cleanup: remove useless storage class yaml files
  deploy/example/storageclass-azuredisk-csi-large-scale.yaml
  deploy/example/storageclass-azuredisk-csi-topology.yaml
Due: verify-yamllint

Update README.md
  deploy/example/topology/README.md
Due: none

chore: update cloud-provider-azure
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: verify-gomod

Update and rename storageclass-azuredisk-csi-allowed-topologies.yaml to storageclass-azuredisk-csi-allowed-topology.yaml
  deploy/example/storageclass-azuredisk-csi-allowed-topology.yaml
Due: verify-yamllint
