Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: use node informer to get node labels
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
  vendor/k8s.io/client-go/metadata/interface.go
  vendor/k8s.io/client-go/metadata/metadata.go
  vendor/k8s.io/client-go/metadata/metadatainformer/informer.go
  vendor/k8s.io/client-go/metadata/metadatainformer/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/lister.go
  vendor/k8s.io/client-go/metadata/metadatalister/shim.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.33.12 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.11.tgz
  charts/latest/azuredisk-csi-driver-1.33.12.tgz
  charts/v1.33.12/azuredisk-csi-driver-1.33.12.tgz
  charts/v1.33.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.12/azuredisk-csi-driver/values.yaml
  deploy/v1.33.12/crd-csi-snapshot.yaml
  deploy/v1.33.12/csi-azuredisk-controller.yaml
  deploy/v1.33.12/csi-azuredisk-driver.yaml
  deploy/v1.33.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.12/csi-azuredisk-node-windows.yaml
  deploy/v1.33.12/csi-azuredisk-node.yaml
  deploy/v1.33.12/csi-snapshot-controller.yaml
  deploy/v1.33.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.34.6 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.5.tgz
  charts/latest/azuredisk-csi-driver-1.34.6.tgz
  charts/v1.34.6/azuredisk-csi-driver-1.34.6.tgz
  charts/v1.34.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.6/azuredisk-csi-driver/values.yaml
  deploy/v1.34.6/crd-csi-snapshot.yaml
  deploy/v1.34.6/csi-azuredisk-controller.yaml
  deploy/v1.34.6/csi-azuredisk-driver.yaml
  deploy/v1.34.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.6/csi-azuredisk-node-windows.yaml
  deploy/v1.34.6/csi-azuredisk-node.yaml
  deploy/v1.34.6/csi-snapshot-controller.yaml
  deploy/v1.34.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore(deps): bump golang.org/x/crypto to v0.56.0 to fix Trivy CVEs
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2026-56855
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/transport.go
  vendor/modules.txt
Due: verify-gomod

chore: add metrics in formatAndMount
  deploy/example/metrics/README.md
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/metrics/metrics.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix issues
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

vendor: add Kata direct-volume dependency
  go.mod
  go.sum
  vendor/github.com/kata-containers/kata-containers/src/runtime/LICENSE
  vendor/github.com/kata-containers/kata-containers/src/runtime/pkg/direct-volume/utils.go
  vendor/modules.txt
Due: verify-gomod

feat: Support Kata mounts with virtio-blk
  README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_test.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore(chart): update latest helm package
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

feat: Support Kata mounts with virtio-blk
  Makefile
  README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  docs/kata-mount.md
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_test.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: add feature gate for qad - NodeDrivenAttachDetach
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
  docs/driver-parameters.md
  docs/node-driven-attach-detach.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/attach_mode.go
  pkg/azuredisk/attach_mode_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/features.go
  pkg/azuredisk/nodeserver.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/driver/azuredisk_driver.go
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: clear snapshot continuation token after the last page
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: expect an empty token after listing all snapshots
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

bump github/codeql-action init+analyze from 4.37.9 to 4.38.0
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

address review comments and fix go lint issues
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_common_linux.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Fixed comments
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

remove QAD batcher
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: restore staging for ordinary publishes after Kata
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: prevent host restaging of Kata direct volumes
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: preserve Kata volume publication mode on retries
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address Copilot review
  docs/kata-mount.md
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address more Copilot feedback
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: cleanup and fix broken tests
  pkg/azuredisk/kata.go
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: address Copilot feedback
  docs/kata-mount.md
  pkg/azuredisk/kata_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

other fixes
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.35.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.35.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.35.0/azuredisk-csi-driver-1.35.0.tgz
  charts/v1.35.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.35.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.35.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.35.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.35.0/azuredisk-csi-driver/values.yaml
  deploy/v1.35.0/crd-csi-snapshot.yaml
  deploy/v1.35.0/csi-azuredisk-controller.yaml
  deploy/v1.35.0/csi-azuredisk-driver.yaml
  deploy/v1.35.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.35.0/csi-azuredisk-node-windows.yaml
  deploy/v1.35.0/csi-azuredisk-node.yaml
  deploy/v1.35.0/csi-snapshot-controller.yaml
  deploy/v1.35.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.35.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.35.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.35.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.35.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

publish azuredisk-csi-driver chart 1.35.0
  azuredisk-csi-driver-1.35.0.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.6
  azuredisk-csi-driver-1.34.6.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.33.12
  azuredisk-csi-driver-1.33.12.tgz
  index.yaml
Due: verify-yamllint

better engineering
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix(nodeserver): treat missing PV as non-QAD in NodeStageVolume
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix(nodeserver): run Kata idempotency check before QAD PV lookup
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add feature gate for qad - NodeDrivenAttachDetach
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/example/storageclass-azuredisk-csi-node-driven.yaml
  docs/driver-parameters.md
  docs/node-driven-attach-detach.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/attach_mode.go
  pkg/azuredisk/attach_mode_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/features.go
  pkg/azureutils/azure_disk_utils.go
  test/e2e/driver/azuredisk_driver.go
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
