Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: use correct time unit (seconds) and cache remaining time
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: increase timing tolerance in TestForceDetach for Windows CI
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: create volume leaks disk when throttled and PVC deleted
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add SELinuxMount support
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

enable seLinuxMount feature in E2E helm options
  Makefile
Due: none

feat: add SELinuxMount support
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: regenerate helm chart tgz files
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/v1.34.0/azuredisk-csi-driver-1.34.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: node lookup should be best effort and not blocking
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

revert: remove Makefile and charts/v1.34.0 changes
  Makefile
  charts/v1.34.0/azuredisk-csi-driver-1.34.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

Merge pull request #3628 from hasethuraman/hari/qps-burst-bump
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: regenerate helm chart tgz
  charts/latest/azuredisk-csi-driver-1.33.10.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: use node informer to get get node labels
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Address review comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azureutils/azure_disk_utils.go
  vendor/k8s.io/client-go/metadata/interface.go
  vendor/k8s.io/client-go/metadata/metadata.go
  vendor/k8s.io/client-go/metadata/metadatainformer/informer.go
  vendor/k8s.io/client-go/metadata/metadatainformer/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/lister.go
  vendor/k8s.io/client-go/metadata/metadatalister/shim.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use "0" instead of empty string for non-zonal topology zone value
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fixing test runs
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Only fall back to kube api server if lister isn't available
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat(azuredisk): skip detach for already-unattached disk on ControllerUnpublishVolume
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore(lockMap): use semaphore.Weights for lock for fairness and ctx cancellation
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/util.go
  pkg/azuredisk/util_test.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: preserve tail of truncated error messages in kube-events
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2026-25680
  go.mod
  go.sum
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/cryptobyte/asn1/asn1.go
  vendor/golang.org/x/crypto/cryptobyte/builder.go
  vendor/golang.org/x/crypto/cryptobyte/string.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/pkcs12/mac.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/control.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/session.go
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/tools/go/ast/edge/edge.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/modules.txt
Due: verify-gomod

Fixing review comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Apply copilot review suggestions
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: reduce WINDOWS_WORKER_MACHINE_COUNT to 2 for CI stability
  Makefile
Due: none

chore(deps): bump github/codeql-action from 4.36.2 to 4.36.3
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

cleanup: remove unnecessary logs
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

raise kube-api-qps/burst on snapshot-controller and csi-snapshotter
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

regen latest helm chart tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

test: skip Windows statefulset example in verify-examples.sh
  hack/verify-examples.sh
Due: none

Merge pull request #3688 from andyzhangx/bump-snapshot-qps
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update charts/v1.34.4 templates and regenerate tgz files
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/v1.34.4/azuredisk-csi-driver-1.34.4.tgz
  charts/v1.34.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart
