Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

cleanup: add one log for danling volume issue
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2025-22872
  go.mod
  go.sum
  vendor/golang.org/x/crypto/cryptobyte/asn1.go
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_loong64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.s
  vendor/golang.org/x/sys/cpu/parse.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Due: verify-gomod

chore: DeleteCacheForNode is only called when updateCache is not called
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_local_services.go
Due: verify-gomod

doc: cut v1.32.3 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.2.tgz
  charts/latest/azuredisk-csi-driver-1.32.3.tgz
  charts/v1.32.3/azuredisk-csi-driver-1.32.3.tgz
  charts/v1.32.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.3/azuredisk-csi-driver/values.yaml
  deploy/v1.32.3/crd-csi-snapshot.yaml
  deploy/v1.32.3/csi-azuredisk-controller.yaml
  deploy/v1.32.3/csi-azuredisk-driver.yaml
  deploy/v1.32.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.3/csi-azuredisk-node-windows.yaml
  deploy/v1.32.3/csi-azuredisk-node.yaml
  deploy/v1.32.3/csi-snapshot-controller.yaml
  deploy/v1.32.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add ut
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/example/volumegroupsnapshot/nginx-pod-restored-volumegroupsnapshot.yaml
  deploy/example/volumegroupsnapshot/pvc-azuredisk-volumegroupsnapshot-restored.yaml
  go.mod
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

add volume group snapshot
  deploy/crd-csi-volumegroupsnapshot.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/example/volumegroupsnapshot/azuredisk-volume-group-snapshot.yaml
  deploy/example/volumegroupsnapshot/nginx-pod-volume-group-snapshot-azuredisk.yaml
  deploy/example/volumegroupsnapshot/pvc-volume-group-snapshot.yaml
  deploy/example/volumegroupsnapshot/storageclass-azuredisk-volume-group-snapshot.yaml
  deploy/install-driver.sh
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/identityserver.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/csi-common/driver.go
  pkg/csi-common/driver_test.go
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: incorrect disk num discovery on Windows 2019 node
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove disks from the batch if it exceeds maxdatadisks limit
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Revert "fix: wait for detach disk finish first"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.31.8 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.7.tgz
  charts/latest/azuredisk-csi-driver-1.31.8.tgz
  charts/v1.31.8/azuredisk-csi-driver-1.31.8.tgz
  charts/v1.31.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.8/azuredisk-csi-driver/values.yaml
  deploy/v1.31.8/crd-csi-snapshot.yaml
  deploy/v1.31.8/csi-azuredisk-controller.yaml
  deploy/v1.31.8/csi-azuredisk-driver.yaml
  deploy/v1.31.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.8/csi-azuredisk-node-windows.yaml
  deploy/v1.31.8/csi-azuredisk-node.yaml
  deploy/v1.31.8/csi-snapshot-controller.yaml
  deploy/v1.31.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.4 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.3.tgz
  charts/latest/azuredisk-csi-driver-1.32.4.tgz
  charts/v1.32.4/azuredisk-csi-driver-1.32.4.tgz
  charts/v1.32.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.4/azuredisk-csi-driver/values.yaml
  deploy/v1.32.4/crd-csi-snapshot.yaml
  deploy/v1.32.4/csi-azuredisk-controller.yaml
  deploy/v1.32.4/csi-azuredisk-driver.yaml
  deploy/v1.32.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.4/csi-azuredisk-node-windows.yaml
  deploy/v1.32.4/csi-azuredisk-node.yaml
  deploy/v1.32.4/csi-snapshot-controller.yaml
  deploy/v1.32.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: disk detach failure on AzureStack Hub
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: verify-gomod

chore: add VolumeAPI interface
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/volume/volume.go
  pkg/os/volume/volume_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: revert to go1.23
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
Due: verify-gomod

cleanup: add toolchain in go.mod to unblock autobot upgrade
  go.mod
Due: verify-gomod

chore: upgrade snapshot sidecar image to v8.2.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade snapshot sidecar image to v8.2.1
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.32.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix vpa install script
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
Due: none

feat: Use WMI to implement Disk API to reduce PowerShell overhead#2
  pkg/os/cim/disk.go
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade mount-utils
  go.mod
  go.sum
  vendor/k8s.io/mount-utils/doc.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/modules.txt
Due: verify-gomod

chore: add disk api interface
  pkg/mounter/safe_mounter_host_process_windows.go
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add more logging in Resizevolume
  pkg/os/volume/volume_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix snapshot crd
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix resize volume error on Windows node using WMI api
  pkg/os/volume/volume_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: fix snapshot crd illegal characters
  charts/latest/azuredisk-csi-driver-1.32.4.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  deploy/crd-csi-snapshot.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix deploy snapshot crd
  deploy/crd-csi-snapshot.yaml
Due: verify-yamllint
