Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

Update README.md
  README.md
Due: none

feat: add attach-detach-initial-delay-ms driver parameter
  pkg/azuredisk/azuredisk.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: increase csi-attacher worker-threads num
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: buildx issue with provenance disabled
  Makefile
Due: none

feat: creating workload manifest to use for workload tests
  test/e2e/manifest/workload.json
Due: none

test: fix external e2e test
  test/external-e2e/run.sh
Due: none

chore: remove dependency on golang.org/x/text specific version
  go.mod
  go.sum
  vendor/golang.org/x/text/internal/language/compact/language.go
  vendor/golang.org/x/text/internal/language/language.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/language/go1_1.go
  vendor/golang.org/x/text/language/go1_2.go
  vendor/golang.org/x/text/language/language.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/golang.org/x/text/unicode/bidi/trieval.go
  vendor/modules.txt
Due: verify-gomod

test: reduce external e2e test load
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

feat: add traffic manager proxy chart
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: integrate aks traffic manager proxy
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: add enableTrafficManager doc
  Makefile
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: print proxy container logs
  test/utils/azuredisk_log.sh
Due: none

Pin k8s.io/dynamic-resource-allocation version
  go.mod
  vendor/modules.txt
Due: verify-gomod

chore: increase csi-attacher sidecar qps/burst/thread
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: second expand volume failure on Ubuntu 22.04
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  deploy/example/snapshot/README.md
Due: none

Update storageclass-azuredisk-csi-allowed-topology.yaml
  deploy/example/storageclass-azuredisk-csi-allowed-topology.yaml
Due: verify-yamllint

Update README.md
  deploy/example/cloning/README.md
Due: none

support volumesnapshotclass in helm
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: enable snapshot.VolumeSnapshotClass creation in e2e test
  Makefile
Due: none

chore: update cloud-provider-azure dependency
  go.mod
  go.sum
  pkg/provisioner/cloudprovisioner.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.27.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.27.0.tgz
  charts/v1.27.0/azuredisk-csi-driver-v1.27.0.tgz
  charts/v1.27.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.27.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.27.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.27.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.27.0/azuredisk-csi-driver/values.yaml
  deploy/v1.27.0/crd-csi-snapshot.yaml
  deploy/v1.27.0/csi-azuredisk-controller.yaml
  deploy/v1.27.0/csi-azuredisk-driver.yaml
  deploy/v1.27.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.27.0/csi-azuredisk-node-windows.yaml
  deploy/v1.27.0/csi-azuredisk-node.yaml
  deploy/v1.27.0/csi-snapshot-controller.yaml
  deploy/v1.27.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.27.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.27.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.27.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.27.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: switch master branch version
  Makefile
Due: none

fix: CVE-2022-41723
  go.mod
  go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/histogram.go
  vendor/modules.txt
Due: verify-gomod

chore: update maxDataDiskCountMap
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove metrics-address on driver daemonset on the node
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: fix getting pods from alternate namespace
  hack/get-logs.sh
Due: none

fix: matching scale test manifest with aurora
  test/e2e/manifest/scale-test.json
Due: none

feat: Add end-to-end publish/unpublish latency and error analysis cmdlets
  hack/AzureDiskCSIDriver.psm1
Due: none

fix: update replica attachment failure retries logic
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azurediskplugin/main.go
  pkg/controller/attach_detach.go
  pkg/controller/replica.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

upgrade go-armbalancer lib
  vendor/github.com/Azure/go-armbalancer/armbalancer.go
Due: none

vendor: set PoolSize as 100
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
Due: none

always set diskMap for current volume detach
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

vendor: remove compareHost compare in go-armbalancer
  vendor/github.com/Azure/go-armbalancer/armbalancer.go
Due: none

feat: switch to use go-armbalancer
  vendor/github.com/Azure/go-armbalancer/CODE_OF_CONDUCT.md
  vendor/github.com/Azure/go-armbalancer/LICENSE
  vendor/github.com/Azure/go-armbalancer/README.md
  vendor/github.com/Azure/go-armbalancer/SECURITY.md
  vendor/github.com/Azure/go-armbalancer/SUPPORT.md
  vendor/github.com/Azure/go-armbalancer/armbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
Due: none

vendor: skip refreshing cache within 1s
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
Due: none

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
