Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: checkDiskLun throttling issue
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unused integration tests
  test/integration/README.md
  test/integration/integration_test.go
  test/integration/run-test.sh
  test/integration/run-tests-all-clouds.sh
Due: verify-gofmt, verify-govet, verify-gomod

chore: upgrade csi-provisioner to v5.0.2
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: upgrade csi-provisioner to v5.0.2 to fix pv deletion stuck issue
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.3.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: upgrade csi-provisioner to v5.0.2 to fix pv deletion stuck issue
  charts/latest/azuredisk-csi-driver-v1.29.8.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: upgrade csi-provisioner to v5.0.2 to fix pv deletion stuck issue
  charts/v1.29.8/azuredisk-csi-driver-v1.29.8.tgz
  charts/v1.29.8/azuredisk-csi-driver/values.yaml
  charts/v1.30.3/azuredisk-csi-driver-v1.30.3.tgz
  charts/v1.30.3/azuredisk-csi-driver/values.yaml
  deploy/v1.29.8/csi-azuredisk-controller.yaml
  deploy/v1.30.3/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: don't return error when deleting rg failed in sanity test
  test/sanity/sanity_test.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod

replace k8s.io/utils/pointer with k8s.io/utils/ptr
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.28.11 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.10.tgz
  charts/latest/azuredisk-csi-driver-v1.28.11.tgz
  charts/v1.28.11/azuredisk-csi-driver-v1.28.11.tgz
  charts/v1.28.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.11/azuredisk-csi-driver/values.yaml
  deploy/v1.28.11/crd-csi-snapshot.yaml
  deploy/v1.28.11/csi-azuredisk-controller.yaml
  deploy/v1.28.11/csi-azuredisk-driver.yaml
  deploy/v1.28.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.11/csi-azuredisk-node-windows.yaml
  deploy/v1.28.11/csi-azuredisk-node.yaml
  deploy/v1.28.11/csi-snapshot-controller.yaml
  deploy/v1.28.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.9 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.8.tgz
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/v1.29.9/azuredisk-csi-driver-v1.29.9.tgz
  charts/v1.29.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.9/azuredisk-csi-driver/values.yaml
  deploy/v1.29.9/crd-csi-snapshot.yaml
  deploy/v1.29.9/csi-azuredisk-controller.yaml
  deploy/v1.29.9/csi-azuredisk-driver.yaml
  deploy/v1.29.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.9/csi-azuredisk-node-windows.yaml
  deploy/v1.29.9/csi-azuredisk-node.yaml
  deploy/v1.29.9/csi-snapshot-controller.yaml
  deploy/v1.29.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.4 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.3.tgz
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/v1.30.4/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.4/azuredisk-csi-driver-v1.30.4.tgz
  charts/v1.30.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.4/azuredisk-csi-driver/values.yaml
  deploy/v1.30.4/crd-csi-snapshot.yaml
  deploy/v1.30.4/csi-azuredisk-controller.yaml
  deploy/v1.30.4/csi-azuredisk-driver.yaml
  deploy/v1.30.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.4/csi-azuredisk-node-windows.yaml
  deploy/v1.30.4/csi-azuredisk-node.yaml
  deploy/v1.30.4/csi-snapshot-controller.yaml
  deploy/v1.30.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: upgrade golint version and fix golint errors
  .github/workflows/static.yaml
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
  pkg/os/volume/volume.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: increase liveness-probe timeout on Windows node
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade to base image alpine 3.20.2
  pkg/azurediskplugin/Dockerfile
Due: none

test: skip "should create a volume azuredisk with tag" test on Windows
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: upgrade golang version
  .github/workflows/trivy.yaml
  go.mod
Due: verify-gomod, verify-yamllint

chore: upgrade golang version
  .github/workflows/trivy.yaml
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/framework/testfiles/testdata/a/foo.txt
Due: verify-gomod, verify-yamllint

fix: resize failure when cloning a volume with bigger size on Windows
  pkg/mounter/safe_mounter_host_process_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: use go 1.22
  go.mod
Due: verify-gomod

fix: upgrade node-driver-registrar to fix register timeout issue
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/values.yaml
  charts/v1.29.8/azuredisk-csi-driver-v1.29.8.tgz
  charts/v1.29.8/azuredisk-csi-driver/values.yaml
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  charts/v1.30.3/azuredisk-csi-driver-v1.30.3.tgz
  charts/v1.30.3/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows.yaml
  deploy/v1.29.7/csi-azuredisk-node.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows.yaml
  deploy/v1.29.8/csi-azuredisk-node.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows.yaml
  deploy/v1.30.3/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: upgrade golint version and fix golint errors
  .github/workflows/static.yaml
  .golangci.yml
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
  pkg/csi-common/server.go
  pkg/csi-common/utils_test.go
  pkg/os/disk/types.go
  pkg/os/volume/volume.go
  pkg/tool/gen-disk-skus-map.go
  pkg/util/util.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/testsuites.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

cleanup: upgrade golint version and fix golint errors
  .github/workflows/static.yaml
  .golangci.yml
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
  pkg/csi-common/utils_test.go
  pkg/os/disk/types.go
  pkg/os/volume/volume.go
  pkg/tool/gen-disk-skus-map.go
  pkg/util/util.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: upgrade node-driver-registrar to fix register timeout issue
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  charts/v1.29.7/azuredisk-csi-driver-v1.29.7.tgz
  charts/v1.29.7/azuredisk-csi-driver/values.yaml
  charts/v1.29.8/azuredisk-csi-driver-v1.29.8.tgz
  charts/v1.29.8/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.7/csi-azuredisk-node-windows.yaml
  deploy/v1.29.7/csi-azuredisk-node.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.8/csi-azuredisk-node-windows.yaml
  deploy/v1.29.8/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase liveness-probe timeout on Windows node
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase liveness-probe timeout on Windows node
  charts/latest/azuredisk-csi-driver-v1.28.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
