Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: CVE-2023-5528
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/cel/library/cost.go
  vendor/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  vendor/k8s.io/apiserver/pkg/server/secure_serving.go
  vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2023-5528
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go
  vendor/k8s.io/apiserver/pkg/cel/library/cost.go
  vendor/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  vendor/k8s.io/apiserver/pkg/server/secure_serving.go
  vendor/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2023-5528
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/internal/httprule/parse.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/context.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/convert.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/fieldmask.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_jsonpb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/mux.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/query.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/utilities/string_array_flag.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/modules.txt
Due: verify-gomod

add nginx-pod for volumegroupsnapshot yaml file
  deploy/example/volumegroupsnapshot/nginx-pod-volume-group-snapshot-azuredisk.yaml
Due: verify-yamllint

temp
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/install-driver.sh
  deploy/rbac-csi-azuredisk-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
  log-s.txt
  log-sc.txt
  log.txt
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

upgrade golangci/golangci-lint-action to v1.54
  .github/workflows/static.yaml
  .golangci.yml
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/identityserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/fake_iohandler.go
  pkg/csi-common/server_test.go
  pkg/mounter/fake_safe_mounter.go
  pkg/mounter/safe_mounter_unix.go
  pkg/optimization/azure_skus_map.go
  pkg/optimization/skus_test.go
  pkg/os/filesystem/filesystem.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_delete_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_shared_disk_tester.go
  test/e2e/testsuites/dynamically_provisioned_statefulset_e2e_tester.go
  test/e2e/testsuites/pre_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/pre_provisioned_shared_disk_tester.go
  test/e2e/testsuites/specs.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

clean up parm in func
  test/e2e/testsuites/pre_provisioned_inline_volume_tester.go
  test/e2e/testsuites/specs.go
Due: verify-gofmt, verify-govet, verify-gomod

doc: cut v1.29.2 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.1.tgz
  charts/latest/azuredisk-csi-driver-v1.29.2.tgz
  charts/v1.29.2/azuredisk-csi-driver-v1.29.2.tgz
  charts/v1.29.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.2/azuredisk-csi-driver/values.yaml
  deploy/v1.29.2/crd-csi-snapshot.yaml
  deploy/v1.29.2/csi-azuredisk-controller.yaml
  deploy/v1.29.2/csi-azuredisk-driver.yaml
  deploy/v1.29.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.2/csi-azuredisk-node-windows.yaml
  deploy/v1.29.2/csi-azuredisk-node.yaml
  deploy/v1.29.2/csi-snapshot-controller.yaml
  deploy/v1.29.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.28.5 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.4.tgz
  charts/latest/azuredisk-csi-driver-v1.28.5.tgz
  charts/v1.28.5/azuredisk-csi-driver-v1.28.5.tgz
  charts/v1.28.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.5/azuredisk-csi-driver/values.yaml
  deploy/v1.28.5/crd-csi-snapshot.yaml
  deploy/v1.28.5/csi-azuredisk-controller.yaml
  deploy/v1.28.5/csi-azuredisk-driver.yaml
  deploy/v1.28.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.5/csi-azuredisk-node-windows.yaml
  deploy/v1.28.5/csi-azuredisk-node.yaml
  deploy/v1.28.5/csi-snapshot-controller.yaml
  deploy/v1.28.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.8 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.7.tgz
  charts/latest/azuredisk-csi-driver-v1.26.8.tgz
  charts/v1.26.8/azuredisk-csi-driver-v1.26.8.tgz
  charts/v1.26.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.8/azuredisk-csi-driver/values.yaml
  deploy/v1.26.8/crd-csi-snapshot.yaml
  deploy/v1.26.8/csi-azuredisk-controller.yaml
  deploy/v1.26.8/csi-azuredisk-driver.yaml
  deploy/v1.26.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.8/csi-azuredisk-node-windows.yaml
  deploy/v1.26.8/csi-azuredisk-node.yaml
  deploy/v1.26.8/csi-snapshot-controller.yaml
  deploy/v1.26.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: fix readOnly setting doc
  deploy/example/nginx-pod-azuredisk.yaml
  deploy/example/nginx-pod-ephemeral.yaml
  deploy/example/pv-azuredisk-csi.yaml
  deploy/example/statefulset-nonroot.yaml
  deploy/example/statefulset-nozone.yaml
  deploy/example/statefulset.yaml
Due: verify-yamllint

improve attach error message
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix clone e2e test failure
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix multi-zone test failure on capz multi-zone cluster
  test/e2e/dynamic_provisioning_test.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: skip shared disk multi zone test on capz cluster
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

doc: recommend available skuNames
  deploy/example/storageclass-azuredisk-csi-allowed-topology.yaml
  deploy/example/storageclass-azuredisk-csi.yaml
Due: verify-yamllint

chore: upgrade base image to alpine 3.18.4
  pkg/azurediskplugin/Dockerfile
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
