Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

feat: support templating tags for volumes
  pkg/azureconstants/azure_constants.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add replaceTemplateVariables func
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/github.com/samber/lo/README.md
  vendor/github.com/samber/lo/condition.go
  vendor/github.com/samber/lo/find.go
  vendor/github.com/samber/lo/intersect.go
  vendor/github.com/samber/lo/map.go
  vendor/github.com/samber/lo/mutable/slice.go
  vendor/github.com/samber/lo/slice.go
  vendor/github.com/samber/lo/string.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_interface_repo.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_privatelinkservice.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets_repo.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/accesscontrol.go
Due: verify-gomod

chore: update flags per cloud provisioner config update
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: add an option to configure instance-view param in VMSS VM list API
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: adding more owners
  OWNERS
Due: none

chore: add new owners
  OWNERS
Due: none

fix: option to disable enable use kwait pollwaitunitlcontext race fixes in unittest
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: notify user using events on sku migration complete
  charts/latest/azuredisk-csi-driver-1.33.3.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  pkg/azuredisk/azuredisk.go.orig
  pkg/azuredisk/azuredisk_option.go.orig
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
  pkg/azuredisk/mockpersistentvolumeclaim/doc.go
  pkg/azuredisk/mockpersistentvolumeclaim/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

feat: notify user using events on sku migration complete
  charts/latest/azuredisk-csi-driver-1.32.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
  pkg/azuredisk/mockpersistentvolumeclaim/doc.go
  pkg/azuredisk/mockpersistentvolumeclaim/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

perf: rely on readyToUse flag to monitor snapshot progress
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/azureutils/azure_snapshot_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.33.4 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.3.tgz
  charts/latest/azuredisk-csi-driver-1.33.4.tgz
  charts/v1.33.4/azuredisk-csi-driver-1.33.4.tgz
  charts/v1.33.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.4/azuredisk-csi-driver/values.yaml
  deploy/v1.33.4/crd-csi-snapshot.yaml
  deploy/v1.33.4/csi-azuredisk-controller.yaml
  deploy/v1.33.4/csi-azuredisk-driver.yaml
  deploy/v1.33.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.4/csi-azuredisk-node-windows.yaml
  deploy/v1.33.4/csi-azuredisk-node.yaml
  deploy/v1.33.4/csi-snapshot-controller.yaml
  deploy/v1.33.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.10 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.10.tgz
  charts/latest/azuredisk-csi-driver-1.32.9.tgz
  charts/v1.32.10/azuredisk-csi-driver-1.32.10.tgz
  charts/v1.32.10/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.10/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.10/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.10/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.10/azuredisk-csi-driver/values.yaml
  deploy/v1.32.10/crd-csi-snapshot.yaml
  deploy/v1.32.10/csi-azuredisk-controller.yaml
  deploy/v1.32.10/csi-azuredisk-driver.yaml
  deploy/v1.32.10/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.10/csi-azuredisk-node-windows.yaml
  deploy/v1.32.10/csi-azuredisk-node.yaml
  deploy/v1.32.10/csi-snapshot-controller.yaml
  deploy/v1.32.10/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.10/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.10/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.10.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade CSI driver sidecar images
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

v1.32.10
  Makefile
Due: none

v1.33.4
  Makefile
Due: none

chore: upgrade CSI driver sidecar images
  charts/latest/azuredisk-csi-driver-1.33.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix transient MaximumDataDisksExceeded failure
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

1.32.10-2
  Makefile
Due: none

fix: allow `.` in Azure tags
  pkg/util/util.go
  pkg/util/util_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

1.33.4-2
  Makefile
Due: none

test: disable MaximumDataDisksExceeded flaky test case
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: support custom k8s feature gates
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: refresh the tgz file
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

test: ignore latest tgz file in helm chart index verification
  hack/verify-helm-chart-index.sh
Due: none

Update Slack channel link in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update support request instructions in template
  .github/ISSUE_TEMPLATE/support.md
Due: none

fix: CVE-2025-5187
  go.mod
  go.sum
  vendor/k8s.io/component-helpers/resource/helpers.go
  vendor/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-5187
  go.mod
  go.sum
  vendor/k8s.io/component-helpers/resource/helpers.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-5187
  go.mod
  go.sum
  vendor/k8s.io/api/resource/v1alpha3/generated.proto
  vendor/k8s.io/api/resource/v1alpha3/types.go
  vendor/k8s.io/api/resource/v1alpha3/types_swagger_doc_generated.go
  vendor/k8s.io/api/resource/v1beta1/generated.proto
  vendor/k8s.io/api/resource/v1beta1/types.go
  vendor/k8s.io/api/resource/v1beta1/types_swagger_doc_generated.go
  vendor/k8s.io/apiserver/pkg/cel/library/cidr.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/watcher.go
  vendor/k8s.io/csi-translation-lib/plugins/portworx.go
  vendor/k8s.io/dynamic-resource-allocation/cel/cache.go
  vendor/k8s.io/dynamic-resource-allocation/cel/compile.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
