Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: cut v1.28.2 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.1.tgz
  charts/latest/azuredisk-csi-driver-v1.28.2.tgz
  charts/v1.28.2/azuredisk-csi-driver-v1.28.2.tgz
  charts/v1.28.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.2/azuredisk-csi-driver/values.yaml
  deploy/v1.28.2/crd-csi-snapshot.yaml
  deploy/v1.28.2/csi-azuredisk-controller.yaml
  deploy/v1.28.2/csi-azuredisk-driver.yaml
  deploy/v1.28.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.2/csi-azuredisk-node-windows.yaml
  deploy/v1.28.2/csi-azuredisk-node.yaml
  deploy/v1.28.2/csi-snapshot-controller.yaml
  deploy/v1.28.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.26.6 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.26.5.tgz
  charts/latest/azuredisk-csi-driver-v1.26.6.tgz
  charts/v1.26.6/azuredisk-csi-driver-v1.26.6.tgz
  charts/v1.26.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.6/azuredisk-csi-driver/values.yaml
  deploy/v1.26.6/crd-csi-snapshot.yaml
  deploy/v1.26.6/csi-azuredisk-controller.yaml
  deploy/v1.26.6/csi-azuredisk-driver.yaml
  deploy/v1.26.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.6/csi-azuredisk-node-windows.yaml
  deploy/v1.26.6/csi-azuredisk-node.yaml
  deploy/v1.26.6/csi-snapshot-controller.yaml
  deploy/v1.26.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update driver-parameters-intree.md
  docs/driver-parameters-intree.md
Due: none

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

doc: add permissions for CSI driver controller
  docs/driver-parameters.md
Due: none

feat(helm) Allow setting an alternate name of the configmap for the azure credential path
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: retry annotation not being added for replica volume attachment CRI when context.DeadlineExceeded occurs on attach
  pkg/azurediskplugin/main.go
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove cross region snapshot copy 5s delay
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use env var in powershell cmdlet
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix windows test failure
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.28.3 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.2.tgz
  charts/latest/azuredisk-csi-driver-v1.28.3.tgz
  charts/v1.28.3/azuredisk-csi-driver-v1.28.3.tgz
  charts/v1.28.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/values.yaml
  deploy/v1.28.3/crd-csi-snapshot.yaml
  deploy/v1.28.3/csi-azuredisk-controller.yaml
  deploy/v1.28.3/csi-azuredisk-driver.yaml
  deploy/v1.28.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.3/csi-azuredisk-node-windows.yaml
  deploy/v1.28.3/csi-azuredisk-node.yaml
  deploy/v1.28.3/csi-snapshot-controller.yaml
  deploy/v1.28.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: windows mount code
  pkg/azuredisk/nodeserver_test.go
  pkg/os/disk/disk.go
  pkg/os/filesystem/filesystem.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: update new chart versions
  charts/index.yaml
  charts/v1.28.3/azuredisk-csi-driver-v1.28.3.tgz
  charts/v1.28.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.3/azuredisk-csi-driver/values.yaml
  deploy/v1.28.3/crd-csi-snapshot.yaml
  deploy/v1.28.3/csi-azuredisk-controller.yaml
  deploy/v1.28.3/csi-azuredisk-driver.yaml
  deploy/v1.28.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.3/csi-azuredisk-node-windows.yaml
  deploy/v1.28.3/csi-azuredisk-node.yaml
  deploy/v1.28.3/csi-snapshot-controller.yaml
  deploy/v1.28.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.3/rbac-csi-snapshot-controller.yaml
  docs/install-csi-driver-v1.28.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix install doc version
  README.md
  charts/README.md
  docs/install-azuredisk-csi-driver.md
Due: verify-helm-chart-files, verify-helm-chart

[V2] Doc updating needed
  docs/csi-dev.md
Due: none

chore: prune PR due to feedback
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azuredisk/azuredisk.go
  pkg/azurediskplugin/main.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: set HonorPVReclaimPolicy as true in csi-provisioner
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: genericize event refresher list
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.29.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.29.0.tgz
  charts/v1.29.0/azuredisk-csi-driver-v1.29.0.tgz
  charts/v1.29.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.0/azuredisk-csi-driver/values.yaml
  deploy/v1.29.0/crd-csi-snapshot.yaml
  deploy/v1.29.0/csi-azuredisk-controller.yaml
  deploy/v1.29.0/csi-azuredisk-driver.yaml
  deploy/v1.29.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.0/csi-azuredisk-node-windows.yaml
  deploy/v1.29.0/csi-azuredisk-node.yaml
  deploy/v1.29.0/csi-snapshot-controller.yaml
  deploy/v1.29.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.29.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

[local] Use main version of sync workflow
  .github/workflows/sync.yml
Due: verify-yamllint

chore: update master branch build version
  Makefile
Due: none

cleanup: refine Volume capabilities not supported error
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

[local] Update github token to have workflow permissions
  .github/workflows/sync.yml
Due: verify-yamllint

fix: Ultra and PremiumV2 disk snapshot delay issue
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add wait-for-snapshot-ready flag
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
