Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: CVE-2024-45337
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Due: verify-gomod

chore: update azure_skus_map
  pkg/optimization/azure_skus_map.go
  pkg/tool/gen-disk-skus-map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: run 1.31 external tests
  test/external-e2e/run.sh
Due: none

fix: CVE-2024-45337
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_darwin_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: verify-gomod

feat: upgrade to snapshot v8.2.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: refine Windows Resizevolume func
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: resize is required after snapshot restore/volume clone on Windows
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/nodeserver.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade k8s.io/mount-utils to v1.32.0
  go.mod
  go.sum
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/userns/LICENSE
  vendor/github.com/moby/sys/userns/userns.go
  vendor/github.com/moby/sys/userns/userns_linux.go
  vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  vendor/github.com/moby/sys/userns/userns_unsupported.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/modules.txt
Due: verify-gomod

chore: upgrade k8s.io/mount-utils to v1.32.0
  go.mod
  go.sum
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/userns/LICENSE
  vendor/github.com/moby/sys/userns/userns.go
  vendor/github.com/moby/sys/userns/userns_linux.go
  vendor/github.com/moby/sys/userns/userns_linux_fuzzer.go
  vendor/github.com/moby/sys/userns/userns_unsupported.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/modules.txt
Due: verify-gomod

feat: upgrade to snapshot v8.2.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: upgrade to snapshot v8.2.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/rbac-csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: upgrade csi-test to v5.3.1 in sanity test
  test/sanity/run-tests-all-clouds.sh
Due: none

fix: ModifyVolume interface parameter check
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: runOnControlPlane chart config
  Makefile
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: runOnControlPlane chart config
  Makefile
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: runOnControlPlane chart config
  Makefile
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: CVE-2024-45338
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2024-45338
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2024-45338
  go.mod
  go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Due: verify-gomod

feat: add noformat option to fix fsck stuck issue
  pkg/azuredisk/azure_common_linux.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: refine resizevolume error log on Windows
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add noformat option to fix fsck stuck issue on Linux node
  pkg/azuredisk/azure_common_linux.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix external e2e test failure
  test/external-e2e/run.sh
Due: none
