Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

cleanup: remove unnecessary logs
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update CSI sidecar images to latest versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: also bump csi-attacher to v4.12.0 and csi-snapshotter to v8.6.0
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: align README image repository defaults with values.yaml
  charts/README.md
Due: verify-helm-chart-files, verify-helm-chart

chore: update CSI sidecar images to latest versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: also bump csi-attacher to v4.12.0 and csi-snapshotter to v8.6.0
  charts/README.md
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: align README image repository defaults with values.yaml
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: align azuredisk chart image repository default in README with values.yaml
  charts/README.md
Due: verify-helm-chart-files, verify-helm-chart

chore: bump Go version to 1.25.12 in trivy workflow
  .github/workflows/trivy.yaml
Due: verify-yamllint

enable seLinuxMount feature in E2E helm options
  Makefile
Due: none

feat: add SELinuxMount support
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

revert: remove Makefile and charts/v1.34.0 changes
  Makefile
  charts/v1.34.0/azuredisk-csi-driver-1.34.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: regenerate helm chart tgz files
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/v1.34.0/azuredisk-csi-driver-1.34.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

docs: fix networkAccessPolicy and publicNetworkAccess default values
  docs/driver-parameters.md
Due: none

chore(lockMap): use semaphore.Weights for lock for fairness and ctx cancellation
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/util.go
  pkg/azuredisk/util_test.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

pin all GitHub Actions to full-length commit SHAs
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

feat: sdk call to check VM eixst
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: increase default VMSS detach timeout from 20s to 200s
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: also update CLI flag default and log message for VMSS detach timeout
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address Copilot review feedback
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-helm-chart-files, verify-helm-chart, unit-test

Merge pull request #3712 from andyzhangx/fix/increase-vmss-detach-timeout
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Revert "Merge pull request #3680 from jmclong/dev/jlong/fair-lock"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/util.go
  pkg/azuredisk/util_test.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix(review coopilot): correct indentation for extra volume mounts in azuredisk CSI driver templates
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix(chart): support extra volumes
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore(chart): update helm package
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: bump github/codeql-action to 4.37.1
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

chore: inital changes to remove cloud provider azure from compute path
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azcompute/azcompute.go
  pkg/azcompute/dispatcher.go
  pkg/azcompute/factory.go
  pkg/azcompute/filter.go
  pkg/azcompute/resolver_test.go
  pkg/azcompute/vm.go
  pkg/azcompute/vm_test.go
  pkg/azcompute/vmss.go
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/provider_vmset.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

bump github/codeql-action init+analyze from 4.37.1 to 4.37.3
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

add OpenTelemetry tracing for CSI operations
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/trace.go
  pkg/azuredisk/trace_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/ratelimiter_trace.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: avoid using formatAndMount from kubernetes mount utils
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: address review comments
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Use packet privacy for WMI COM security
  pkg/os/wmi/wmi.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Fixing review comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Apply copilot review suggestions
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Only fall back to kube api server if lister isn't available
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
