Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: cut v1.33.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.33.0/azuredisk-csi-driver-1.33.0.tgz
  charts/v1.33.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.0/azuredisk-csi-driver/values.yaml
  deploy/v1.33.0/crd-csi-snapshot.yaml
  deploy/v1.33.0/csi-azuredisk-controller.yaml
  deploy/v1.33.0/csi-azuredisk-driver.yaml
  deploy/v1.33.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.0/csi-azuredisk-node-windows.yaml
  deploy/v1.33.0/csi-azuredisk-node.yaml
  deploy/v1.33.0/csi-snapshot-controller.yaml
  deploy/v1.33.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update version in Makefile on master branch
  Makefile
Due: none

chore: upgrade alpine base image
  pkg/azuredisk/azure_common_linux.go
  pkg/azurediskplugin/Dockerfile
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: add linked permissions
  docs/driver-parameters.md
Due: none

doc: cut v1.32.7 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.6.tgz
  charts/latest/azuredisk-csi-driver-1.32.7.tgz
  charts/v1.32.7/azuredisk-csi-driver-1.32.7.tgz
  charts/v1.32.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.7/azuredisk-csi-driver/values.yaml
  deploy/v1.32.7/crd-csi-snapshot.yaml
  deploy/v1.32.7/csi-azuredisk-controller.yaml
  deploy/v1.32.7/csi-azuredisk-driver.yaml
  deploy/v1.32.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.7/csi-azuredisk-node-windows.yaml
  deploy/v1.32.7/csi-azuredisk-node.yaml
  deploy/v1.32.7/csi-snapshot-controller.yaml
  deploy/v1.32.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.33.1 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.0.tgz
  charts/latest/azuredisk-csi-driver-1.33.1.tgz
  charts/v1.33.1/azuredisk-csi-driver-1.33.1.tgz
  charts/v1.33.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.1/azuredisk-csi-driver/values.yaml
  deploy/v1.33.1/crd-csi-snapshot.yaml
  deploy/v1.33.1/csi-azuredisk-controller.yaml
  deploy/v1.33.1/csi-azuredisk-driver.yaml
  deploy/v1.33.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.1/csi-azuredisk-node-windows.yaml
  deploy/v1.33.1/csi-azuredisk-node.yaml
  deploy/v1.33.1/csi-snapshot-controller.yaml
  deploy/v1.33.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix fmt
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/testsuites/testsuites.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: proceeding fix of getNodeID from IMDS
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: migrate csi driver sidecar images to dalec images
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix vmssflex test failure
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: support external resource group
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: migrate csi-resizer sidecar image to dalec image
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix fmt
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/testsuites.go
  test/utils/azure/azure_helpers.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: migrate csi driver sidecar images to dalec images
  charts/latest/azuredisk-csi-driver-1.33.1.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: migrate csi driver sidecar images to dalec images
  charts/latest/azuredisk-csi-driver-1.32.7.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: skip for Windows with hostprocess
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix CVE-2025-4673 in trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

test: fix golint errors
  .github/workflows/static.yaml
  pkg/azureutils/azure_disk_utils.go
  pkg/csi-common/utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test
