Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: detach call should not use the full context deadline
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: detach call should not use the full context deadline
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk.go.orig
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_option.go.orig
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.32.11 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.10.tgz
  charts/latest/azuredisk-csi-driver-1.32.11.tgz
  charts/v1.32.11/azuredisk-csi-driver-1.32.11.tgz
  charts/v1.32.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.11/azuredisk-csi-driver/values.yaml
  deploy/v1.32.11/crd-csi-snapshot.yaml
  deploy/v1.32.11/csi-azuredisk-controller.yaml
  deploy/v1.32.11/csi-azuredisk-driver.yaml
  deploy/v1.32.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.11/csi-azuredisk-node-windows.yaml
  deploy/v1.32.11/csi-azuredisk-node.yaml
  deploy/v1.32.11/csi-snapshot-controller.yaml
  deploy/v1.32.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

v1.32.11
  Makefile
Due: none

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: reconcile loop to watch migrations if earlier submission had failed
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade sidecar image versions
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/latest/azuredisk-csi-driver-1.33.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.12 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.11.tgz
  charts/latest/azuredisk-csi-driver-1.31.12.tgz
  charts/v1.31.12/azuredisk-csi-driver-1.31.12.tgz
  charts/v1.31.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.12/azuredisk-csi-driver/values.yaml
  deploy/v1.31.12/crd-csi-snapshot.yaml
  deploy/v1.31.12/csi-azuredisk-controller.yaml
  deploy/v1.31.12/csi-azuredisk-driver.yaml
  deploy/v1.31.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.12/csi-azuredisk-node-windows.yaml
  deploy/v1.31.12/csi-azuredisk-node.yaml
  deploy/v1.31.12/csi-snapshot-controller.yaml
  deploy/v1.31.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Merge pull request #3322 from hccheng72/flaky-test-fix
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix verify-helm-chart-index.sh
  hack/verify-helm-chart-index.sh
Due: none

doc: cut v1.33.5 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.4.tgz
  charts/latest/azuredisk-csi-driver-1.33.5.tgz
  charts/v1.33.5/azuredisk-csi-driver-1.33.5.tgz
  charts/v1.33.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.5/azuredisk-csi-driver/values.yaml
  deploy/v1.33.5/crd-csi-snapshot.yaml
  deploy/v1.33.5/csi-azuredisk-controller.yaml
  deploy/v1.33.5/csi-azuredisk-driver.yaml
  deploy/v1.33.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.5/csi-azuredisk-node-windows.yaml
  deploy/v1.33.5/csi-azuredisk-node.yaml
  deploy/v1.33.5/csi-snapshot-controller.yaml
  deploy/v1.33.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

v1.33.5
  Makefile
Due: none

test dalec image v1.31.12
  Makefile
Due: none

fix
  Makefile
Due: none

Increase open pull requests limit from 1 to 2
  .github/dependabot.yaml
Due: verify-yamllint

fix: increase log level
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix govet error
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: check bd size before calling fs resize
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: disable enable-minimum-retry-after by default
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix sanity test failure
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod

Revert "fix: disable enable-minimum-retry-after by default"
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: pr comments and remove event logs from migration monitor
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/migration_monitor.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: pr comments and remove event logs from migration monitor
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
