Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

Address review comments
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azureutils/azure_disk_utils.go
  vendor/k8s.io/client-go/metadata/interface.go
  vendor/k8s.io/client-go/metadata/metadata.go
  vendor/k8s.io/client-go/metadata/metadatainformer/informer.go
  vendor/k8s.io/client-go/metadata/metadatainformer/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/interface.go
  vendor/k8s.io/client-go/metadata/metadatalister/lister.go
  vendor/k8s.io/client-go/metadata/metadatalister/shim.go
  vendor/modules.txt
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use node informer to get get node labels
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/nodeserver.go
  test/e2e/testsuites/dynamically_provisioned_job_attach_batch_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fixing test runs
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: address review comments
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: avoid using formatAndMount from kubernetes mount utils
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: publish helm chart to GitHub Pages
  .github/workflows/publish-helm-chart.yaml
Due: verify-yamllint

chore: bootstrap gh-pages branch for helm chart repository
  README.md
Due: none

publish azuredisk-csi-driver chart 1.34.4
  azuredisk-csi-driver-1.34.4.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.3
  azuredisk-csi-driver-1.34.3.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.2
  azuredisk-csi-driver-1.34.2.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.1
  azuredisk-csi-driver-1.34.1.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.0
  azuredisk-csi-driver-1.34.0.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.33.10
  azuredisk-csi-driver-1.33.10.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.33.9
  azuredisk-csi-driver-1.33.9.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.33.8
  azuredisk-csi-driver-1.33.8.tgz
  index.yaml
Due: verify-yamllint

workflow: skip republish when version tgz already on gh-pages
  .github/workflows/publish-helm-chart.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.33.7
  azuredisk-csi-driver-1.33.7.tgz
  index.yaml
Due: verify-yamllint

docs(charts): add GitHub Pages as alternate helm repo source
  charts/README.md
Due: verify-helm-chart-files, verify-helm-chart

bump github/codeql-action init+analyze from 4.37.3 to 4.37.4
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

doc: cut v1.33.11 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.10.tgz
  charts/latest/azuredisk-csi-driver-1.33.11.tgz
  charts/v1.33.11/azuredisk-csi-driver-1.33.11.tgz
  charts/v1.33.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.11/azuredisk-csi-driver/values.yaml
  deploy/v1.33.11/crd-csi-snapshot.yaml
  deploy/v1.33.11/csi-azuredisk-controller.yaml
  deploy/v1.33.11/csi-azuredisk-driver.yaml
  deploy/v1.33.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.11/csi-azuredisk-node-windows.yaml
  deploy/v1.33.11/csi-azuredisk-node.yaml
  deploy/v1.33.11/csi-snapshot-controller.yaml
  deploy/v1.33.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.34.5 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.4.tgz
  charts/latest/azuredisk-csi-driver-1.34.5.tgz
  charts/v1.34.5/azuredisk-csi-driver-1.34.5.tgz
  charts/v1.34.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.5/azuredisk-csi-driver/values.yaml
  deploy/v1.34.5/crd-csi-snapshot.yaml
  deploy/v1.34.5/csi-azuredisk-controller.yaml
  deploy/v1.34.5/csi-azuredisk-driver.yaml
  deploy/v1.34.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.5/csi-azuredisk-node-windows.yaml
  deploy/v1.34.5/csi-azuredisk-node.yaml
  deploy/v1.34.5/csi-snapshot-controller.yaml
  deploy/v1.34.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

bump github/codeql-action init+analyze from 4.37.4 to 4.37.5
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

bump github/codeql-action init+analyze from 4.37.5 to 4.37.6
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint

v1.34.5
  Makefile
Due: none

v1.33.10
  Makefile
Due: none

publish azuredisk-csi-driver chart 1.33.11
  azuredisk-csi-driver-1.33.11.tgz
  index.yaml
Due: verify-yamllint

publish azuredisk-csi-driver chart 1.34.5
  azuredisk-csi-driver-1.34.5.tgz
  index.yaml
Due: verify-yamllint

chore: update test change due to azure lib change
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/controllerserver_test.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: adapt azure controller VM update mocks to poller API
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/controllerserver_test.go
  test/utils/azure/azure_helpers.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: optionally skip reading the config from the API server
  pkg/azuredisk/azuredisk_option.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
