Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: upgrde azure cloud provider lib with vmss flex change
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/RELEASING.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/mockvmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/nodemanager/nodemanager.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/util/deepcopy/deepcopy.go
Due: verify-gomod

fix: replicas aren't getting cleaned up during driver uninstall
  pkg/controller/azdrivernode.go
  pkg/controller/azvolume.go
  pkg/controller/common.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: image tag in beta8 charts was wrong.
  charts/index.yaml
  charts/v2.0.0-beta.8/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/v2.0.0-beta.8/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: adding flow chart documentation for v2 csi calls
  docs/azure-disk-v2-driver-design/create-volume-csi-workflow.md
  docs/azure-disk-v2-driver-design/create-volume-static-provisioning.md
  docs/azure-disk-v2-driver-design/delete-volume-csi-workflow.md
  docs/azure-disk-v2-driver-design/delete-volume-static-provisioning.md
  docs/azure-disk-v2-driver-design/publish-volume-csi-workflow.md
  docs/azure-disk-v2-driver-design/replica-creation-workflow.md
  docs/azure-disk-v2-driver-design/unpublish-volume-csi-workflow.md
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: increase CAS node provisioning timeout
  test/e2e/manifest/cluster-autoscaler.json
Due: none

fix: add nodeDiskAvailabilityMap
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azdrivernode.go
  pkg/controller/azdrivernode_test.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: support perf profile
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/optimization/device_perf.go
  pkg/optimization/device_perf_helper.go
  pkg/optimization/device_perf_helper_test.go
  pkg/optimization/device_perf_linux.go
  pkg/optimization/device_perf_linux_test.go
  pkg/optimization/device_perf_test.go
  pkg/optimization/device_perf_unsupported.go
  pkg/optimization/mockoptimization/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit test
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unused install docs
  docs/install-csi-driver-v0.10.0.md
  docs/install-csi-driver-v0.2.0.md
  docs/install-csi-driver-v0.3.0.md
  docs/install-csi-driver-v0.4.0.md
  docs/install-csi-driver-v0.5.0.md
  docs/install-csi-driver-v0.6.0.md
  docs/install-csi-driver-v0.7.0.md
  docs/install-csi-driver-v0.8.0.md
  docs/install-csi-driver-v0.9.0.md
Due: none

fix: requeue reconciliation for deleted objects with grace period
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/common.go
  pkg/controller/pv.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

More changes
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/latest-v2/csi-azuredisk-scheduler-extender.yaml
  deploy/latest-v2/rbac-csi-azuredisk-scheduler-extender.yaml
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azuredisk/interface_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/fake_crdprovisioner.go
  test/e2e/testsuites/dynamically_provisioned_pod_affinity.go
  test/e2e/testsuites/dynamically_provisioned_pod_delete.go
  test/e2e/testsuites/dynamically_provisioned_pod_node_affinity.go
  test/e2e/testsuites/dynamically_provisioned_pod_node_selector.go
  test/e2e/testsuites/dynamically_provisioned_pod_toleration.go
  test/e2e/testsuites/dynamically_provisioned_volume_replicas_across_zones.go
  test/e2e/testsuites/pre_provisioned_check_for_replicas.go
  test/integration/controller/controller_test.go
  test/resources/utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Initial set of changes for the enable mount replicas changes
  pkg/apis/azuredisk/v1beta2/types.go
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/interface_v2.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  test/scale/scale_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Review comments and charts updated
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  pkg/apis/client/clientset/versioned/fake/register.go
  pkg/apis/client/clientset/versioned/scheme/register.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/fake_azuredisk_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

doc: update doc and add e2e test
  README.md
  docs/driver-parameters.md
  docs/perf-profiles.md
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/optimization/device_perf_helper_test.go
  pkg/optimization/device_perf_linux_test.go
  pkg/optimization/device_perf_test.go
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: workaround capz taint issue
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: panic in vmss cache conversion
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/gomega.go
  vendor/github.com/onsi/gomega/types/types.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/headermap.go
  vendor/golang.org/x/net/http2/hpack/static_table.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/unix/sockcmsg_unix.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
Due: verify-gomod

test: set disk perf in PremiumV2 test
  test/e2e/pre_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: updating the repo check for helm verify tests.
  hack/verify-helm-chart-files.sh
Due: none

fix: update cloud-provider-azure logic to handle preemption
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/batch.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/metrics/azure_batch_metrics.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_fakes.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/mockfutureparser.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/retry/azure_error.go
Due: verify-gomod

fix: fixup
  go.mod
  go.sum
  pkg/provisioner/cloudprovisioner_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/mockfutureparser.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: workaround capz node tainer issue
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix example test failures
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: add nodeDiskAvailabilityMap
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azdrivernode.go
  pkg/controller/azdrivernode_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/node_availability_test.go
  pkg/controller/pod_test.go
  pkg/controller/replica_test.go
  pkg/controller/shared_state.go
  pkg/controller/shared_state_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Fix E2E failure in VMSS Flex cluster
  Makefile
Due: none

Change IMAGE_TAG_LATEST to CSI_IMAGE_TAG_LATEST
  Makefile
Due: none

fix: add disk lun check in AttachDisk to avoid race condition
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
Due: verify-gomod

support noProxy
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

update helm package
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: reduce VMSS cache refresh in non-vmss cluster
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Adding an unit test for enable mount replicas
  pkg/provisioner/crdprovisioner_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: resource group issue in disk attach
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
Due: verify-gomod

fix: reduce VMSS cache refresh in non-vmss cluster
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
Due: verify-gomod

doc: cut v1.25.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.25.0.tgz
  charts/v1.25.0/azuredisk-csi-driver-v1.25.0.tgz
  charts/v1.25.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.25.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.25.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.25.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.25.0/azuredisk-csi-driver/values.yaml
  deploy/v1.25.0/crd-csi-snapshot.yaml
  deploy/v1.25.0/csi-azuredisk-controller.yaml
  deploy/v1.25.0/csi-azuredisk-driver.yaml
  deploy/v1.25.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.25.0/csi-azuredisk-node-windows.yaml
  deploy/v1.25.0/csi-azuredisk-node.yaml
  deploy/v1.25.0/csi-snapshot-controller.yaml
  deploy/v1.25.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.25.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.25.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.25.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.25.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: print error msg when fsck failed in mount-utils
  go.mod
  go.sum
  vendor/github.com/moby/sys/mountinfo/LICENSE
  vendor/github.com/moby/sys/mountinfo/doc.go
  vendor/github.com/moby/sys/mountinfo/mounted_linux.go
  vendor/github.com/moby/sys/mountinfo/mounted_unix.go
  vendor/github.com/moby/sys/mountinfo/mountinfo.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_bsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_filters.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_freebsdlike.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_linux.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_openbsd.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_unsupported.go
  vendor/github.com/moby/sys/mountinfo/mountinfo_windows.go
  vendor/k8s.io/mount-utils/fake_mounter.go
  vendor/k8s.io/mount-utils/mount.go
  vendor/k8s.io/mount-utils/mount_helper_common.go
  vendor/k8s.io/mount-utils/mount_linux.go
  vendor/k8s.io/mount-utils/mount_unsupported.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/k8s.io/mount-utils/resizefs_unsupported.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/k8s.io/utils/trace/trace.go
  vendor/modules.txt
Due: verify-gomod

test: fix ut error
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: switch master branch version
  Makefile
Due: none

Clean up .travis.yaml
  .travis.yml
Due: verify-yamllint

Adding a new test to verify volume and node in different resource groups
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_external_rg_volume_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

Updating the vendor to test csi driver
  go.mod
  go.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer_backendpool.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_wrap.go
Due: verify-gomod
