Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: treat nil CompletionPercent as complete, matching Azure portal semantics
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

handle combined statuses and negtive ExitStatus
  deploy/example/metrics/README.md
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: avoid stale device cache inconsistencies
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: CVE-2026-78659
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/flow.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/internal/httpcommon/gzip.go
  vendor/modules.txt
Due: verify-gomod

chore: bump trivy workflow Go version to 1.26.9
  .github/workflows/trivy.yaml
Due: verify-yamllint

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
