Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

test: fix external e2e test failure
  test/external-e2e/run.sh
Due: none

fix: increase provisioner, resizer, snapshotter retry-interval-max
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase provisioner, resizer, snapshotter retry-interval-max
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase provisioner, resizer, snapshotter retry-interval-max
  charts/latest/azuredisk-csi-driver-v1.30.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add directmount option to fix fsck stuck issue on Linux node
  pkg/azuredisk/azure_common_linux.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add unit test for main function
  pkg/azurediskplugin/main.go
  pkg/azurediskplugin/main_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add prestop lifecycle hook
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  go.mod
  go.sum
  pkg/azurediskplugin/hooks/prestop.go
  pkg/azurediskplugin/hooks/prestop_test.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

cleanup: only build on Windows for pkg/os/ dir
  pkg/os/disk/types.go
  pkg/os/filesystem/filesystem.go
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: adopt go1.23 behavior change in mount point parsing on Windows
  pkg/os/filesystem/filesystem.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

add test for gen-disk-skus-map_test
  pkg/tool/gen-disk-skus-map_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix
  pkg/tool/gen-disk-skus-map.go
  pkg/tool/gen-disk-skus-map_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  deploy/example/windows/README.md
Due: none

test: add UT for gen-disk-skus-map_tes
  pkg/tool/gen-disk-skus-map.go
  pkg/tool/gen-disk-skus-map_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: get disk stuck issue
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: get disk stuck issue
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: set GoMaxProcs as 2
  pkg/azuredisk/azuredisk_option.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: refine UT for gen-disk-skus-map_test
  pkg/tool/gen-disk-skus-map.go
  pkg/tool/gen-disk-skus-map_test.go
  pkg/tool/skus-sample.json
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: exclude some go fake files in ut coverage
  .github/workflows/linux.yml
Due: verify-yamllint

test: add UT for filewatcher
  pkg/filewatcher/filewatcher.go
  pkg/filewatcher/filewatcher_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: disable two e2e tests
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix pv deletion timeout
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
