Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: update permissions and caching mode doc
  docs/driver-parameters.md
Due: none

fix: ensure azure cloud config could be loaded from secret
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update go vendor
  go.mod
  go.sum
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/hash.go
  vendor/github.com/google/uuid/version7.go
  vendor/modules.txt
Due: verify-gomod

fix: enable check-disk-lun-collision during disk attach by default
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: force detach in backoff detach retry
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade cloud provider lib
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/core.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/etag.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/response_error.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/log/log.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/log/log.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/errors.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/request.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64le.s
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
Due: verify-gomod

feat(helm): add extra args for controller
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update chart file
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

feat(helm): add extra args for controller
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

vendor: refine
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/cloud.go
Due: none

vendor: disable checkHTTPSForAuth check
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_bearer_token.go
Due: none

fix: copy volume error in cross zone scenario
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: refine volume clone e2e test
  test/e2e/testsuites/dynamically_provisioned_volume_cloning_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: CVE-2024-24786
  go.mod
  go.sum
  vendor/github.com/golang/protobuf/jsonpb/decode.go
  vendor/github.com/golang/protobuf/jsonpb/encode.go
  vendor/github.com/golang/protobuf/protoc-gen-go/descriptor/descriptor.pb.go
  vendor/github.com/golang/protobuf/ptypes/any.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/defaults.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/genid/struct_gen.go
  vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_extension.go
  vendor/google.golang.org/protobuf/internal/impl/codec_tables.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  vendor/google.golang.org/protobuf/internal/strs/strings.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/dynamicpb/dynamic.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.proto
  vendor/modules.txt
Due: verify-gomod

Update README.md
  README.md
Due: none

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

Add group update policy for k8s.io dependencies
  .github/dependabot.yaml
Due: verify-yamllint

Squashed commit of the following:
  pkg/azuredisk/azuredisk_test.go
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update README.md
  charts/README.md
Due: verify-helm-chart-files, verify-helm-chart

fix ut
  pkg/azuredisk/azuredisk_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: refine check disk lun collsion logic
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: enable check-disk-lun-collision during disk attach by default
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: refine check disk lun collision logic
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.30.1 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/values.yaml
  deploy/v1.30.1/crd-csi-snapshot.yaml
  deploy/v1.30.1/csi-azuredisk-controller.yaml
  deploy/v1.30.1/csi-azuredisk-driver.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows.yaml
  deploy/v1.30.1/csi-azuredisk-node.yaml
  deploy/v1.30.1/csi-snapshot-controller.yaml
  deploy/v1.30.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.4 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.3.tgz
  charts/latest/azuredisk-csi-driver-v1.29.4.tgz
  charts/v1.29.4/azuredisk-csi-driver-v1.29.4.tgz
  charts/v1.29.4/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.4/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.4/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.4/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.4/azuredisk-csi-driver/values.yaml
  deploy/v1.29.4/crd-csi-snapshot.yaml
  deploy/v1.29.4/csi-azuredisk-controller.yaml
  deploy/v1.29.4/csi-azuredisk-driver.yaml
  deploy/v1.29.4/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.4/csi-azuredisk-node-windows.yaml
  deploy/v1.29.4/csi-azuredisk-node.yaml
  deploy/v1.29.4/csi-snapshot-controller.yaml
  deploy/v1.29.4/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.4/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.4/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.4.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update intree-static-example.md
  docs/intree-static-example.md
Due: none
