Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.5 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.4.tgz
  charts/latest/azuredisk-csi-driver-1.31.5.tgz
  charts/v1.31.5/azuredisk-csi-driver-1.31.5.tgz
  charts/v1.31.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/values.yaml
  deploy/v1.31.5/crd-csi-snapshot.yaml
  deploy/v1.31.5/csi-azuredisk-controller.yaml
  deploy/v1.31.5/csi-azuredisk-driver.yaml
  deploy/v1.31.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.5/csi-azuredisk-node-windows.yaml
  deploy/v1.31.5/csi-azuredisk-node.yaml
  deploy/v1.31.5/csi-snapshot-controller.yaml
  deploy/v1.31.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.9 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.8.tgz
  charts/latest/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.9/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.9/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/values.yaml
  deploy/v1.30.9/crd-csi-snapshot.yaml
  deploy/v1.30.9/csi-azuredisk-controller.yaml
  deploy/v1.30.9/csi-azuredisk-driver.yaml
  deploy/v1.30.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.9/csi-azuredisk-node-windows.yaml
  deploy/v1.30.9/csi-azuredisk-node.yaml
  deploy/v1.30.9/csi-snapshot-controller.yaml
  deploy/v1.30.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.31.5.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade ccp-auto-thrust image
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Fedora node in AzureStack environment
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Fedora node in AzureStack environment
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Fedora node in AzureStack environment
  charts/latest/azuredisk-csi-driver-1.31.5.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid duplicate ssl mounts on Fedora node in AzureStack environment
  charts/latest/azuredisk-csi-driver-v1.30.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  hack/verify-yamllint.sh
Due: verify-yamllint

fix: avoid duplicate ssl mounts on Fedora node in AzureStack environment
  charts/v1.30.9/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.5/azuredisk-csi-driver-1.31.5.tgz
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/v1.30.9/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.9/azuredisk-csi-driver/values.yaml
  charts/v1.31.5/azuredisk-csi-driver-1.31.5.tgz
  charts/v1.31.5/azuredisk-csi-driver/values.yaml
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/values.yaml
  deploy/v1.30.9/csi-azuredisk-controller.yaml
  deploy/v1.31.5/csi-azuredisk-controller.yaml
  deploy/v1.32.0/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update version in Makefile on master branch
  Makefile
Due: none

chore: increase liveness-probe timeout
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.9/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.5/azuredisk-csi-driver-1.31.5.tgz
  charts/v1.31.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.30.9/csi-azuredisk-node.yaml
  deploy/v1.31.5/csi-azuredisk-node.yaml
  deploy/v1.32.0/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase liveness-probe timeout
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.0/azuredisk-csi-driver-1.32.0.tgz
  charts/v1.32.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.32.0/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: avoid get disk call in disk creation
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: refine GetDisk operation
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azure_managedDiskController_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix build failure
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: reduce get disk calls in disk attach/detach on VMSS
  go.mod
  go.sum
  vendor/github.com/Azure/msi-dataplane/pkg/dataplane/reloadCredentials.go
  vendor/github.com/prometheus/client_golang/prometheus/atomic_update.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_cgo_darwin.c
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_cgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_not_supported.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_procfsenabled.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/go.opentelemetry.io/otel/exporters/prometheus/exporter.go
  vendor/go.opentelemetry.io/otel/sdk/metric/internal/aggregate/exponential_histogram.go
  vendor/go.opentelemetry.io/otel/sdk/metric/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: verify-gomod

test: upgrade golint action version
  .github/workflows/static.yaml
  pkg/azuredisk/azure_common_windows.go
  pkg/azureutils/azure_disk_utils.go
  pkg/csi-common/utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: reduce get disk calls in disk attach/detach on VMSS
  go.mod
  go.sum
  vendor/github.com/Azure/msi-dataplane/pkg/dataplane/reloadCredentials.go
  vendor/github.com/prometheus/client_golang/prometheus/atomic_update.go
  vendor/github.com/prometheus/client_golang/prometheus/counter.go
  vendor/github.com/prometheus/client_golang/prometheus/gauge.go
  vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_cgo_darwin.c
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_cgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_mem_nocgo_darwin.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_not_supported.go
  vendor/github.com/prometheus/client_golang/prometheus/process_collector_procfsenabled.go
  vendor/github.com/prometheus/client_golang/prometheus/summary.go
  vendor/go.opentelemetry.io/otel/exporters/prometheus/exporter.go
  vendor/go.opentelemetry.io/otel/sdk/metric/internal/aggregate/exponential_histogram.go
  vendor/go.opentelemetry.io/otel/sdk/metric/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: verify-gomod

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: merge OTEL metrics with legacy registerer
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/trace/provider.go
Due: verify-gomod

Update README.md
  deploy/example/sharedisk/README.md
Due: none

test: fix e2e test failure
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod
