Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

feat: add metrics on node
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  pkg/azuredisk/nodeserver.go
  test/utils/azuredisk_log.sh
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

test: fix disk detach test failure
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: add metrics on node
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node.yaml
  pkg/azuredisk/nodeserver.go
  test/utils/azuredisk_log.sh
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: runOnControlPlane chart config
  Makefile
  charts/latest/azuredisk-csi-driver-v1.29.12.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade base image alpine to v1.18.12
  pkg/azurediskplugin/Dockerfile
Due: none

doc: cut v1.29.13 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.12.tgz
  charts/latest/azuredisk-csi-driver-v1.29.13.tgz
  charts/v1.29.13/azuredisk-csi-driver-v1.29.13.tgz
  charts/v1.29.13/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.13/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.13/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.13/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.13/azuredisk-csi-driver/values.yaml
  deploy/v1.29.13/crd-csi-snapshot.yaml
  deploy/v1.29.13/csi-azuredisk-controller.yaml
  deploy/v1.29.13/csi-azuredisk-driver.yaml
  deploy/v1.29.13/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.13/csi-azuredisk-node-windows.yaml
  deploy/v1.29.13/csi-azuredisk-node.yaml
  deploy/v1.29.13/csi-snapshot-controller.yaml
  deploy/v1.29.13/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.13/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.13/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.13.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/admission-controller-deployment.yaml
  deploy/example/vpa/delete-webhook.sh
  deploy/example/vpa/gencerts.sh
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/recommender-deployment.yaml
  deploy/example/vpa/rmcerts.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/updater-deployment.yaml
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  deploy/example/vpa/vpa-rbac.yaml
  deploy/example/vpa/vpa-v1-crd-gen.yaml
  deploy/example/vpa/warn-obsolete-vpa-objects.sh
  hack/verify-yamllint.sh
Due: verify-yamllint

test: fix CVE-2024-45336 in github trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: mockkubeclient change
  pkg/azuredisk/mockkubeclient/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix e2e test failure
  pkg/azuredisk/mockkubeclient/interface.go
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix test error
  pkg/azuredisk/mockkubeclient/interface.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
  pkg/optimization/device_perf_linux.go
  pkg/tool/gen-disk-skus-map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix e2e test
  pkg/azuredisk/mockkubeclient/interface.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: run controller pod in control plane node
  Makefile
  charts/latest/azuredisk-csi-driver-v1.28.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: disable offline expansion test
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

fix: CVE-2025-30204
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-30204
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-30204
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: verify-gomod

doc: cut v1.28.12 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.11.tgz
  charts/latest/azuredisk-csi-driver-v1.28.12.tgz
  charts/v1.28.12/azuredisk-csi-driver-v1.28.12.tgz
  charts/v1.28.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/values.yaml
  deploy/v1.28.12/crd-csi-snapshot.yaml
  deploy/v1.28.12/csi-azuredisk-controller.yaml
  deploy/v1.28.12/csi-azuredisk-driver.yaml
  deploy/v1.28.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.12/csi-azuredisk-node-windows.yaml
  deploy/v1.28.12/csi-azuredisk-node.yaml
  deploy/v1.28.12/csi-snapshot-controller.yaml
  deploy/v1.28.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.14 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.13.tgz
  charts/latest/azuredisk-csi-driver-v1.29.14.tgz
  charts/v1.29.14/azuredisk-csi-driver-v1.29.14.tgz
  charts/v1.29.14/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.14/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.14/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.14/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.14/azuredisk-csi-driver/values.yaml
  deploy/v1.29.14/crd-csi-snapshot.yaml
  deploy/v1.29.14/csi-azuredisk-controller.yaml
  deploy/v1.29.14/csi-azuredisk-driver.yaml
  deploy/v1.29.14/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.14/csi-azuredisk-node-windows.yaml
  deploy/v1.29.14/csi-azuredisk-node.yaml
  deploy/v1.29.14/csi-snapshot-controller.yaml
  deploy/v1.29.14/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.14/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.14/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.14.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.10 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.10.tgz
  charts/latest/azuredisk-csi-driver-v1.30.9.tgz
  charts/v1.30.10/azuredisk-csi-driver-v1.30.10.tgz
  charts/v1.30.10/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.10/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.10/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.10/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.10/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.10/azuredisk-csi-driver/values.yaml
  deploy/v1.30.10/crd-csi-snapshot.yaml
  deploy/v1.30.10/csi-azuredisk-controller.yaml
  deploy/v1.30.10/csi-azuredisk-driver.yaml
  deploy/v1.30.10/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.10/csi-azuredisk-node-windows.yaml
  deploy/v1.30.10/csi-azuredisk-node.yaml
  deploy/v1.30.10/csi-snapshot-controller.yaml
  deploy/v1.30.10/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.10/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.10/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.10.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.6 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.5.tgz
  charts/latest/azuredisk-csi-driver-1.31.6.tgz
  charts/v1.31.6/azuredisk-csi-driver-1.31.6.tgz
  charts/v1.31.6/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.6/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.6/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.6/azuredisk-csi-driver/values.yaml
  deploy/v1.31.6/crd-csi-snapshot.yaml
  deploy/v1.31.6/csi-azuredisk-controller.yaml
  deploy/v1.31.6/csi-azuredisk-driver.yaml
  deploy/v1.31.6/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.6/csi-azuredisk-node-windows.yaml
  deploy/v1.31.6/csi-azuredisk-node.yaml
  deploy/v1.31.6/csi-snapshot-controller.yaml
  deploy/v1.31.6/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.6/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.6/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.6.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.1 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.0.tgz
  charts/latest/azuredisk-csi-driver-1.32.1.tgz
  charts/v1.32.1/azuredisk-csi-driver-1.32.1.tgz
  charts/v1.32.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.1/azuredisk-csi-driver/values.yaml
  deploy/v1.32.1/crd-csi-snapshot.yaml
  deploy/v1.32.1/csi-azuredisk-controller.yaml
  deploy/v1.32.1/csi-azuredisk-driver.yaml
  deploy/v1.32.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.1/csi-azuredisk-node-windows.yaml
  deploy/v1.32.1/csi-azuredisk-node.yaml
  deploy/v1.32.1/csi-snapshot-controller.yaml
  deploy/v1.32.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/install-components/admission-controller-deployment.yaml
  deploy/example/vpa/install-components/delete-webhook.sh
  deploy/example/vpa/install-components/gencerts.sh
  deploy/example/vpa/install-components/recommender-deployment.yaml
  deploy/example/vpa/install-components/rmcerts.sh
  deploy/example/vpa/install-components/updater-deployment.yaml
  deploy/example/vpa/install-components/vpa-rbac.yaml
  deploy/example/vpa/install-components/vpa-v1-crd-gen.yaml
  deploy/example/vpa/install-components/warn-obsolete-vpa-objects.sh
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  hack/verify-yamllint.sh
Due: verify-yamllint

chore: add node.removeNotReadyTaint parameter to helm chart
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: incrase TaintRemovalInitialDelay as 30s
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: increase TaintRemovalInitialDelay as 30s
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add node.removeNotReadyTaint parameter to helm chart
  charts/README.md
  charts/latest/azuredisk-csi-driver-1.32.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade snapshot CRD to v8.2.0
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  deploy/crd-csi-snapshot.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade snapshot CRD to v8.2.0 in v1.32.1, v1.31.6
  charts/v1.31.6/azuredisk-csi-driver-1.31.6.tgz
  charts/v1.31.6/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.1/azuredisk-csi-driver-1.32.1.tgz
  charts/v1.32.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.10/azuredisk-csi-driver-v1.30.2.tgz
Due: verify-helm-chart-files, verify-helm-chart
