Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: only clear err when KubeClient is available for retry
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: handle getNodeInfoFromLabels empty zone and permanent node lookup errors
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: sort imports alphabetically for gofmt
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address review feedback on retry loop edge cases
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: flatten if-else chain to satisfy revive indent-error-flow
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: extract helper functions to reduce duplication in NodeGetInfo
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove ineffectual zoneLookupFailed assignment
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: address review feedback - permanent error detection and reuse GetNodeInfoFromLabels
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: bump Go version to 1.25.10 in trivy workflow
  .github/workflows/trivy.yaml
Due: verify-yamllint

docs: fix broken link and improve snapshot README
  deploy/example/snapshot/README.md
Due: none

fix: option for qps and burst to handle client throttling scenario
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add kube-api-qps and kube-api-burst to helm chart values
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Add kube-api-qps and kube-api-burst to helm chart values
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

update helm chart tgz
  charts/latest/azuredisk-csi-driver-1.34.3.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: register QEMU binfmt before cross-platform docker build
  Makefile
Due: none

Restore junit report generation with ginkgo v2
  test/e2e/suite_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: support NVMe disk LUN mapping on Windows
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
  pkg/os/disk/disk_nvme_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

address review comments: remove unused DeviceID field, add error handling for Path property, add klog.V(2) debug logging
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: resolve duplicate port name 'healthz' warning in node daemonset
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint

fix: clarify nvmeNSIDRegex comment to match actual regex behavior
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: resolve duplicate port name 'healthz' warning in node daemonset
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: use numeric port for azuredisk liveness probe in helm chart
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: revert unrelated deploy manifest change, use string literals instead of fmt.Sprintf
  deploy/csi-azuredisk-node.yaml
  pkg/os/disk/disk.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

refactor: extract isNVMeDisk helper
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
  pkg/os/disk/disk_nvme_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: consolidate NVMe location logic into getNVMeLocation helper
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove dangling brace causing build failure in disk_cim.go
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  pkg/os/disk/disk_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

revert: remove unrelated helm chart change from NVMe PR
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

refactor: move logging into getNVMeLocation to simplify call sites
  pkg/os/disk/disk.go
  pkg/os/disk/disk_cim.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
