Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: CVE-2025-22868
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/internal/doc.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/oauth2/transport.go
  vendor/modules.txt
Due: verify-gomod

fix: CVE-2025-22868
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/internal/doc.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/oauth2/transport.go
  vendor/modules.txt
Due: verify-gomod

chore: upgrade to dalec image for snapshot container
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade to dalec image for snapshot container
  charts/latest/azuredisk-csi-driver-1.33.2.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: disable public network access for new disk creation by default
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: never stop disk taint removal by default
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix TestConcurrentDetachDisk ut failure
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: keep disk taint removal in a loop by default
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix TestConcurrentDetachDisk ut failure on Windows
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.32.9 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.8.tgz
  charts/latest/azuredisk-csi-driver-1.32.9.tgz
  charts/v1.32.9/azuredisk-csi-driver-1.32.9.tgz
  charts/v1.32.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.9/azuredisk-csi-driver/values.yaml
  deploy/v1.32.9/crd-csi-snapshot.yaml
  deploy/v1.32.9/csi-azuredisk-controller.yaml
  deploy/v1.32.9/csi-azuredisk-driver.yaml
  deploy/v1.32.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.9/csi-azuredisk-node-windows.yaml
  deploy/v1.32.9/csi-azuredisk-node.yaml
  deploy/v1.32.9/csi-snapshot-controller.yaml
  deploy/v1.32.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.33.3 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.2.tgz
  charts/latest/azuredisk-csi-driver-1.33.3.tgz
  charts/v1.33.3/azuredisk-csi-driver-1.33.3.tgz
  charts/v1.33.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.3/azuredisk-csi-driver/values.yaml
  deploy/v1.33.3/crd-csi-snapshot.yaml
  deploy/v1.33.3/csi-azuredisk-controller.yaml
  deploy/v1.33.3/csi-azuredisk-driver.yaml
  deploy/v1.33.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.3/csi-azuredisk-node-windows.yaml
  deploy/v1.33.3/csi-azuredisk-node.yaml
  deploy/v1.33.3/csi-snapshot-controller.yaml
  deploy/v1.33.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

[local] Remove upstream sync workflow
  .github/workflows/sync.yml
Due: verify-yamllint

chore: only remove disks that can be processed from the batch
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: notify user when sku migration complete
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: addressed pr comments
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
  pkg/azuredisk/mockpersistentvolumeclaim/doc.go
  pkg/azuredisk/mockpersistentvolumeclaim/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: cleanup node batching queue when node max disk limit is hit
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test dalec image v1.33.3
  Makefile
Due: none

test: fix CVE-2025-47907 traivy test failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

fix: option to disable enable use kwait pollwaitunitlcontext race fixes in unittest
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/migration_monitor_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix ResourceV1beta2 interface failure
  pkg/azuredisk/mockkubeclient/interface.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test with v1.33.3-4
  Makefile
Due: none

fix windows test failure
  Makefile
Due: none

chore: upgrade Azure cloud provider lib
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets_repo.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_cache.go
Due: verify-gomod

chore: add an option to configure instance-view param in VMSS VM list API
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

chore: update flags per cloud provisioner config update
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
