Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: allow special char in tag value
  pkg/azuredisk/azure_managedDiskController.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: allow special char in tag value
  pkg/util/util.go
  pkg/util/util_test.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: vendor get zone panic fix
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_zones.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_auth.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/accesscontrol.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/configuration.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/iputil/prefix.go
Due: verify-gomod

fix: enable http with track2
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/policy/policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime/pipeline.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime/policy_bearer_token.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime/policy_register_rp.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/request.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/exported/response_error.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/log/log.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/async/async.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/body/body.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/fake/fake.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/loc/loc.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/op/op.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/pollers/util.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/policy/policy.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_bearer_token.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_key_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_sas_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/request.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/response.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/streaming/progress.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/utils/options.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/utils/transport.go
Due: verify-gomod

vendor: use ResourceManagerEndpoint
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/cloud.go
Due: none

feat: Added missing SKUs to map
  pkg/optimization/azure_skus_map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add pipelines for devops
  .azuredevops/build.yaml
  build/azurediskpluginv2/Dockerfile
Due: verify-yamllint

fix: vendor get zone panic fix
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/consts/consts.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_zones.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_auth.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/accesscontrol.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/configuration.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/loadbalancer/iputil/prefix.go
Due: verify-gomod

feat: use new restricted liveness probe endpoint
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: stop attaching disk when get disk lun failed
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: replace Get-Item powershell cmd with golang api
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add debug logs
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: use new restricted liveness probe endpoint
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: use new restricted liveness probe endpoint
  charts/latest/azuredisk-csi-driver-v1.28.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: use new restricted liveness probe endpoint
  charts/latest/azuredisk-csi-driver-v1.29.4.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: revert http-endpoint change on windows daemonset
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: possible dead loop in VolumeGetStats
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unused windows code
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: cache GetVolumeStats on Windows node
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: cache GetVolumeStats on Windows node
  pkg/azuredisk/azure_common_darwin.go
  pkg/azuredisk/azure_common_linux.go
  pkg/azuredisk/azure_common_windows.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.28.7 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.6.tgz
  charts/latest/azuredisk-csi-driver-v1.28.7.tgz
  charts/v1.28.7/azuredisk-csi-driver-v1.28.7.tgz
  charts/v1.28.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.7/azuredisk-csi-driver/values.yaml
  deploy/v1.28.7/crd-csi-snapshot.yaml
  deploy/v1.28.7/csi-azuredisk-controller.yaml
  deploy/v1.28.7/csi-azuredisk-driver.yaml
  deploy/v1.28.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.7/csi-azuredisk-node-windows.yaml
  deploy/v1.28.7/csi-azuredisk-node.yaml
  deploy/v1.28.7/csi-snapshot-controller.yaml
  deploy/v1.28.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: print error logs in NodeGetVolumeStats
  pkg/azuredisk/nodeserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.29.5 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.4.tgz
  charts/latest/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver-v1.29.5.tgz
  charts/v1.29.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.5/azuredisk-csi-driver/values.yaml
  deploy/v1.29.5/crd-csi-snapshot.yaml
  deploy/v1.29.5/csi-azuredisk-controller.yaml
  deploy/v1.29.5/csi-azuredisk-driver.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.5/csi-azuredisk-node-windows.yaml
  deploy/v1.29.5/csi-azuredisk-node.yaml
  deploy/v1.29.5/csi-snapshot-controller.yaml
  deploy/v1.29.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.1 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.0.tgz
  charts/latest/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver-v1.30.1.tgz
  charts/v1.30.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.1/azuredisk-csi-driver/values.yaml
  deploy/v1.30.1/crd-csi-snapshot.yaml
  deploy/v1.30.1/csi-azuredisk-controller.yaml
  deploy/v1.30.1/csi-azuredisk-driver.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.1/csi-azuredisk-node-windows.yaml
  deploy/v1.30.1/csi-azuredisk-node.yaml
  deploy/v1.30.1/csi-snapshot-controller.yaml
  deploy/v1.30.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: refine GetFreeSpace call on Windows
  pkg/mounter/safe_mounter_host_process_windows.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
