Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

test: run windows ut with host process enabled
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.31.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.31.0/azuredisk-csi-driver-1.31.0.tgz
  charts/v1.31.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.0/azuredisk-csi-driver/values.yaml
  deploy/v1.31.0/crd-csi-snapshot.yaml
  deploy/v1.31.0/csi-azuredisk-controller.yaml
  deploy/v1.31.0/csi-azuredisk-driver.yaml
  deploy/v1.31.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.0/csi-azuredisk-node-windows.yaml
  deploy/v1.31.0/csi-azuredisk-node.yaml
  deploy/v1.31.0/csi-snapshot-controller.yaml
  deploy/v1.31.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update version in Makefile on master branch
  Makefile
Due: none

test: add snapshot restore test on xfs file system
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: add CriticalAddonsOnly toleration into controller pod
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.28.11/azuredisk-csi-driver-v1.28.11.tgz
  charts/v1.28.11/azuredisk-csi-driver/values.yaml
  charts/v1.29.10/azuredisk-csi-driver-v1.29.10.tgz
  charts/v1.29.10/azuredisk-csi-driver/values.yaml
  charts/v1.30.5/azuredisk-csi-driver-v1.30.5.tgz
  charts/v1.30.5/azuredisk-csi-driver/values.yaml
  charts/v1.31.0/azuredisk-csi-driver-1.31.0.tgz
  charts/v1.31.0/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.28.11/csi-azuredisk-controller.yaml
  deploy/v1.29.10/csi-azuredisk-controller.yaml
  deploy/v1.31.0/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add tags in snapshot creation
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add pre-defined tags in snapshot creation
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: add CriticalAddonsOnly toleration into controller pod
  charts/latest/azuredisk-csi-driver-v1.29.10.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.29.10/azuredisk-csi-driver-v1.29.10.tgz
  charts/v1.29.10/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.29.10/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add CriticalAddonsOnly toleration into controller pod
  charts/latest/azuredisk-csi-driver-v1.30.5.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.30.5/azuredisk-csi-driver-v1.30.5.tgz
  charts/v1.30.5/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add CriticalAddonsOnly toleration into controller pod
  charts/latest/azuredisk-csi-driver-1.31.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.31.0/azuredisk-csi-driver-1.31.0.tgz
  charts/v1.31.0/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/v1.31.0/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Update OWNERS
  OWNERS
Due: none

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  hack/verify-yamllint.sh
Due: verify-yamllint

doc: support example pod running on arm64 node
  deploy/example/cloning/nginx-pod-restored-cloning.yaml
  deploy/example/daemonset-azuredisk-ephemeral.yaml
  deploy/example/deployment.yaml
  deploy/example/nginx-pod-azuredisk.yaml
  deploy/example/nginx-pod-ephemeral.yaml
  deploy/example/rawblock/README.md
  deploy/example/rawblock/nginx-pod-azuredisk.yaml
  deploy/example/sharedisk/README.md
  deploy/example/sharedisk/deployment.yaml
  deploy/example/snapshot/nginx-pod-restored-snapshot.yaml
  deploy/example/statefulset-nonroot.yaml
  deploy/example/statefulset-nozone.yaml
  deploy/example/statefulset.yaml
  docs/known-issues/node-shutdown-recovery/statefulset-azuredisk.yaml
Due: verify-yamllint

doc: fix yaml index
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: support attach operations after premiumV2 disk migration
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: support attach operations after premiumV2 disk migration
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

fix override vmtype
  pkg/azuredisk/azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

replace powershell cmd with golang api
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: enable more sanity tests
  test/sanity/run-test.sh
Due: none

fix
  pkg/os/volume/volume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Revert "chore: upgrade to base image alpine 3.20.2"
  pkg/azurediskplugin/Dockerfile
Due: none

fix ut
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: upgrade alpine base image to 3.18.9
  pkg/azurediskplugin/Dockerfile
Due: none

fix: CVE-2024-51744
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: verify-gomod

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
