Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: upgrade node-driver-registrar to fix register timeout issue
  charts/README.md
  charts/latest/azuredisk-csi-driver/values.yaml
  charts/v1.30.2/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.2/azuredisk-csi-driver/values.yaml
  charts/v1.30.3/azuredisk-csi-driver-v1.30.3.tgz
  charts/v1.30.3/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.2/csi-azuredisk-node-windows.yaml
  deploy/v1.30.2/csi-azuredisk-node.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.3/csi-azuredisk-node-windows.yaml
  deploy/v1.30.3/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase liveness-proble timeout as 30s on Windows node
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase liveness-probe timeout on Windows node
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade sidecar image versions
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: liveness probe failure when hostNetwork not enabled on linux node
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: increase liveness probe timeout on Windows node
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node-windows.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update static.yaml to avoid .golangci.yml dependency
  .github/workflows/static.yaml
  .golangci.yml
  hack/verify-golint.sh
Due: verify-gomod, verify-yamllint

fix golint and disable staticcheck
  .github/workflows/static.yaml
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azurediskplugin/main.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/azureutils/azure_snapshot_utils.go
  pkg/os/disk/types.go
  pkg/util/util.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix golint and disable staticcheck
  .github/workflows/static.yaml
  pkg/azuredisk/azure_common_linux_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v1.go
  pkg/azuredisk/azuredisk_v1_test.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/nodeserver.go
  pkg/azurediskplugin/main.go
  pkg/csi-common/server.go
  pkg/os/disk/types.go
  pkg/util/util.go
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_tag_tester.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/e2e/testsuites/testsuites.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, unit-test

fix: liveness probe failure when hostNetwork not enabled on linux node
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: liveness probe failure when hostNetwork not enabled on linux node
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update max data disk num table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add extra-create-metadata=true on snapshot sidecar
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: ignore snapshot keys in snapshot storage class
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test extend timeout
  test/external-e2e/run.sh
Due: none

test
  test/external-e2e/run.sh
Due: none

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/vertical-pod-autoscaler.yaml
Due: verify-yamllint

fix golint
  deploy/example/vpa/README.md
Due: none

chore: update max data disk count table
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update max data disk num for v6 vm sku
  pkg/azuredisk/azure_dd_max_disk_count.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: add extra-create-metadata=true on snapshot sidecar
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

doc: cut v1.28.12 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.28.11.tgz
  charts/latest/azuredisk-csi-driver-v1.28.12.tgz
  charts/v1.28.12/azuredisk-csi-driver-v1.28.12.tgz
  charts/v1.28.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.28.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.28.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.28.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.28.12/azuredisk-csi-driver/values.yaml
  deploy/v1.28.12/crd-csi-snapshot.yaml
  deploy/v1.28.12/csi-azuredisk-controller.yaml
  deploy/v1.28.12/csi-azuredisk-driver.yaml
  deploy/v1.28.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.28.12/csi-azuredisk-node-windows.yaml
  deploy/v1.28.12/csi-azuredisk-node.yaml
  deploy/v1.28.12/csi-snapshot-controller.yaml
  deploy/v1.28.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.28.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.28.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.28.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.30.5 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.4.tgz
  charts/latest/azuredisk-csi-driver-v1.30.5.tgz
  charts/v1.30.5/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.5/azuredisk-csi-driver-v1.30.5.tgz
  charts/v1.30.5/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.5/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.5/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.5/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.5/azuredisk-csi-driver/values.yaml
  deploy/v1.30.5/crd-csi-snapshot.yaml
  deploy/v1.30.5/csi-azuredisk-controller.yaml
  deploy/v1.30.5/csi-azuredisk-driver.yaml
  deploy/v1.30.5/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.5/csi-azuredisk-node-windows.yaml
  deploy/v1.30.5/csi-azuredisk-node.yaml
  deploy/v1.30.5/csi-snapshot-controller.yaml
  deploy/v1.30.5/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.5/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.5/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.5.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.29.10 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.29.10.tgz
  charts/latest/azuredisk-csi-driver-v1.29.9.tgz
  charts/v1.29.10/azuredisk-csi-driver-v1.29.10.tgz
  charts/v1.29.10/azuredisk-csi-driver/Chart.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.29.10/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.29.10/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.29.10/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.29.10/azuredisk-csi-driver/values.yaml
  deploy/v1.29.10/crd-csi-snapshot.yaml
  deploy/v1.29.10/csi-azuredisk-controller.yaml
  deploy/v1.29.10/csi-azuredisk-driver.yaml
  deploy/v1.29.10/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.29.10/csi-azuredisk-node-windows.yaml
  deploy/v1.29.10/csi-azuredisk-node.yaml
  deploy/v1.29.10/csi-snapshot-controller.yaml
  deploy/v1.29.10/rbac-csi-azuredisk-controller.yaml
  deploy/v1.29.10/rbac-csi-azuredisk-node.yaml
  deploy/v1.29.10/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.29.10.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add vpa script
  deploy/example/vpa/install-vpa.sh
Due: none

fix
  deploy/example/vpa/install-vpa.sh
Due: none

test: run windows ut with host process enabled
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test
