Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

fix: chart index
  charts/index.yaml
  charts/v1.30.5/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.6/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.7/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.9/azuredisk-csi-driver-v1.30.2.tgz
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase snapshot worker-threads from 10 to 100
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase snapshot worker-threads from 10 to 100
  charts/latest/azuredisk-csi-driver-1.32.1.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase snapshot worker-threads from 10 to 100
  charts/latest/azuredisk-csi-driver-1.31.6.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: increase retry-interval-max in snapshot controller
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update snapshot CRD v8.2.0 format
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  deploy/crd-csi-snapshot.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Revert "fix: disable batch attach when hitting MaximumDataDisksExceeded error"
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azure_managedDiskController.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: wait for detach disk finish first
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: detach disk should have more priority than attach disk
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.30.11 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v1.30.10.tgz
  charts/latest/azuredisk-csi-driver-v1.30.11.tgz
  charts/v1.30.11/azuredisk-csi-driver-v1.30.11.tgz
  charts/v1.30.11/azuredisk-csi-driver-v1.30.2.tgz
  charts/v1.30.11/azuredisk-csi-driver/Chart.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.30.11/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.30.11/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.30.11/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.30.11/azuredisk-csi-driver/values.yaml
  deploy/v1.30.11/crd-csi-snapshot.yaml
  deploy/v1.30.11/csi-azuredisk-controller.yaml
  deploy/v1.30.11/csi-azuredisk-driver.yaml
  deploy/v1.30.11/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.30.11/csi-azuredisk-node-windows.yaml
  deploy/v1.30.11/csi-azuredisk-node.yaml
  deploy/v1.30.11/csi-snapshot-controller.yaml
  deploy/v1.30.11/rbac-csi-azuredisk-controller.yaml
  deploy/v1.30.11/rbac-csi-azuredisk-node.yaml
  deploy/v1.30.11/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.30.11.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.31.7 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.31.6.tgz
  charts/latest/azuredisk-csi-driver-1.31.7.tgz
  charts/v1.31.7/azuredisk-csi-driver-1.31.7.tgz
  charts/v1.31.7/azuredisk-csi-driver/Chart.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.31.7/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.31.7/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.31.7/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.31.7/azuredisk-csi-driver/values.yaml
  deploy/v1.31.7/crd-csi-snapshot.yaml
  deploy/v1.31.7/csi-azuredisk-controller.yaml
  deploy/v1.31.7/csi-azuredisk-driver.yaml
  deploy/v1.31.7/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.31.7/csi-azuredisk-node-windows.yaml
  deploy/v1.31.7/csi-azuredisk-node.yaml
  deploy/v1.31.7/csi-snapshot-controller.yaml
  deploy/v1.31.7/rbac-csi-azuredisk-controller.yaml
  deploy/v1.31.7/rbac-csi-azuredisk-node.yaml
  deploy/v1.31.7/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.31.7.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.2 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.1.tgz
  charts/latest/azuredisk-csi-driver-1.32.2.tgz
  charts/v1.32.2/azuredisk-csi-driver-1.32.2.tgz
  charts/v1.32.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.2/azuredisk-csi-driver/values.yaml
  deploy/v1.32.2/crd-csi-snapshot.yaml
  deploy/v1.32.2/csi-azuredisk-controller.yaml
  deploy/v1.32.2/csi-azuredisk-driver.yaml
  deploy/v1.32.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.2/csi-azuredisk-node-windows.yaml
  deploy/v1.32.2/csi-azuredisk-node.yaml
  deploy/v1.32.2/csi-snapshot-controller.yaml
  deploy/v1.32.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add vpa to controller
  deploy/example/vpa/README.md
  deploy/example/vpa/install-components/admission-controller-deployment.yaml
  deploy/example/vpa/install-components/delete-webhook.sh
  deploy/example/vpa/install-components/gencerts.sh
  deploy/example/vpa/install-components/recommender-deployment.yaml
  deploy/example/vpa/install-components/rmcerts.sh
  deploy/example/vpa/install-components/updater-deployment.yaml
  deploy/example/vpa/install-components/vpa-rbac.yaml
  deploy/example/vpa/install-components/vpa-v1-crd-gen.yaml
  deploy/example/vpa/install-components/warn-obsolete-vpa-objects.sh
  deploy/example/vpa/install-vpa.sh
  deploy/example/vpa/uninstall-vpa.sh
  deploy/example/vpa/vertical-pod-autoscaler.yaml
  hack/verify-yamllint.sh
Due: verify-yamllint

fix: adjust attach disk num when hit MaximumDataDisksExceeded error
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/azuredisk.go
  pkg/util/util.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix CVE-2025-22871 in trivy action
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: increase snapshot worker-threads from 100 to 250
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: upgrade snapshot CRD to v8.2.0
  charts/latest/azuredisk-csi-driver-1.32.2.tgz
  charts/latest/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  deploy/crd-csi-snapshot.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-snapshot-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

cleanup: remove DisableUpdateCache flag
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: adopt autolun API
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/mock_virtualmachinescalesetvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: none

vendor: support disk detach using autolun API
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
Due: none

chore: add one log
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: add AttachDetachDataDisks API
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/custom.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azclient/virtualmachinescalesetvmclient/mock_virtualmachinescalesetvmclient/interface.go
Due: verify-gomod

vendor: fix: remove unnecessary get vmss call during disk attach
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: verify-gomod

cleanup: add one log for danling volume issue
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove unnecessary get vmss call during disk attach
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
Due: verify-gomod

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
