Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

fix: increase checkDiskLun throttle threshold from 1s to 10s
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: skip ManagedBy polling after successful VMSS detach
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.33.9 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.8.tgz
  charts/latest/azuredisk-csi-driver-1.33.9.tgz
  charts/v1.33.9/azuredisk-csi-driver-1.33.9.tgz
  charts/v1.33.9/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.9/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.9/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.9/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.9/azuredisk-csi-driver/values.yaml
  deploy/v1.33.9/crd-csi-snapshot.yaml
  deploy/v1.33.9/csi-azuredisk-controller.yaml
  deploy/v1.33.9/csi-azuredisk-driver.yaml
  deploy/v1.33.9/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.9/csi-azuredisk-node-windows.yaml
  deploy/v1.33.9/csi-azuredisk-node.yaml
  deploy/v1.33.9/csi-snapshot-controller.yaml
  deploy/v1.33.9/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.9/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.9/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.9.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

add optional healthcheck for node-driver-registrar
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

update chart tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

update chart tgz
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
Due: verify-helm-chart-files, verify-helm-chart

update chart tgz
  charts/latest/azuredisk-csi-driver-1.33.9.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: make healthcheck bind address conditional on hostNetwork
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update chart tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
Due: verify-helm-chart-files, verify-helm-chart

fix: make healthcheck bind address conditional on hostNetwork
  charts/latest/azuredisk-csi-driver-1.33.9.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: make healthcheck bind address conditional on hostNetwork
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix trivy action failure
  .github/workflows/trivy.yaml
Due: verify-yamllint

fix: use strconv.ParseInt with bitSize 32 to avoid integer overflow
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

refactor: move nodeDriverRegistrar config under node section
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: bump node-driver-registrar liveness probe periodSeconds to 20
  charts/README.md
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

refactor: move nodeDriverRegistrar config under node section
  charts/README.md
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: bump node-driver-registrar liveness probe periodSeconds to 20
  charts/README.md
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update helm chart tgz
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
Due: verify-helm-chart-files, verify-helm-chart

chore: update helm chart tgz
  charts/latest/azuredisk-csi-driver-1.33.9.tgz
Due: verify-helm-chart-files, verify-helm-chart

feat: support changing cachingMode through VolumeAttributeClass
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add cachingMode to sanity ModifyVolume test
  test/sanity/modify-volume-params.yaml
  test/sanity/run-test.sh
Due: verify-yamllint

test: add ModifyVolume sanity test with storage account type change
  test/sanity/modify-volume-params.yaml
  test/sanity/run-test.sh
Due: verify-yamllint

chore: pin all GitHub Actions to full-length commit SHAs
  .github/workflows/codeql-analysis.yml
  .github/workflows/codespell.yml
  .github/workflows/darwin.yaml
  .github/workflows/linux.yml
  .github/workflows/pluto.yaml
  .github/workflows/shellcheck.yaml
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
  .github/workflows/windows.yml
Due: verify-yamllint

doc: cut v1.34.3 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.2.tgz
  charts/latest/azuredisk-csi-driver-1.34.3.tgz
  charts/v1.34.3/azuredisk-csi-driver-1.34.3.tgz
  charts/v1.34.3/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.3/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.3/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.3/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.3/azuredisk-csi-driver/values.yaml
  deploy/v1.34.3/crd-csi-snapshot.yaml
  deploy/v1.34.3/csi-azuredisk-controller.yaml
  deploy/v1.34.3/csi-azuredisk-driver.yaml
  deploy/v1.34.3/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.3/csi-azuredisk-node-windows.yaml
  deploy/v1.34.3/csi-azuredisk-node.yaml
  deploy/v1.34.3/csi-snapshot-controller.yaml
  deploy/v1.34.3/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.3/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.3/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.3.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: helm chart index
  charts/index.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

v1.33.9
  Makefile
Due: none

v1.34.3
  Makefile
Due: none
