Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

vendor: refactor cache refresh
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
Due: none

vendor: refine azure_cache refresh
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
Due: none

feat: increasing kube-client limits
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: add optimistic lun
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: verify-gomod

chore: improve gRPC call logging
  pkg/csi-common/utils.go
  pkg/csi-common/utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: insert back DetachDiskRequest to diskMap when there is error
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

test: reduce external e2e test load
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

feat: add attach-detach-initial-delay-ms driver parameter
  pkg/azuredisk/azuredisk.go
  pkg/azurediskplugin/main.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: second expand volume failure on Ubuntu 22.04
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azuredisk/nodeserver_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: buildx issue with provenance disabled
  Makefile
Due: none

vendor: add detach disk check
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

feat: add dataAccessAuthMode parameter to snapshot storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: fix snapshot test
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

test: add dataAccessAuthMode parameter e2e test
  test/e2e/driver/azuredisk_driver.go
  test/e2e/driver/driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/e2e/testsuites/specs.go
Due: verify-gofmt, verify-govet, verify-gomod

refactor: use function AppendToUpdateCRIFunc
  pkg/controller/attach_detach.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

vendor: revert vmss cache change
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
Due: none

vendor: add disk lun check in attach disk
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

tes: fix golint action failure
  .github/workflows/static.yaml
Due: verify-yamllint

test: increase external load test
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

vendor: add more disk lun check in attach disk
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
Due: none

fix: enhance UpdateCRIWithRetry to fix the cachedClient Get not found issue
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  pkg/controller/attach_detach.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

style: delete duplicated import of k8s.io/apimachinery/pkg/api/errors
  pkg/controller/common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

style: delete duplicated import of package k8s.io/api/core/v1
  pkg/controller/node.go
  pkg/controller/pv.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: limit max shares for all disks
  docs/design-v2.md
  pkg/azureutils/azure_disk_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: update replica attach retry logic
  pkg/controller/attach_detach.go
  pkg/controller/replica.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

style: clean up typo and duplicated imports
  pkg/azureutils/azure_disk_utils_test.go
  test/upgrade/flags.go
  test/utils/node/node_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: enable online expansion external test
  test/external-e2e/manifest/testdriver.yaml
Due: verify-yamllint

chore: add parse max share unit test
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

docs: add docs for different annotations.
  pkg/azureconstants/azure_constants.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

bug: WaitForAttach call should also be able to detach replicas for primary
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/interface_v2.go
  pkg/azuredisk/mockprovisioner/interface.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
  pkg/provisioner/fake_crdprovisioner.go
  test/upgrade/flags.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: add accessModes doc
  README.md
Due: none

test: fix codeql-analysis gh action failure
  .github/workflows/codeql-analysis.yml
Due: verify-yamllint
