Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

test: fix test failure
  .github/workflows/static.yaml
Due: verify-yamllint

doc: cut v1.34.0 release
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/v1.34.0/azuredisk-csi-driver-1.34.0.tgz
  charts/v1.34.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.34.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.34.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.34.0/azuredisk-csi-driver/values.yaml
  deploy/v1.34.0/crd-csi-snapshot.yaml
  deploy/v1.34.0/csi-azuredisk-controller.yaml
  deploy/v1.34.0/csi-azuredisk-driver.yaml
  deploy/v1.34.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.34.0/csi-azuredisk-node-windows.yaml
  deploy/v1.34.0/csi-azuredisk-node.yaml
  deploy/v1.34.0/csi-snapshot-controller.yaml
  deploy/v1.34.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.34.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.34.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.34.0.tgz
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

Add Python dependency lockfile validation
  .github/workflows/python-lockfile.yaml
  Makefile
  hack/requirements.in
  hack/requirements.txt
Due: verify-yamllint

v1.34.0
  Makefile
Due: none

chore: add csi metrics
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Handling dangling detaches in a better way
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: snapshot consistency
  charts/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.34.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  deploy/rbac-csi-azuredisk-node.yaml
  deploy/v1.34.0/rbac-csi-azuredisk-node.yaml
  docs/freeze-unfreeze-implementation.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_option.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/freeze/fsfreeze.go
  pkg/azuredisk/freeze/fsfreeze_listfrozen_test.go
  pkg/azuredisk/freeze/fsfreeze_test.go
  pkg/azuredisk/freeze/volumeattachment_watcher.go
  pkg/azuredisk/freeze/volumeattachment_watcher_test.go
  pkg/azuredisk/freeze_orchestrator.go
  pkg/azuredisk/freeze_orchestrator_init.go
  pkg/azuredisk/freeze_orchestrator_test.go
  pkg/azuredisk/freeze_orchestrator_va_tracker_test.go
  pkg/azuredisk/freeze_watcher.go
  pkg/azuredisk/migration_monitor.go
  pkg/azuredisk/mocksnapshotclient/interface.go
  pkg/azuredisk/mocksnapshotv1/interface.go
  pkg/azuredisk/mockvolumesnapshot/interface.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

fix: retrieve snapshotname from snapshotcontent name
  pkg/azuredisk/freeze_orchestrator.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use tags for snapshotname
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/freeze_orchestrator.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add tests for Instance not found errors
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add log back
  pkg/azuredisk/controllerserver.go
  pkg/metrics/metrics.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fixup
  pkg/metrics/metrics.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update version in Makefile on master branch
  Makefile
Due: none

test: fix CVE-2025-47912 error
  .github/workflows/trivy.yaml
Due: verify-yamllint

chore: upgrade AzureAD lib
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/confidential/confidential.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/base.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/items.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/base/storage/storage.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/accesstokens/accesstokens.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/public/public.go
  vendor/modules.txt
Due: verify-gomod

cleanup: remove unnecessary drop all capability
  charts/latest/azuredisk-csi-driver-1.32.11.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix trivy CVE-2025-61727
  .github/workflows/trivy.yaml
Due: verify-yamllint

fix: CVE-2025-13281
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_darwin.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_linux.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: verify-gomod

fix: ASH static provision segmentation fault
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: create volume failure when requested pvc size is smaller than snapshot disk size
  pkg/azuredisk/azure_managedDiskController.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/fake_azuredisk.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: update snapshot ID handling and add mock snapshot client in volume creation test
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: add csi specific metrics
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/nodeserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: remove some labels
  deploy/example/metrics/README.md
  pkg/azuredisk/controllerserver.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: retry if block device size is taking time to reflect in host
  pkg/azuredisk/nodeserver.go
  pkg/azuredisk/nodeserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

correct provisioner permissions for VAC
  deploy/rbac-csi-azuredisk-controller.yaml
Due: verify-yamllint

doc: cut v1.33.8 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.33.7.tgz
  charts/latest/azuredisk-csi-driver-1.33.8.tgz
  charts/v1.33.8/azuredisk-csi-driver-1.33.8.tgz
  charts/v1.33.8/azuredisk-csi-driver/Chart.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.33.8/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.33.8/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.33.8/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.33.8/azuredisk-csi-driver/values.yaml
  deploy/v1.33.8/crd-csi-snapshot.yaml
  deploy/v1.33.8/csi-azuredisk-controller.yaml
  deploy/v1.33.8/csi-azuredisk-driver.yaml
  deploy/v1.33.8/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.33.8/csi-azuredisk-node-windows.yaml
  deploy/v1.33.8/csi-azuredisk-node.yaml
  deploy/v1.33.8/csi-snapshot-controller.yaml
  deploy/v1.33.8/rbac-csi-azuredisk-controller.yaml
  deploy/v1.33.8/rbac-csi-azuredisk-node.yaml
  deploy/v1.33.8/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.33.8.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: cut v1.32.12 release
  Makefile
  README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-1.32.11.tgz
  charts/latest/azuredisk-csi-driver-1.32.12.tgz
  charts/v1.32.12/azuredisk-csi-driver-1.32.12.tgz
  charts/v1.32.12/azuredisk-csi-driver/Chart.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.32.12/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.32.12/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.32.12/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.32.12/azuredisk-csi-driver/values.yaml
  deploy/v1.32.12/crd-csi-snapshot.yaml
  deploy/v1.32.12/csi-azuredisk-controller.yaml
  deploy/v1.32.12/csi-azuredisk-driver.yaml
  deploy/v1.32.12/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.32.12/csi-azuredisk-node-windows.yaml
  deploy/v1.32.12/csi-azuredisk-node.yaml
  deploy/v1.32.12/csi-snapshot-controller.yaml
  deploy/v1.32.12/rbac-csi-azuredisk-controller.yaml
  deploy/v1.32.12/rbac-csi-azuredisk-node.yaml
  deploy/v1.32.12/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.32.12.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix verify-helm-chart-index.sh
  hack/verify-helm-chart-index.sh
Due: none

test: skip flaky TestConcurrentDetachDisk test
  pkg/azuredisk/azure_controller_common_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Handling dangling detaches in a better way
  pkg/azuredisk/azure_controller_common.go
  pkg/azuredisk/azure_controller_common_test.go
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
