Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

verify-gofmt:
  name: Verify Go Formatting
  entry: ./hack/verify-gofmt.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-govet:
  name: Vet Go Code
  entry: ./hack/verify-govet.sh
  pass_filenames: false
  language: system
  stages:
  - commit

verify-gomod:
  name: Verify Go Modules
  entry: ./hack/verify-gomod.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-codegen:
  name: Verify Go Code Generation
  entry: ./hack/verify-codegen.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-crd:
  name: Verify Custom Resource Generation
  entry: ./hack/verify-gocrd.sh
  pass_filenames: false
  require_serial: true
  fail_fast: true
  language: system
  stages:
  - commit

verify-yamllint:
  name: Lint YAML Files
  entry: ./hack/verify-yamllint.sh
  pass_filenames: false
  fail_fast: true
  language: system
  stages:
  - commit

verify-helm-chart-files:
  name: Verify Helm Chart Files
  entry: ./hack/verify-helm-chart-files.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

verify-helm-chart:
  name: Verify Helm Chart
  entry: ./hack/verify-helm-chart.sh
  pass_filenames: false
  require_serial: true
  language: system
  stages:
  - commit

unit-test:
  name: Run Unit Tests
  entry: make unit-test
  pass_filenames: false
  fail_fast: true
  require_serial: true
  language: system
  stages:
  - push

chore: look for the correct pods when getting metrics
  test/utils/azuredisk_log.sh
Due: none

feat: add preferred affinity logic and unit tests for prioritize and filter logic
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  deploy/latest-v2/rbac-csi-azuredisk-controller.yaml
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/azuredisk_v2_test.go
  pkg/controller/common.go
  pkg/controller/common_test.go
  pkg/controller/shared_state.go
  pkg/controller/shared_state_test.go
  pkg/provisioner/crdprovisioner_test.go
  test/latest/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

test: enable test in Windows cluster
  test/e2e/dynamic_provisioning_test.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: scheduler extnder latency conversion for logging
  pkg/azdiskschedulerextender/azdiskschedulerextender_metrics.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: add edgezone fields
  deploy/example/azure.json
Due: none

Update install-driver-on-aks.md
  docs/install-driver-on-aks.md
Due: none

fix: adding cluster provisioner variable
  test/podFailover/workload/chart/templates/workload.yaml
Due: verify-yamllint

test: make maxshares configurable to scale test
  Makefile
  test/scale/azdisk_scale_test.go
  test/scale/flags.go
  test/scale/scale_tester.go
  test/utils/pod/pod_utils.go
  test/utils/volume/vol_utils.go
Due: verify-gofmt, verify-govet, verify-gomod

feat: auto fix in fsck check
  vendor/k8s.io/mount-utils/mount_linux.go
Due: none

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

fix: increase api qps limit of csi-provisioner and csi-attacher
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

feat: backload API DELETE call to deload api server calls upon detachment
  pkg/controller/attach_detach.go
  pkg/controller/attach_detach_test.go
  pkg/controller/azdrivernode_test.go
  pkg/controller/azvolume_test.go
  pkg/controller/common.go
  pkg/controller/replica.go
  pkg/controller/replica_test.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

cleanup: remove unnecessary tp nil check
  pkg/azureutils/azure_snapshot_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: run some functions in goroutines
  test/scale/scale_tester.go
  test/utils/pod/pod_utils.go
  test/utils/volume/vol_utils.go
Due: verify-gofmt, verify-govet, verify-gomod

fix: add nodeDiskAvailabilityMap
  pkg/controller/attach_detach.go
  pkg/controller/azdrivernode.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: fix build issue in azure lib upgrade
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_test.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azuredisk/nodeserver_test.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
  test/e2e/testsuites/dynamically_provisioned_azuredisk_detach_tester.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

doc: cut v1.24.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.24.0.tgz
  charts/v1.24.0/azuredisk-csi-driver-v1.24.0.tgz
  charts/v1.24.0/azuredisk-csi-driver/Chart.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.24.0/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.24.0/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.24.0/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.24.0/azuredisk-csi-driver/values.yaml
  deploy/v1.24.0/crd-csi-snapshot.yaml
  deploy/v1.24.0/csi-azuredisk-controller.yaml
  deploy/v1.24.0/csi-azuredisk-driver.yaml
  deploy/v1.24.0/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.24.0/csi-azuredisk-node-windows.yaml
  deploy/v1.24.0/csi-azuredisk-node.yaml
  deploy/v1.24.0/csi-snapshot-controller.yaml
  deploy/v1.24.0/rbac-csi-azuredisk-controller.yaml
  deploy/v1.24.0/rbac-csi-azuredisk-node.yaml
  deploy/v1.24.0/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.24.0.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.24.0.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: fix kubeclient configuration in Helm chart
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: snapshot client fix
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/internal/diff/diff.go
  vendor/github.com/google/go-cmp/cmp/internal/value/zero.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/google/go-cmp/cmp/report_slices.go
  vendor/github.com/google/go-cmp/cmp/report_text.go
  vendor/github.com/onsi/gomega/.gitignore
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/format/format.go
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/internal/assertion.go
  vendor/github.com/onsi/gomega/internal/async_assertion.go
  vendor/github.com/onsi/gomega/internal/duration_bundle.go
  vendor/github.com/onsi/gomega/internal/gomega.go
  vendor/github.com/onsi/gomega/internal/polling_signal_error.go
  vendor/github.com/onsi/gomega/types/types.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/snapshotclient/interface.go
Due: verify-gomod

chore: switch master branch version
  Makefile
Due: none

chore: add caller to WaitFor(Attach|Detach)
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: adding script to generate vm sku to map local file.
  Makefile
  pkg/azureutils/azure_dd_max_disk_count.go
  pkg/tool/gen-disk-skus-map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: enable controller pod customization
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: add template for testing cluster-autoscaler
  test/e2e/manifest/cluster-autoscaler.json
Due: none

chore: make csi attacher and provisioner qps and burst configurable
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver/azuredisk-csi-driver-v2.0.0-beta.8.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/latest-v2/azuredisk-csi-driver/values.yaml
  deploy/latest-v2/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

test: fix default artifacts directory
  Makefile
  test/const/test_consts.go
Due: verify-gofmt, verify-govet, verify-gomod

chore: increasing timeout for csi provisioner
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.9.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  deploy/latest-v2/csi-azuredisk-controller.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: fix CrdProvisioner.UnpublishVolume workflow result reporting
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: use correct context for delete of AzVolumeAttachment on detach
  pkg/controller/attach_detach.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: cloud-provisioner should always report through result channel before returning
  pkg/provisioner/cloudprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: reduce workflow logging verbosity
  pkg/azureutils/azure_disk_utils.go
  pkg/controller/attach_detach.go
  pkg/controller/azvolume.go
  pkg/controller/shared_state.go
  pkg/provisioner/crdprovisioner.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

feat: adding mount replica managed resource
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-scheduler-extender.yaml
  deploy/example/azdiskschedulerextender/nginx-pod-with-azschedulerextender.yaml
  deploy/example/failover/README.md
  hack/verify-helm-chart-files.sh
  test/resources/deployment.go
  test/resources/pod.go
  test/resources/statefulset.go
  test/utils/testutil/env_utils.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: add max-nodes to cluster-autoscaler template
  test/e2e/manifest/cluster-autoscaler.json
Due: none

Vendor changes
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/RELEASING.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/azure_vmssvmclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/vmssvmclient/mockvmssvmclient/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/nodemanager/nodemanager.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_mock_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmsets.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/util/deepcopy/deepcopy.go
Due: verify-gomod

test: use `T.Setenv` to set env vars in tests
  pkg/azuredisk/azuredisk_test.go
  pkg/azureutils/azure_disk_utils_test.go
  test/integration/integration_test.go
  test/sanity/sanity_test.go
  test/utils/credentials/credentials_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Path conditions:
  verify-gofmt: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-govet: any of: \.go$ and not (^vendor/) and not (vendor/)
  verify-gomod: any of: (^vendor/)|(^go.mod)|(^go.sum)|\.go, but not: vendor/
  verify-codegen: any of: ^pkg/api/, but not: vendor/
  verify-crd: any of: ^pkg/api/(azuredisk|config)/, but not: vendor/
  verify-yamllint: any of: \.(yaml|yml)$ and not (^vendor/) and not (vendor/)
  verify-helm-chart-files: any of: ^charts/, but not: vendor/
  verify-helm-chart: any of: ^charts/, but not: vendor/
  unit-test: any of: ^pkg/|^test/utils/credentials and \.go$ and not (vendor/)
