Repository kubernetes-sigs/azuredisk-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-gofmt, verify-govet, verify-gomod, verify-codegen, verify-crd, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "vendor/"
repos:
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.32.1
    hooks:
    -   id: commitizen
        stages: [ commit-msg ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        stages: [ commit ]
-   repo: local
    hooks:
    -   id: verify-gofmt
        name: Verify Go Formatting
        entry: ./hack/verify-gofmt.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-govet
        name: Vet Go Code
        entry: ./hack/verify-govet.sh
        types: [ go ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-gomod
        name: Verify Go Modules
        entry: ./hack/verify-gomod.sh
        types: [ file ]
        files: '(^vendor/)|(^go.mod)|(^go.sum)|\.go'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-codegen
        name: Verify Go Code Generation
        entry: ./hack/verify-codegen.sh
        types: [ file ]
        files: '^pkg/api/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-crd
        name: Verify Custom Resource Generation
        entry: ./hack/verify-gocrd.sh
        types: [ file ]
        files: '^pkg/api/(azuredisk|config)/'
        pass_filenames: false
        require_serial: true
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-yamllint
        name: Lint YAML Files
        entry: ./hack/verify-yamllint.sh
        types: [ yaml ]
        exclude: '^vendor/'
        pass_filenames: false
        fail_fast: true
        language: system
        stages: [ commit ]
    -   id: verify-boilerplate
        name: Verify File Boilerplate
        entry: ./hack/verify-boilerplate.sh
        types: [ go, makefile, python, shell ]
        exclude: '^vendor/'
        pass_filenames: false
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart-files
        name: Verify Helm Chart Files
        entry: ./hack/verify-helm-chart-files.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: verify-helm-chart
        name: Verify Helm Chart
        entry: ./hack/verify-helm-chart.sh
        types: [ file ]
        files: '^charts/'
        pass_filenames: false
        require_serial: true
        language: system
        stages: [ commit ]
    -   id: unit-test
        name: Run Unit Tests
        entry: "make unit-test"
        types: [go]
        files: '^pkg/|^test/utils/credentials'
        pass_filenames: false
        fail_fast: true
        require_serial: true
        language: system
        stages: [ push ]

chore: update for k8s.io/client-go/tools/cache API changes
  pkg/azdiskschedulerextender/azdiskschedulerextender.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/controller/common_test.go
  pkg/provisioner/crdprovisioner.go
  pkg/provisioner/crdprovisioner_test.go
  pkg/watcher/conditionwatcher.go
  test/crd/controller/main.go
  test/integration/controller/controller_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update generated azdisk API code
  pkg/apis/client/clientset/versioned/clientset.go
  pkg/apis/client/informers/externalversions/factory.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: update predicate function of node controller
  pkg/controller/node.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

chore: update driver version to v1.26.1
  Makefile
Due: none

doc: cut v1.26.1 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.1.tgz
  charts/v1.26.1/azuredisk-csi-driver-v1.26.1.tgz
  charts/v1.26.1/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.1/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.1/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.1/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.1/azuredisk-csi-driver/values.yaml
  deploy/v1.26.1/crd-csi-snapshot.yaml
  deploy/v1.26.1/csi-azuredisk-controller.yaml
  deploy/v1.26.1/csi-azuredisk-driver.yaml
  deploy/v1.26.1/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.1/csi-azuredisk-node-windows.yaml
  deploy/v1.26.1/csi-azuredisk-node.yaml
  deploy/v1.26.1/csi-snapshot-controller.yaml
  deploy/v1.26.1/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.1/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.1/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.1.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.1.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: update driver version
  Makefile
Due: none

fix: update uninstallation path in replica.go
  pkg/controller/replica.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Update pv-azuredisk-csi.yaml
  deploy/example/pv-azuredisk-csi.yaml
Due: verify-yamllint

fix: prevent requesting replica attachment twice for one volume
  pkg/controller/common.go
  pkg/controller/replica.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: only count replicas w/t deletion timestamp
  pkg/azuredisk/azuredisk_v2.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: remove non-candidateNodes from replicaNodes
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: only initialize perf optimization on node driver
  charts/index.yaml
  charts/latest-v2/azuredisk-csi-driver-v2.0.0-beta.11.tgz
  charts/latest-v2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  pkg/azuredisk/azuredisk_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, verify-yamllint, verify-helm-chart-files, verify-helm-chart, unit-test

refactor: relocate getVolumeCapabilityFromPv
  pkg/controller/azvolume.go
  pkg/controller/shared_state.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: delete the unnecessary increment of numRecovered in recoverAzVolume
  pkg/controller/azvolume.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

Add missing v5 D & E SKUs to map
  pkg/optimization/azure_skus_map.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: panic when allow-empty-cloud-config is set
  pkg/azuredisk/azuredisk.go
  pkg/azuredisk/azuredisk_test.go
  pkg/azuredisk/azuredisk_v2.go
  pkg/azuredisk/fake_azuredisk.go
  pkg/azuredisk/fake_azuredisk_v2.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

fix: switch base image to fix CVEs
  pkg/azurediskplugin/Dockerfile
Due: none

Update README.md
  deploy/example/volumelimits/README.md
Due: none

doc: cut v1.26.2 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.2.tgz
  charts/v1.26.2/azuredisk-csi-driver-v1.26.2.tgz
  charts/v1.26.2/azuredisk-csi-driver/Chart.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/NOTES.txt
  charts/v1.26.2/azuredisk-csi-driver/templates/_helpers.tpl
  charts/v1.26.2/azuredisk-csi-driver/templates/crd-csi-snapshot.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-azuredisk-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-azuredisk-driver.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows-hostprocess.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/csi-snapshot-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/rbac-csi-azuredisk-node.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/rbac-csi-snapshot-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/serviceaccount-csi-azuredisk-node.yaml
  charts/v1.26.2/azuredisk-csi-driver/templates/serviceaccount-csi-snapshot-controller.yaml
  charts/v1.26.2/azuredisk-csi-driver/values.yaml
  deploy/v1.26.2/crd-csi-snapshot.yaml
  deploy/v1.26.2/csi-azuredisk-controller.yaml
  deploy/v1.26.2/csi-azuredisk-driver.yaml
  deploy/v1.26.2/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/v1.26.2/csi-azuredisk-node-windows.yaml
  deploy/v1.26.2/csi-azuredisk-node.yaml
  deploy/v1.26.2/csi-snapshot-controller.yaml
  deploy/v1.26.2/rbac-csi-azuredisk-controller.yaml
  deploy/v1.26.2/rbac-csi-azuredisk-node.yaml
  deploy/v1.26.2/rbac-csi-snapshot-controller.yaml
  docs/install-azuredisk-csi-driver.md
  docs/install-csi-driver-v1.26.2.md
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

doc: use latest version for master branch
  charts/index.yaml
  charts/latest/azuredisk-csi-driver-v0.0.0.tgz
  charts/latest/azuredisk-csi-driver-v1.26.2.tgz
  charts/latest/azuredisk-csi-driver/Chart.yaml
  charts/latest/azuredisk-csi-driver/values.yaml
  deploy/csi-azuredisk-controller.yaml
  deploy/csi-azuredisk-driver.yaml
  deploy/csi-azuredisk-node-windows-hostprocess.yaml
  deploy/csi-azuredisk-node-windows.yaml
  deploy/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

fix: incorrect driver version in CSIDriver
  deploy/csi-azuredisk-driver.yaml
  deploy/v1.21.0/csi-azuredisk-driver.yaml
  deploy/v1.22.0/csi-azuredisk-driver.yaml
  deploy/v1.23.0/csi-azuredisk-driver.yaml
  deploy/v1.24.0/csi-azuredisk-driver.yaml
  deploy/v1.25.0/csi-azuredisk-driver.yaml
  deploy/v1.26.0/csi-azuredisk-driver.yaml
  deploy/v1.26.1/csi-azuredisk-driver.yaml
Due: verify-yamllint

Add metrics port to azuredisk-node manifests
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node-windows.yaml
  charts/latest/azuredisk-csi-driver/templates/csi-azuredisk-node.yaml
Due: verify-yamllint, verify-helm-chart-files, verify-helm-chart

chore: switch master branch version
  Makefile
Due: none

use private vendor
  go.mod
  go.sum
  vendor/golang.org/x/sync/LICENSE
  vendor/golang.org/x/sync/PATENTS
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/golang.org/x/time/AUTHORS
  vendor/golang.org/x/time/CONTRIBUTORS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/k8s.io/klog/v2/klogr/README.md
  vendor/k8s.io/klog/v2/klogr/klogr.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/azure_armclient.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/batch.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/interface.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/metrics.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/types.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/batch/utils.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/cache/azure_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/metrics/azure_batch_metrics.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/metrics/azure_metrics.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_common.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_fakes.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/config/azure_ratelimit.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/mockfutureparser.go
Due: verify-gomod

use fixed delay time
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure.go
Due: none

Update README.md
  deploy/example/snapshot/README.md
Due: none

Update README.md
  docs/known-issues/node-shutdown-recovery/README.md
Due: none

test: use go install to install ginkgo
  test/external-e2e/run.sh
Due: none

chore: use go install to install ginkgo
  test/external-e2e/run.sh
Due: none

build: disable provenance attestation to work around docker manifest issue
  Makefile
Due: none

Update driver-parameters.md
  docs/driver-parameters.md
Due: none

feat: add dataAccessAuthMode parameter to snapshot storage class
  docs/driver-parameters.md
  pkg/azureconstants/azure_constants.go
  pkg/azuredisk/controllerserver.go
  pkg/azuredisk/controllerserver_v2.go
  pkg/azureutils/azure_disk_utils.go
  pkg/azureutils/azure_disk_utils_test.go
Due: verify-gofmt, verify-govet, verify-gomod, unit-test

test: add dataAccessAuthMode parameter e2e test
  test/e2e/driver/azuredisk_driver.go
  test/e2e/driver/driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
  test/e2e/testsuites/specs.go
Due: verify-gofmt, verify-govet, verify-gomod

test: fix snapshot test
  test/e2e/testsuites/dynamically_provisioned_volume_snapshot_tester.go
Due: verify-gofmt, verify-govet, verify-gomod

doc: update caching mode doc for PremiumV2_LRS
  docs/driver-parameters.md
Due: none
